<template>
    <div>
        <Alert v-model="alert.show" :status="alert.status" :title="alert.title" :message="alert.message" :response="alert.response" />

        <Modal v-model="profileModal" :isEager="true">
            <Loader :show="profileModalLoader"/>
            <div class="text-xl font-medium capitalize">{{ profileModalAct }} Admin</div>
            <div class="flex flex-col gap-4 my-5">
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex-1">
                        <label>First Name</label>
                        <input type="text" class="input" v-model="profileModalData.fname">
                    </div>
                    <div class="flex-1">
                        <label>Middle Name</label>
                        <input type="text" class="input" v-model="profileModalData.mname">
                    </div>
                    <div class="flex-1">
                        <label>Last Name</label>
                        <input type="text" class="input" v-model="profileModalData.lname">
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex-1">
                        <label>Username</label>
                        <input type="text" class="input" v-model="profileModalData.username">
                    </div>
                    <div class="flex-1">
                        <label>Admin Level</label>
                        <select class="input" v-model="profileModalData.level">
                            <option value="0">Viewer</option>
                            <option value="1">Admin 1</option>
                            <option value="2">Admin 2</option>
                        </select>
                    </div>
                </div>
                <div v-if="profileModalAct == 'add'" class="text-sm italic">
                    Default password is 12345
                </div>
            </div>
            <div class="flex justify-end gap-3 mt-5">
                <button class="button" @click="profileModal = false">Cancel</button>
                <button class="button button-green" @click="submitProfile()">Submit</button>
            </div>
        </Modal>

        <div class="text-lg uppercase font-bold my-2">Admins</div>
        <div class="relative">
            <Loader :show="adminsLoader"/>
            <div class="bg-white rounded shadow-md mb-4">
                <div class="flex justify-between p-4 gap-4">
                    <div class="font-medium">Active Admins</div>
                    <div>
                        <button class="button-blue" @click="setProfileModal()">Add Admin</button>
                    </div>
                </div>
                <div class="overflow-x-auto">
                    <table class="table">
                        <thead>
                            <tr class="text-left">
                                <th>Name</th>
                                <th>Username</th>
                                <th>Level</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(a, i) in active" :key="i">
                                <td>{{ a.fullname }}</td>
                                <td>{{ a.username }}</td>
                                <td>{{ a.level_str }}</td>
                                <td class="collapse">
                                    <div class="flex gap-2 text-sm">
                                        <button class="button" title="12345 is the default" @click="resetPassword(a.id)">Reset Password</button>
                                        <button class="button" @click="setProfileModal('edit', a)"><i class="fas fa-pencil-alt"></i></button>
                                        <button class="button-red" @click="setStatus(a)" title="Deactivate"><i class="fas fa-user-slash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="bg-white rounded shadow-md p-4">
                <div class="font-medium mb-4">Deactivated Admins</div>
                <div class="flex flex-wrap gap-4">
                    <div v-for="(a, i) in inactive" :key="i">
                        <div class="shadow-md p-2 rounded border border-solid border-gray-300 flex items-center gap-2">
                            <div>{{ a.halfname }}</div>
                            <div>
                                <button class="button text-xs" @click="setStatus(a)">Activate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import Modal from '~/components/Utilities/Modal.vue'
import Loader from '~/components/Utilities/Loader.vue'
import Alert from '~/components/Utilities/Alert.vue'
export default {
    components: { Alert, Loader, Modal },
    data () {
        return {
            admins: [],
            adminsLoader: false,

            profileModal: false,
            profileModalLoader: false,
            profileModalAct: 'add',
            profileModalData: {},

            alert: {
                show: false,
                status: 'info'
            }
        }
    },
    created () {
        document.title = 'Admins | Topadminportal'
        this.getAdmins()
    },
    methods: {
        setProfileModal (act='add', data={}) {
            this.profileModalData = {...data}
            this.profileModalAct = act
            this.profileModal = true
        },
        submitProfile () {
            this.profileModalLoader = true
            const msg = (this.profileModalAct == 'add') ? 'added' : 'edited'
            API.post('/admin_create_update', this.profileModalData)
                .then(() => {
                    this.profileModalLoader = false
                    this.profileModal = false
                    this.alert = {
                        show: true,
                        status: 'success',
                        title: `Admin ${msg} successfully!`
                    }
                    this.getAdmins()
                })
                .catch(() => {
                    this.profileModalLoader = false
                })
        },
        resetPassword (id) {
            this.adminsLoader = true
            API.post('/admin_reset_password', {id})
                .then(() => {
                    this.adminsLoader = false
                    this.alert = {
                        show: true,
                        status: 'success',
                        title: `Password reset successfully!`
                    }
                })
                .catch(() => {
                    this.adminsLoader = false
                })
        },
        setStatus (data) {
            const { id, is_active } = data
            const msg = (is_active >= 1) ? 'deactivated' : 'activated'
            if (is_active >= 1) {
                if (!confirm("Are you sure you want to deactivate this admin?")) return false
            }

            this.adminsLoader = true
            API.post('/admin_deactivate_activate', {id})
                .then(() => {
                    this.getAdmins()
                    this.alert = {
                        show: true,
                        status: 'success',
                        title: `Admin ${msg} successfully!`
                    }
                })
                .catch(() => {
                    this.adminsLoader = false
                })
        },
        getAdmins () {
            this.adminsLoader = true
            API.get('/admins')
                .then(res => {
                    this.adminsLoader = false
                    this.admins = res.data
                })
                .catch(err => {
                    this.adminsLoader = false
                    if (err.response.status == 403) this.$router.push({name:'home'})
                })
        }
    },
    computed: {
        active () {
            return this.admins.filter(el => el.is_active >= 1)
        },
        inactive () {
            return this.admins.filter(el => el.is_active <= 0)
        }
    }
}
</script>