<template>
    <div>
        <div class="text-lg uppercase font-bold my-2">Codes</div>

        <Alert v-model="alert.show" :response="alert.response" :status="alert.status" :title="alert.title" :message="alert.message" />

        <div class="flex flex-col md:flex-row gap-5 mb-5">
            <!-- Generate Codes -->
            <div>
                <div class="bg-white rounded shadow-md p-4 relative">
                    <Loader :show="addDataLoader"/>
                    <div class="font-medium mb-4">Generate Codes</div>
                    <div class="flex flex-col gap-4">
                        <div>
                            <div class="flex flex-col gap-4">
                                <div class="flex gap-2 text-center font-medium">
                                    <div class="flex-1">Packages</div>
                                    <div class="flex-1">Amount</div>
                                </div>
                                <div class="flex gap-4 items-center" v-for="p in packageTypes" :key="p.id">
                                    <div class="flex-1 text-center">{{ p.title }}</div>
                                    <div class="flex-1">
                                        <input type="number" class="input" v-model="addData.packages[p.id]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>Remarks</label>
                            <textarea v-model="addData.remarks" class="input" rows="2"></textarea>
                        </div>
                        <div class="text-right">
                            <button class="button-green" @click="submitCodes()">Generate</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Generated Codes -->
            <div class="flex-1">
                <div class="flex flex-col gap-5 bg-white rounded shadow-md p-4">
                    <div>
                        <div class="p-4 bg-blue-200 rounded flex gap-5 items-center">
                            <i class="fas fa-exclamation text-xl"></i>
                            <div>Please make sure you copy the codes you generate before you generate again or leave this page.</div>
                        </div>
                    </div>
                    <div v-for="(codes, i) in codesAvailable" :key="i">
                        <div class="font-medium mb-3">
                            <div class="flex justify-between items-end gap-2">
                                <span>{{ packageTypes[i].title }}</span>
                                <Clipboard class="text-xs" :data="codes"> <span class="mr-3">Copy</span> </Clipboard>
                            </div>
                        </div>
                        <div class="flex flex-wrap gap-x-4 gap-y-2 text-sm">
                            <div v-for="c in codes" :key="c">
                                <span class="select-all">{{ c }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Summary -->
        <div class="bg-white shadow-md rounded text-sm relative">
            <Loader :show="codesLoader"/>
            <div class="px-4 pt-4">
                <div class="text-lg">
                    Total Codes: <span class="font-medium">{{ numeral(codes.total).format('0,0') }}</span>
                </div>
                <div class="flex flex-col md:flex-row gap-4 my-2">
                    <div>
                        <div class="flex flex-col md:flex-row gap-4">
                            <div>
                                <label>Packages</label>
                                <select class="input" v-model="codesOpts.type">
                                    <option value="0">All</option>
                                    <option v-for="p in packageTypes" :key="p.id" :value="p.strID">{{ p.title }}</option>
                                </select>
                            </div>
                            <div>
                                <label>Used / Unused</label>
                                <select class="input" v-model="codesOpts.used">
                                    <option value="0">All</option>
                                    <option value="1">Used</option>
                                    <option value="2">Unused</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1">
                        <DateRange v-model="codesOpts.dates"/>
                    </div>
                    <div class="flex-1">
                        <div class="flex flex-col md:flex-row gap-4">
                            <div class="flex-1 hidden xl:block"></div>
                            <div class="flex-1">
                                <label>Search Code</label>
                                <input type="text" class="input" v-model="codesOpts.search">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="table">
                    <thead>
                        <tr class="text-left">
                            <th>Code</th>
                            <th>Type</th>
                            <th>Distributor</th>
                            <th>Remarks</th>
                            <th>Created By</th>
                            <th>Created At</th>
                            <th>Used</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(c, i) in codes.data" :key="i">
                            <td class="collapse select-all">{{ c.code }}</td>
                            <td class="collapse">{{ c.type_str }}</td>
                            <td>
                                <div v-if="c.username !== null">
                                    {{ c.username }}
                                    <div class="text-xs text-gray-500 capitalize">{{ c.name }}</div>
                                </div>
                                <span v-else>-----</span>
                            </td>
                            <td>
                                <div v-if="c.remarks !== null">{{ c.remarks.remarks }}</div>
                                <div v-else>-----</div>
                            </td>
                            <td>{{ c.admin.halfname }}</td>
                            <td class="collapse">{{ moment(c.created_at).format('lll') }}</td>
                            <td class="collapse text-center">
                                <span v-if="c.username !== null" :title="moment(c.updated_at).format('lll')">{{ moment(c.updated_at).fromNow() }}</span>
                                <span v-else>-----</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="codes.data !== undefined && codes.data.length <= 0" class="p-4 uppercase italic">
                    <i class="fas fa-exclamation mr-3"></i> No data found.
                </div>
                <Pagination class="border-t border-solid border-gray-300" :pages="codes.links" :perPage="codes.per_page" :totalPage="codes.total" @page-click="getCodes" />
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'

import moment from 'moment'
import numeral from 'numeral'
import validate from 'validate.js'

import DateRange from '~/components/Utilities/DateRange.vue'
import Clipboard from '~/components/Utilities/Clipboard.vue'
import Pagination from '~/components/Utilities/Pagination.vue'
import Alert from '~/components/Utilities/Alert.vue'
import Loader from '~/components/Utilities/Loader.vue'

import packageTypes from '~/constants/packageTypes.json'
export default {
  components: { Clipboard, Pagination, DateRange, Alert, Loader },
    data () {
        return {
            packageTypes,
            moment,
            numeral,
            alert: {
                show: false,
                status: 'info'
            },

            addData: {
                packages: {}
            },
            addDataLoader: false,

            codes: {},
            codesOpts: {
                type: 0,
                used: 0,
                search: '',
                dates: {}
            },
            codesLoader: false,

            codesAvailable: {},
        }
    },
    created () {
        document.title = 'Codes | Topadminportal'
        this.getCodes()
    },
    methods: {
        submitCodes () {
            var codes = 0
            Object.values(this.addData.packages).forEach(el => { codes += Number(el) })

            const valid = validate({
                codes: codes,
                ...this.addData
            }, {
                codes: {
                    numericality: {
                        greaterThan: 0,
                        message: 'must atleast 1'
                    },
                },
                remarks: {
                    presence: {
                        allowEmpty: false,
                        message: 'is required'
                    },
                    length: {
                        minimum: 5,
                        message: "must be at least 5 characters"
                    }
                }
            }, {format: 'flat'})
            if (!validate.isEmpty(valid)) {
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Fields Error',
                    message: valid.join('<br>')
                }
                return false
            }

            this.addDataLoader = true
            API.post(`/codes_generate`, this.addData)
            .then(res => {
                this.addDataLoader = false
                this.addData = {packages:{}}
                this.codesAvailable = res.data
            })
            .catch(() => {
                this.addDataLoader = false
            })
        },
        getCodes (page=1) {
            this.codesLoader = true
            API.get(`/codes`, {params: { page, ...this.codesOpts }})
            .then(res => {
                this.codesLoader = false
                this.codes = res.data
            })
            .catch(err => {
                this.codesLoader = false
                if (err.response.status == 403) this.$router.push({name:'home'})
            })
        }
    },
    computed: {
        optsInputDates () {
            var input = ''
            if (this.codesOptsDates !== null) {
                input = `${moment(this.codesOptsDates.start).format('ll')} - ${moment(this.codesOptsDates.end).format('ll')}`                
            }
            return input
        }
    },
    watch: {
        codesOpts: {
            handler () {
                this.getCodes()
            },
            deep: true
        }
    }
}
</script>