<template>
    <div>
        <div class="sticky top-0 bg-red-gradient p-3 z-40">
            <div class="w-full mx-auto xl:w-1/2 lg:w-2/3">
                <SearchMembers @on-select="goToMember"/>
            </div>
        </div>
        <div class="w-full px-2 py-4 mx-auto xl:w-1/2 lg:w-2/3">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
import SearchMembers from '~/components/Admin/Utilities/SearchMembers.vue'
export default {
    components: { SearchMembers },
    methods: {
        goToMember (hashid) {
            const name = this.$route.name
            this.$router.push({
                name: name,
                query: {id: hashid}
            })
        }
    },
}
</script>