<template>
    <div>
        <div class="sticky top-0 bg-red-gradient p-3 z-40">
            <div class="w-full mx-auto xl:w-1/2 lg:w-2/3">
                <div class="flex gap-2">
                    <div><img src="/images/logo.png" class="w-10" alt="logo"></div>
                </div>
            </div>
        </div>
        <div class="w-full px-2 py-4 mx-auto xl:w-1/2 lg:w-2/3">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>