<template>
    <div>
        <div class="text-lg uppercase font-bold my-2">Home</div>

        <div class="flex flex-col md:flex-row gap-4 mb-4">
            <div class="bg-white p-4 shadow-md rounded text-center flex-1">
                <div class="text-3xl">{{ numeral(count.count_members).format('0,0') }}</div>
                <div class="uppercase text-sm text-gray-500">Total Members</div>
            </div>
            <div class="bg-white p-4 shadow-md rounded text-center flex-1">
                <div class="text-3xl">{{ numeral(count.count_networking).format('0,0') }}</div>
                <div class="uppercase text-sm text-gray-500">Total Networking Accounts</div>
            </div>
        </div>

        <div class="font-bold mb-2">Distributor's Profits</div>
        <div class="flex flex-col md:flex-row gap-4 mb-4">
            <div v-for="(p, i) in profitsList" :key="i" class="flex-1">
                <div class="bg-white p-4 shadow-md rounded text-white" :class="p.bg">
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex-1">
                            <div class="font-medium uppercase mb-2">Total {{ p.title }}</div>
                            <div class="text-3xl">{{ numeral(p.available).format('0,0') }}</div>
                            <div class="uppercase text-sm">Total Available Balance</div>
                        </div>
                        <div class="flex-1">
                            <div class="flex flex-col gap-2">
                                <div>
                                    <div class="text-lg">{{ numeral(p.profit).format('0,0') }}</div>
                                    <div class="uppercase text-sm">Total Profits</div>
                                </div>
                                <div>
                                    <div class="text-lg">{{ numeral(p.payout).format('0,0') }}</div>
                                    <div class="uppercase text-sm">Total Payouts</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="font-bold mb-2">Top Distributor</div>
        <div class="bg-white rounded shadow-md relative">
            <Loader :show="loader" />
            <div class="px-4 pt-4">
                <div class="flex flex-col md:flex-row gap-4">
                    <div>
                        <label>Profit Type</label>
                        <select v-model="topDistributorsOpts.sort_by" class="input">
                            <option value="binary_profit">Binary</option>
                            <option value="unilevel_profit">Unilevel</option>
                        </select>
                    </div>
                    <div>
                        <label>Year</label>
                        <select v-model="topDistributorsOpts.profit_year" class="input">
                            <option value="0">All</option>
                            <option v-for="y in companyYears" :key="y">{{ y }}</option>
                        </select>
                    </div>
                    <div class="flex-1">
                        <div class="flex flex-col md:flex-row gap-4">
                            <div class="flex-1">
                                <Address v-model="topDistributorsOpts.address" :clearable="true"/>
                            </div>
                            <div class="flex-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-auto">
                <table class="table">
                    <thead>
                        <tr class="text-left">
                            <th>#</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Profits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(d, i) in topDistributors" :key="i">
                            <td class="collapse">{{ (i+1) }}</td>
                            <td>
                                <a :href="`/topadminportal/panel/distributor/${d.hashid}`" target="_blank">{{ d.halfname }}</a>
                            </td>
                            <td>{{ d.address }}</td>
                            <td>
                                <span v-if="topDistributorsOpts.sort_by == 'binary_profit'">{{ numeral(d.total_profit_binary).format('0,0') }}</span>
                                <span v-else>{{ numeral(d.total_profit_unilevel).format('0,0') }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import { mapState } from 'vuex'
import numeral from 'numeral'

import Address from '~/components/Utilities/Address.vue'
import Loader from '~/components/Utilities/Loader.vue'
import profitTypes from '~/constants/profitTypes.json'
import companyYears from '~/helpers/companyYears.js'
export default {
    components: { Loader, Address },
    data () {
        return {
            numeral,
            companyYears,

            topDistributors: [],
            topDistributorsOpts: {
                sort_by: 'binary_profit',
                profit_year: 0,
                address: {}
            },
            loader: false
        }
    },
    created () {
        document.title = "Home | Topadminportal"
        this.getTopDistributors()
    },
    methods: {
        getTopDistributors () {
            this.loader = true
            API.get('/members_list', {params: this.topDistributorsOpts})
                .then(res => {
                    this.loader = false
                    this.topDistributors = res.data.data
                })
                .catch(() => {
                    this.loader = false
                })
        }
    },
    computed: mapState({
        profitsList (state) {
            const types = profitTypes
            const { total_profits, total_payouts } = state.adminDashboard
            if (!total_profits || !total_payouts) return types

            types.forEach(el => {
                el.profit = total_profits[el.key]
                el.payout = total_payouts[el.key]
                el.available = total_profits[el.key] - total_payouts[el.key]
            })

            return types
        },
        count: state => state.adminDashboard
    }),
    watch: {
        topDistributorsOpts: {
            deep: true,
            handler () {
                this.getTopDistributors()
            }
        }
    }
}
</script>