<template>
    <div>
        <div class="text-lg uppercase font-bold my-2">Distributors</div>
        <div class="bg-white rounded shadow-md text-sm relative">
            <Loader :show="loader"/>
            <div class="px-4 pt-4">
                <div class="text-lg">
                    Total Distributors: <span class="font-medium">{{ numeral(members.total).format('0,0') }}</span>
                </div>
                <div class="flex flex-col xl:flex-row gap-4 my-2">
                    <div class="flex-1">
                        <div class="flex flex-row gap-4">
                            <div>
                                <label>Sort By</label>
                                <select class="input" v-model="membersOpts.sort_by">
                                    <option value="">Most Recent</option>
                                    <option value="binary_profit">Top Binary Profit</option>
                                    <option value="unilevel_profit">Top Unilevel Profit</option>
                                    <option value="purchases">Top Purchases</option>
                                </select>
                            </div>

                            <div v-if="membersOpts.sort_by == ''" class="flex-1">
                                <DateRange v-model="membersOpts.dates"/>
                            </div>
                            <div v-else class="flex-initial">
                                <label>Year Computed</label>
                                <select class="input" v-model="membersOpts.profit_year">
                                    <option value="0">All</option>
                                    <option v-for="y in companyYears" :key="y">{{ y }}</option>
                                </select>
                            </div>
                            
                            <div class="flex-1"></div>
                        </div>
                    </div>
                    <div class="flex-1">
                        <Address v-model="membersOpts.address" :clearable="true"/>
                    </div>
                </div>
            </div>
            <div class="overflow-auto">
                <table class="table">
                    <thead>
                        <tr class="text-left">
                            <th class="collapse">Account #</th>
                            <th>Name</th>

                            <th v-if="membersOpts.sort_by == 'binary_profit'">Binary Profit</th>
                            <th v-else-if="membersOpts.sort_by == 'unilevel_profit'">Unilevel Profit</th>
                            <th v-else-if="membersOpts.sort_by == 'purchases'">Total Purchases</th>

                            <th>Address</th>
                            <th>Contact #</th>
                            <th>Birthdate</th>
                            <th class="text-right">Date Reg.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(m, i) in members.data" :key="i">
                            <td>{{ m.account_id }}</td>
                            <td>
                                <a :href="`/topadminportal/panel/distributor/${m.hashid}`" target="_blank">{{ m.halfname }}</a>
                            </td>

                            <td v-if="membersOpts.sort_by == 'binary_profit'">{{ numeral(m.total_profit_binary).format('0,0') }}</td>
                            <td v-else-if="membersOpts.sort_by == 'unilevel_profit'">{{ numeral(m.total_profit_unilevel).format('0,0') }}</td>
                            <td v-else-if="membersOpts.sort_by == 'purchases'">{{ numeral(m.total_purchases_count).format('0,0') }}</td>

                            <td>{{ m.address }}</td>
                            <td>{{ m.contact_num }}</td>
                            <td>{{ m.bday }}</td>
                            <td class="text-right">{{ moment(m.created_at).format('ll') }}</td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="members.data !== undefined && members.data.length <= 0" class="p-4 uppercase italic">
                    <i class="fas fa-exclamation mr-3"></i> No data found.
                </div>
                <Pagination class="border-t border-solid border-gray-300" :pages="members.links" :perPage="members.per_page" :totalPage="members.total" @page-click="getMembers" />
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import moment from 'moment'
import numeral from 'numeral'

import DateRange from '~/components/Utilities/DateRange.vue'
import Loader from '~/components/Utilities/Loader.vue'
import Pagination from '~/components/Utilities/Pagination.vue'
import Address from '~/components/Utilities/Address.vue'
import companyYears from '~/helpers/companyYears.js'
export default {
    components: { DateRange, Loader, Pagination, Address },
    data () {
        return {
            moment,
            numeral,
            companyYears,

            members: [],
            membersOpts: {
                address: {},
                dates: {},
                sort_by: '',
                profit_year: 0
            },

            loader: false,
        }
    },
    created () {
        document.title = 'Distributors | Topadminportal'
        this.getMembers()
    },
    methods: {
        getMembers (page=1) {
            this.loader = true
            API.get(`/members_list`, {params: { page, ...this.membersOpts }})
            .then(res => {
                this.loader = false
                this.members = res.data
            })
            .catch(() => {
                this.loader = false
            })
        }
    },
    watch: {
        membersOpts: {
            deep: true,
            handler () {
                this.getMembers()
            }
        }
    }
}
</script>