<template>
    <div>
        <div class="text-lg uppercase font-bold my-2">Payouts</div>
        <div class="menu bg-white shadow-md rounded">
            <router-link class="styled item" :to="{name:'payouts_main'}">Main</router-link>
            <router-link class="styled item" :to="{name:'payouts_unpaids'}">Unpaids</router-link>
        </div>
        <div class="mt-2">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
export default {
    created () {
        document.title = 'Payouts | Topadminportal'
    }
}
</script>