<template>
    <div>
        <div class="bg-white rounded shadow-md text-sm relative">
            <Loader :show="loader"/>
            <div class="px-4 pt-4">
                <div class="flex flex-col md:flex-row gap-4 my-2">
                    <div class="flex-initial">
                        <label>Profit Type</label>
                        <select class="input" v-model="unpaidsOpts.profit_type">
                            <option v-for="p in profitTypes" :key="p.id" :value="p.key">{{ p.title }}</option>
                        </select>
                    </div>
                    <div class="flex-1">
                        <div class="flex flex-col md:flex-row gap-4">
                            <div class="flex-1">
                                <Address v-model="unpaidsOpts.address" :clearable="true"/>
                            </div>
                            <div class="flex-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-auto">
                <table class="table">
                    <thead>
                        <tr class="text-left">
                            <th>Name</th>
                            <th>Address</th>
                            <th>Profits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(u, i) in unpaids.data" :key="i">
                            <td>
                                <a :href="`/topadminportal/panel/distributor/${u.hashid}`" class="link" target="_blank">{{ u.halfname }}</a>
                            </td>
                            <td>{{ u.address }}</td>
                            <td>
                                <span v-if="unpaidsOpts.profit_type == 'binary'">{{ numeral(u.total_available_binary).format('0,0') }}</span>
                                <span v-else-if="unpaidsOpts.profit_type == 'unilevel'">{{ numeral(u.total_available_unilevel).format('0,0') }}</span>
                                <span v-else>{{ numeral(u.total_available_fifthpair).format('0,0') }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="unpaids.data !== undefined && unpaids.data.length <= 0" class="p-4 uppercase italic">
                    <i class="fas fa-exclamation mr-3"></i> No data found.
                </div>
                <Pagination class="border-t border-solid border-gray-300" :pages="unpaids.links" :perPage="unpaids.per_page" :totalPage="unpaids.total" @page-click="getUnpaids" />
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import numeral from 'numeral'

import Loader from '~/components/Utilities/Loader.vue'
import Pagination from '~/components/Utilities/Pagination.vue'
import Address from '~/components/Utilities/Address.vue'

import profitTypes from '~/constants/profitTypes.json'
export default {
    components: { Loader, Pagination, Address },
    data () {
        return {
            profitTypes,
            numeral,

            unpaids: {},
            unpaidsOpts: {
                address: {},
                profit_type: 'binary'
            },

            loader: false
        }
    },
    created () {
        this.getUnpaids()
    },
    methods: {
        getUnpaids (page=1) {
            this.loader = true
            API.get('/payouts_unpaids', {params: { page, ...this.unpaidsOpts }})
            .then(res => {
                this.loader = false
                this.unpaids = res.data
            })
            .catch(() => {
                this.loader = false
            })
        }
    },
    watch: {
        unpaidsOpts: {
            deep: true,
            handler () {
                this.getUnpaids()
            }
        }
    }
}
</script>