<template>
    <div>
        <!-- Requested Payouts -->
        <div v-if="requested.total >= 1" class="bg-white shadow-md rounded text-sm relative mb-5 border border-solid border-yellow-600">
            <Loader :show="requestedLoader"/>
            <div class="flex px-4 pt-4 justify-between gap-4">
                <div class="text-lg text-yellow-600">
                    Total Pending Payouts: <span class="font-medium">{{ numeral(requested.total).format('0,0') }}</span>
                </div>
                <div>
                    <button class="button" @click="exportPendingPayout()">Export to MS Word</button>
                </div>
            </div>
            <div class="overflow-auto" id="divToExport">
                <table class="table">
                    <thead>
                        <tr class="text-left">
                            <th>Name</th>
                            <th class="collapse">Profit Type</th>
                            <th class="collapse">Amount</th>
                            <th class="collapse">Fee</th>
                            <th class="collapse">Total</th>
                            <th>Received / Transfered Via</th>
                            <th>Address</th>
                            <th>Remarks</th>
                            <th>Requested At</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(items, prov) in requested.data" :key="prov">
                            <tr class="pointer-events-none">
                                <td colspan="7" class="font-medium">{{ prov }}</td>
                            </tr>
                            <tr v-for="(c, i) in items" :key="i" class="relative">
                                <td>{{ c.members.halfname }}</td>
                                <td>{{ c.profit_type_str }}</td>
                                <td>{{ numeral(c.points).format('0,0') }}</td>
                                <td>{{ numeral(c.fee).format('0,0') }}</td>
                                <td>{{ numeral(c.points - c.fee).format('0,0') }}</td>
                                <td>{{ c.received_via_str }}</td>
                                <td>{{ c.members.address }}</td>
                                <td>{{ c.remarks }}</td>
                                <td>{{ c.requested_at }}</td>
                                <td class="collapse">
                                    <div class="flex gap-2 text-xs">
                                        <button @click="setPendingPayouts(c)" class="button button-blue">Confirm</button>
                                        <button @click="setPendingPayouts(c, 'delete')" class="button button-red"><i class="fas fa-trash" title="Delete"></i></button>
                                    </div>

                                    <div v-if="requestedConfirmed[c.id]">
                                        <div v-if="requestedConfirmed[c.id] == 'confirm'" class="absolute inset-0 bg-green-100 py-2 px-4 font-medium text-green-600">Payout confirmed.</div>
                                        <div v-else class="absolute inset-0 bg-red-100 py-2 px-4 font-medium text-red-600">Payout deleted.</div>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Confirmed Payouts -->
        <div class="bg-white rounded shadow-md text-sm relative">
            <Loader :show="confirmedLoader"/>
            <div class="px-4 pt-4">
                <div class="text-lg">
                    Total Confirmed Payouts: <span class="font-medium">{{ numeral(confirmed.total_sum).format('0,0') }}</span>
                </div>
                <div class="flex flex-col xl:flex-row gap-4 my-2">
                    <div class="flex-1">
                        <div class="flex flex-col md:flex-row gap-4">
                            <div class="flex-1">
                                <div class="flex flex-col md:flex-row gap-4">
                                    <div>
                                        <label>Profit Type</label>
                                        <select class="input" v-model="confirmedOpts.profit_type">
                                            <option value="">All</option>
                                            <option v-for="p in profitTypes" :key="p.id" :value="p.id">{{ p.title }}</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label>Received Via</label>
                                        <select class="input" v-model="confirmedOpts.received_via">
                                            <option value="">All</option>
                                            <option v-for="p in receivedTypes" :key="p.id" :value="p.id">{{ p.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-1">
                                <DateRange v-model="confirmedOpts.dates"/>
                            </div>
                            <div class="flex-1"></div>
                        </div>
                    </div>
                    <div class="flex-1">
                        <Address v-model="confirmedOpts.address" :clearable="true"/>
                    </div>
                </div>
            </div>
            <div class="overflow-auto">
                <table class="table">
                    <thead>
                        <tr class="text-left">
                            <th>Name</th>
                            <th class="collapse">Profit Type</th>
                            <th class="collapse">Amount</th>
                            <th>Received / Transfered Via</th>
                            <th>Address</th>
                            <th>Remarks</th>
                            <th>Requested At</th>
                            <th>Confirmed At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(c, i) in confirmed.data" :key="i">
                            <td>
                                <i  @click="editConfirmedPayout(c)" class="link mr-3 fas fa-edit"></i>
                                <a :href="`/topadminportal/panel/distributor/${c.members.hashid}`" class="link" target="_blank">{{ c.members.halfname }}</a>
                            </td>
                            <td>{{ c.profit_type_str }}</td>
                            <td class="collapse">
                                {{ numeral(c.points).format('0,0') }}
                                <small class="ml-2">(-{{ numeral(c.fee).format('0,0') }})</small>
                            </td>
                            <td>{{ c.received_via_str }}</td>
                            <td>{{ c.members.address }}</td>
                            <td>{{ c.remarks }}
                                <div v-if="c.admin" class="text-xs italic">Confirmed By: {{ c.admin.halfname }}</div>
                            </td>
                            <td class="collapse">{{ c.requested_at }}</td>
                            <td class="collapse">{{ c.confirmed_at }}</td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="confirmed.data !== undefined && confirmed.data.length <= 0" class="p-4 uppercase italic">
                    <i class="fas fa-exclamation mr-3"></i> No data found.
                </div>
                <Pagination class="border-t border-solid border-gray-300" :pages="confirmed.links" :perPage="confirmed.per_page" :totalPage="confirmed.total" @page-click="getConfirmedPayouts" />
            </div>
        </div>
        <PayoutEdit v-model="payoutEditModal" :data="payoutEditData" @onsuccess="getConfirmedPayouts(confirmedPage)" />
    </div>
</template>
<script>
import API from '~/api'
import moment from 'moment'
import numeral from 'numeral'

import DateRange from '~/components/Utilities/DateRange.vue'
import Loader from '~/components/Utilities/Loader.vue'
import Pagination from '~/components/Utilities/Pagination.vue'
import Address from '~/components/Utilities/Address.vue'
import PayoutEdit from '~/components/Members/Utilities/PayoutEdit.vue'

import profitTypes from '~/constants/profitTypes.json'
import receivedTypes from '~/constants/receivedTypes.json'
import exportToWord from '~/helpers/exportToWord'
export default {
    components: { Loader, Pagination, Address, DateRange, PayoutEdit },
    data () {
        return {
            moment,
            numeral,
            profitTypes,
            receivedTypes,

            requested: [],
            requestedLoader: false,
            requestedConfirmed: {},

            confirmed: {},
            confirmedLoader: false,
            confirmedPage: 1,
            confirmedOpts: {
                address: {},
                profit_type: '',
                received_via: '',
                dates: {}
            },

            payoutEditModal: false,
            payoutEditData: {},
        }
    },
    created () {
        this.getConfirmedPayouts()
        this.getRequestedPayouts()
    },
    methods: {
        getRequestedPayouts () {
            API.get('/payouts_requested')
            .then(res => {
                this.requested = res.data
            })
        },
        setPendingPayouts (data, act='confirm') {
            var url = 'payout_confirm'
            if (act == 'delete') {
                url = 'payout_delete'
                if (!confirm('Are you sure want to delete this?')) return false
            }

            this.requestedLoader = true
            API.post(`/${url}`, {
                id: data.id,
            })
            .then(() => {
                this.requestedLoader = false
                this.requestedConfirmed[data.id] = act
                this.$store.commit('decrementRequestPayout')
            })
            .catch(() => {
                this.requestedLoader = false
            })

        },
        getConfirmedPayouts (page=1) {
            this.confirmedPage = page
            this.confirmedLoader = true

            API.get('/payouts_confirmed', {params: { page, ...this.confirmedOpts }})
            .then(res => {
                this.confirmedLoader = false
                this.confirmed = res.data
            })
            .catch(() => {
                this.confirmedLoader = false
            })
        },
        editConfirmedPayout (data) {
            this.payoutEditModal = true
            this.payoutEditData = data
        },
        exportPendingPayout () {
            const { total, data } = this.requested
            
            var tbody = ''
            for (let key in data) {
                const tr = data[key].reduce((prev, c) => {
                    return prev + `
                        <tr>
                            <td>${c.members.halfname}</td>
                            <td>${c.profit_type_str}</td>
                            <td>${numeral(c.points).format('0,0')}</td>
                            <td>${numeral(c.fee).format('0,0')}</td>
                            <td>${numeral(c.points - c.fee).format('0,0')}</td>
                            <td>${c.members.address}</td>
                            <td>${c.received_via_str} <br> ${c.remarks}</td>
                        </tr>
                    `
                }, '')
                tbody += `<tr><td colspan="7"><b>${key}</b></td></tr>${tr}`
            }

            const element = `
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Profit Type</th>
                            <th>Amount</th>
                            <th>Fee</th>
                            <th>Total</th>
                            <th>Address</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>${tbody}</tbody>
                </table>
                <p>Total: <b>${numeral(total).format('0,0')}</b></p>
            `
            exportToWord(element, 'Pending Payouts')
        }
    },
    watch: {
        confirmedOpts: {
            deep: true,
            handler () {
                this.getConfirmedPayouts()
            }
        }
    }
}
</script>