<template>
    <div>
        <Alert v-model="alert.show" :response="alert.response" :status="alert.status" :title="alert.title" :message="alert.message" />
        <ProductChangeImage v-model="uploadImageModal" :id="uploadImageModalID" @onsuccess="getProducts()" />

        <Modal v-model="productsModal" :isEager="true">
            <Loader :show="productsModalLoader"/>
            <div class="text-xl uppercase font-medium">{{ productsModalAct }} Product</div>

            <div class="flex flex-col gap-4 my-5">
                <div>
                    <label>Name</label>
                    <input type="text" v-model="productsModalData.name" class="input">
                </div>
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex-1">
                        <label>Acronym</label>
                        <input type="text" v-model="productsModalData.acronym" class="input">
                    </div>
                    <div class="flex-initial">
                        <label>Description</label>
                        <select class="input" v-model="productsModalData.products_descriptions_id">
                            <option value="0">None</option>
                            <option v-for="(d, i) in descriptions" :key="i" :value="d.id">{{ d.name }}</option>
                        </select>
                    </div>
                    <div class="flex-initial">
                        <label>Category</label>
                        <select class="input capitalize" v-model="productsModalData.category">
                            <option v-for="(c, i) in productsCategories" :key="i" :value="c" class="capitalize">{{ c }}</option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex-1">
                        <label>SRP</label>
                        <input type="number" v-model="productsModalData.price" class="input">
                    </div>
                    <div class="flex-1">
                        <label>DP</label>
                        <input type="number" v-model="productsModalData.price_discounted" class="input">
                    </div>
                </div>
            </div>

            <div class="flex justify-end gap-3 mt-5">
                <button class="button" @click="productsModal = false">Cancel</button>
                <button class="button button-green" @click="submitProduct()">Submit</button>
            </div>
        </Modal>

        <div class="bg-white rounded p-4 shadow-md mb-4 relative">
            <Loader :show="mainLoader"/>
            <div class="flex justify-between gap-4 mb-3">
                <div class="font-medium">Products</div>
                <div>
                    <button class="button-blue" @click="setModalProduct('add')">Add Product</button>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
                <div v-for="(p, i) in products" :key="i" class="p-4 border rounded border-solid border-gray-300">
                    <div class="flex flex-col xl:flex-row gap-2">
                        <div class="flex-1">
                            <div class="h-200px w-full bg-contain bg-center bg-no-repeat" :style="`background-image: url(${p.image_url})`"></div>
                            <div class="text-center mt-2">
                                <button class="button text-sm" @click="openProductChangeImage(p)">Change Image</button>
                            </div>
                        </div>
                        <div class="flex-1">
                            <div class="flex gap-2">
                                <div class="flex-1 font-medium text-lg mb-2">{{ p.name }}</div>
                                <div class="flex-initial">
                                    <span v-if="p.published >= 1" class="p-1 bg-green-500 rounded text-xs text-white">Published</span>
                                    <span v-else class="p-1 bg-red-500 rounded text-xs text-white">Unpublished</span>
                                </div>
                            </div>
                            <table>
                                <tr>
                                    <td class="text-gray-500 collapse pr-3 text-sm">Description :</td>
                                    <td class="font-medium">
                                        <span v-if="p.products_descriptions !== null">{{ p.products_descriptions.name }}</span>
                                        <span v-else class="italic text-gray-600">None</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-gray-500 collapse pr-3 text-sm">Acronym :</td>
                                    <td class="font-medium">{{ p.acronym }}</td>
                                </tr>
                                <tr>
                                    <td class="text-gray-500 collapse pr-3 text-sm">Category :</td>
                                    <td class="font-medium capitalize">{{ p.category }}</td>
                                </tr>
                                <tr>
                                    <td class="text-gray-500 collapse pr-3 text-sm">SRP :</td>
                                    <td class="font-medium">{{ numeral(p.price).format('0,0.00') }}</td>
                                </tr>
                                <tr>
                                    <td class="text-gray-500 collapse pr-3 text-sm">DP :</td>
                                    <td class="font-medium">{{ numeral(p.price_discounted).format('0,0.00') }}</td>
                                </tr>
                            </table>
                            <div class="mt-2 flex justify-end gap-2 text-sm">
                                <button class="button" @click="publishProduct(p.id)">
                                    <span v-if="p.published >= 1">Unpublish</span>
                                    <span v-else>Publish</span>
                                </button>
                                <button class="button" @click="setModalProduct('edit', p)"><i class="fas fa-pencil-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import numeral from 'numeral'

import Modal from '~/components/Utilities/Modal.vue'
import Loader from '~/components/Utilities/Loader.vue'
import Alert from '~/components/Utilities/Alert.vue'
import ProductChangeImage from '~/components/Admin/Utilities/ProductChangeImage.vue'
import productsCategories from '~/constants/productsCategories.json'
export default {
    components: { Alert, Loader, Modal, ProductChangeImage },
    data () {
        return {
            numeral,
            productsCategories,

            descriptions: [],
            products: [],
            productsLoader: false,
            productsModal: false,
            productsModalData: {},
            productsModalLoader: false,
            productsModalAct: 'edit',

            uploadImageModal: false,
            uploadImageModalID: 0,

            mainLoader: false,
            alert: {
                show: false,
                status: 'info'
            }
        }
    },
    created () {
        this.getProducts()
    },
    methods: {
        openProductChangeImage (data) {
            this.uploadImageModal = true
            this.uploadImageModalID = data.id
        },
        getProducts () {
            this.mainLoader = true
            API.get('/products_all')
            .then(res => {
                this.mainLoader = false
                this.products = res.data.products
                this.descriptions = res.data.descriptions
            })
            .catch(() => {
                this.mainLoader = false
            })
        },
        setModalProduct (act, data={}) {
            this.productsModalData = {...data}
            this.productsModalAct = act
            this.productsModal = true
        },
        submitProduct () {
            this.productsModalLoader = true
            const act = (this.productsModalData.id) ? 'edited' : 'added'
            API.post('/product_create_update', this.productsModalData)
            .then(() => {
                this.productsModalLoader = false
                this.productsModal = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: `Product ${act} successfully!`,
                }
                this.getProducts()
            })
            .catch(() => {
                this.productsModalLoader = false
            })
        },
        publishProduct (id) {
            this.mainLoader = true
            API.post('/product_publish', {id})
            .then(() => {
                this.getProducts()
            })
            .catch(() => {
                this.mainLoader = false
            })
        },
    }
}
</script>