<template>
    <div>
        <div class="text-lg uppercase font-bold my-2">Products</div>
        <div class="menu bg-white shadow-md rounded">
            <router-link class="styled item" :to="{name:'products_descriptions'}">Descriptions</router-link>
            <router-link class="styled item" :to="{name:'products_list'}">Products List</router-link>
        </div>
        <div class="mt-2">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
export default {
    created () {
        document.title = 'Products | Topadminportal'
    }
}
</script>