<template>
    <div>
        <Alert v-model="alert.show" :response="alert.response" :status="alert.status" :title="alert.title" :message="alert.message" />
        <Modal v-model="descriptionsModal" :isEager="true">
            <Loader :show="descriptionsModalLoader"/>
            <div class="text-xl font-medium capitalize">{{ descriptionsModalAct }} Description</div>
            <div class="flex flex-col gap-4 my-5">
                <div>
                    <label>Name</label>
                    <input type="text" v-model="descriptionsModalData.name" class="input">
                </div>
                <div>
                    <label>Description</label>
                    <textarea v-model="descriptionsModalData.description" rows="10" class="input"></textarea>
                </div>
            </div>
            <div class="flex justify-end gap-3 mt-5">
                <button class="button" @click="descriptionsModal = false">Cancel</button>
                <button class="button button-green" @click="submitDescription()">Submit</button>
            </div>
        </Modal>
        <div class="bg-white rounded p-4 shadow-md mb-4 relative">
            <Loader :show="mainLoader"/>
            <div class="flex justify-between gap-4 mb-3">
                <div class="font-medium">Product Descriptions</div>
                <div>
                    <button class="button-blue" @click="setModalDescription('add')">Add Description</button>
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <div v-for="(d, i) in descriptions" :key="i">
                    <div class="flex gap-2 mb-2">
                        <div class="flex-1 font-medium">{{ d.name }}</div>
                        <div>
                            <button class="button text-xs" @click="setModalDescription('edit', d)"><i class="fas fa-pencil-alt"></i></button>
                        </div>
                    </div>
                    <div v-html="d.html"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import Modal from '~/components/Utilities/Modal.vue'
import Loader from '~/components/Utilities/Loader.vue'
import Alert from '~/components/Utilities/Alert.vue'
export default {
    components: { Alert, Loader, Modal },
    data () {
        return {
            descriptions: [],
            descriptionsModal: false,
            descriptionsModalData: {},
            descriptionsModalLoader: false,
            descriptionsModalAct: 'edit',

            mainLoader: false,
            alert: {
                show: false,
                status: 'info'
            }
        }
    },
    created () {
        this.getDescriptions()
    },
    methods: {
        getDescriptions () {
            this.mainLoader = true
            API.get('/products_descriptions')
            .then(res => {
                this.mainLoader = false
                this.descriptions = res.data
            })
            .catch(() => {
                this.mainLoader = false
            })
        },
        setModalDescription (act, data={}) {
            this.descriptionsModalData = {...data}
            this.descriptionsModalAct = act
            this.descriptionsModal = true
        },
        submitDescription () {
            this.descriptionsModalLoader = true
            const act = (this.descriptionsModalData.id) ? 'edited' : 'added'
            API.post('/product_description_create_update', this.descriptionsModalData)
            .then(() => {
                this.descriptionsModalLoader = false
                this.descriptionsModal = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: `Product description ${act} successfully!`,
                }
                this.getDescriptions()
            })
            .catch(err => {
                this.descriptionsModalLoader = false
                if (err.response.data.errors !== undefined) this.errors = err.response.data.errors
            })
        }
    }
}
</script>