<template>
    <div>
        <div class="text-lg uppercase font-bold my-2">Purchases</div>
        <div class="bg-white rounded shadow-md text-sm px-4 pt-4 relative">
            <Loader :show="loader"/>
            <div class="mb-4">
                <div class="text-lg">Total Purchases: <span class="font-medium">{{ numeral(purchases.total_sum).format('0,0') }}</span></div>
                <div class="flex flex-col md:flex-row gap-10 my-2">
                    <div class="flex-1">
                        <DateRange v-model="purchasesOpts.dates"/>
                    </div>
                    <div class="flex-1">
                        <Address v-model="purchasesOpts.address" :clearable="true"/>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-4 pb-4">
                <div v-for="(p, i) in purchases.data" :key="i">
                    <div class="flex gap-2 mb-1 flex-col md:flex-row justify-between">
                        <div>
                            <div>
                                <span class="font-medium mr-2">{{ p.name }}</span>
                                <span class="bg-gray-200 px-2 py-1 rounded mr-2">{{ numeral(p.total_amount).format('0,0') }}</span>
                            </div>
                        </div>
                        <div class="text-right">
                            {{ moment(p.purchase_date).format('ll') }}
                            <a class="button text-xs uppercase ml-2" :href="`/topadminportal/panel/distributor/${p.hashid}/purchases`" target="_blank">View</a>
                        </div>
                    </div>
                    <div class="text-gray-600 mb-2">{{ p.address }}</div>
                    <div class="flex flex-col gap-3 border border-gray-200 border-solid rounded p-2 overflow-x-auto text-sm">
                        <div v-for="(item, ii) in p.items" :key="ii">
                            <div class="flex flex-col md:flex-row gap-2">
                                <div class="flex-1">
                                    <div class="flex gap-4 whitespace-nowrap">
                                        <div>{{ item.username }}</div>
                                        <div>
                                            <span class="hidden md:block">{{ item.product.name }}</span>
                                            <span class="block md:hidden">{{ item.product.acronym }}</span>
                                        </div>
                                        <div class="font-medium">
                                            <span class="text-gray-500 uppercase">Price : </span>
                                            {{ numeral(item.price_discounted).format('0,0') }}
                                        </div>
                                        <div class="font-medium">
                                            <span class="text-gray-500 uppercase">Qty : </span>
                                            {{ numeral(item.quantity).format('0,0') }}
                                        </div>
                                        <div class="font-medium">
                                            <span class="text-gray-500 uppercase">Total : </span>
                                            {{ numeral(item.amount).format('0,0') }}
                                        </div>
                                        <div class="font-medium">
                                            <span class="text-gray-500 uppercase">Date : </span>
                                            {{ moment(item.date).format('ll') }}
                                        </div>
                                        <div class="font-medium">
                                            <span class="text-gray-500 uppercase">Time : </span>
                                            {{ moment(item.date_added).format('LT') }}
                                        </div>
                                        <div class="font-medium">
                                            <span class="text-gray-500 uppercase">AR# : </span> {{ item.ar_num }}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-sm">
                                    <span class="text-gray-500 uppercase">Added By : </span>
                                    {{ item.admin.halfname }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="purchases.data !== undefined && purchases.data.length <= 0" class="p-4 uppercase italic">
                <i class="fas fa-exclamation mr-3"></i> No data found.
            </div>
            <div class="overflow-auto">
                <Pagination :pages="purchases.links" :perPage="purchases.per_page" :totalPage="purchases.total" @page-click="getPurchases" />
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import moment from 'moment'
import numeral from 'numeral'

import DateRange from '~/components/Utilities/DateRange.vue'
import Loader from '~/components/Utilities/Loader.vue'
import Pagination from '~/components/Utilities/Pagination.vue'
import Address from '~/components/Utilities/Address.vue'
export default {
    components: { DateRange, Loader, Pagination, Address },
    data () {
        return {
            moment,
            numeral,
            purchases: {},
            purchasesOpts: {
                address: {},
                dates: {}
            },

            loader: false
        }
    },
    created () {
        document.title = 'Purchases | Topadminportal'
        this.getPurchases()
    },
    methods: {
        getPurchases (page=1) {
            this.loader = true
            API.get('/purchase_list', {params: { page, ...this.purchasesOpts }})
            .then(res => {
                this.loader = false
                this.purchases = res.data
            })
            .catch(() => {
                this.loader = false
            })
        }
    },
    watch: {
        purchasesOpts: {
            deep: true,
            handler () {
                this.getPurchases()
            }
        }
    }
}
</script>