<template>
    <div>
        <Alert v-model="alert.show" :response="alert.response" :status="alert.status" :title="alert.title" :message="alert.message" />

        <Modal v-model="modal" :isEager="true">
            <Loader :show="loader"/>
            <div class="text-xl uppercase font-medium">{{ data.fullname }}</div>

            <div class="font-medium mb-4">Change Password</div>
            <div>
                <label>Password</label>
                <input type="text" class="input" v-model="password" autocomplete="off">
            </div>

            <div class="flex justify-end gap-3 mt-4">
                <button class="button" @click="closeModal()">Cancel</button>
                <button class="button-green" @click="submit()">Submit</button>
            </div>
        </Modal>
    </div>
</template>
<script>
import API from '~/api'

import Modal from '~/components/Utilities/Modal.vue'
import Alert from '~/components/Utilities/Alert.vue'
import Loader from '~/components/Utilities/Loader.vue'
export default {
    components: { Alert, Modal, Loader},
    props: {
        modelValue: {type:Boolean, default:false},
        data: Object,
    },
    data () {
        return {
            modal: false,
            loader: false,

            password: '12345',
            alert: {
                show: false,
                status: 'info'
            },
        }
    },
    methods: {
        submit () {
            this.loader = true
            const data = {
                id: this.data.id,
                password: this.password
            }
            API.post(`/member_edit/password`, data)
            .then(res => {
                this.loader = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: 'Password changed successfully!',
                }
                this.closeModal()
                this.$emit('onsuccess', res.data)
            })
            .catch(err => {
                this.loader = false
                if (err.response.data.errors !== undefined) this.errors = err.response.data.errors
            })
        },
        closeModal () {
            this.$emit('update:modelValue', false)
        },
    },
    watch: {
        modelValue (val) {
            this.modal = val
        },
        modal (val) {
            if (!val) this.closeModal()
        },
    }
}
</script>