<template>
    <div>
        <Alert v-model="alert.show" :response="alert.response" :status="alert.status" :title="alert.title" :message="alert.message" />

        <Modal v-model="modal" :isEager="true">
            <Loader :show="loader"/>
            <div class="text-xl uppercase font-medium">{{ data.fullname }}</div>

            <div class="font-medium mb-4">Edit Profile</div>
            <div class="flex flex-col gap-4">
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex-1" :class="{error: errors.fname}">
                        <label>First Name</label>
                        <input type="text" class="input" v-model="dataEdit.fname" autocomplete="off">
                        <div class="italic text-sm mt-2" v-if="errors.fname">
                            <div v-for="(e, i) in errors.fname" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div class="flex-1" :class="{error: errors.mname}">
                        <label>Middle Name</label>
                        <input type="text" class="input" v-model="dataEdit.mname" autocomplete="off">
                        <div class="italic text-sm mt-2" v-if="errors.mname">
                            <div v-for="(e, i) in errors.mname" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div class="flex-1" :class="{error: errors.lname}">
                        <label>Last Name</label>
                        <input type="text" class="input" v-model="dataEdit.lname" autocomplete="off">
                        <div class="italic text-sm mt-2" v-if="errors.lname">
                            <div v-for="(e, i) in errors.lname" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div class="md:flex-initial md:w-40">
                        <label>Suffix <small>Ex. Jr, Sr, II, III</small></label>
                        <input type="text" class="input" v-model="dataEdit.suffix" autocomplete="off">
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex-1" :class="{error: errors.gender}">
                        <label>Gender</label>
                        <select class="input" v-model="dataEdit.gender">
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                        <div class="italic text-sm mt-2" v-if="errors.gender">
                            <div v-for="(e, i) in errors.gender" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div class="flex-1" :class="{error: errors.bday}">
                        <label>Birthdate</label>
                        <DatePicker v-model="dataEdit.bday" :masks="{ input:'MMM DD, YYYY' }">
                            <template v-slot="{ inputValue, inputEvents }">
                                <input type="text" :value="inputValue" v-on="inputEvents" class="input">
                            </template>
                        </DatePicker>
                        <div class="italic text-sm mt-2" v-if="errors.bday">
                            <div v-for="(e, i) in errors.bday" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div class="flex-1" :class="{error: errors.contact_num}">
                        <label>Contact Number</label>
                        <input type="text" class="input" v-model="dataEdit.contact_num" autocomplete="off">
                        <div class="italic text-sm mt-2" v-if="errors.contact_num">
                            <div v-for="(e, i) in errors.contact_num" :key="i">{{ e }}</div>
                        </div>
                    </div>
                </div>
                <div>
                    <Address v-model="dataEdit" :errors="errors" />
                </div>
            </div>

            <div class="flex justify-end gap-3 mt-4">
                <button class="button" @click="closeModal()">Cancel</button>
                <button class="button-green" @click="submit()">Submit</button>
            </div>
        </Modal>
    </div>
</template>
<script>
import API from '~/api'
import validate from 'validate.js'
import { DatePicker } from 'v-calendar'

import Address from '~/components/Utilities/Address.vue'
import Modal from '~/components/Utilities/Modal.vue'
import Alert from '~/components/Utilities/Alert.vue'
import Loader from '~/components/Utilities/Loader.vue'

import profileConstraints from '~/constraints/profileMember'
export default {
    components: { Address, Alert, Modal, Loader, DatePicker},
    props: {
        modelValue: {type:Boolean, default:false},
        data: Object,
    },
    data () {
        return {
            modal: false,
            loader: false,
            errors: {},

            dataEdit: {},
            alert: {
                show: false,
                status: 'info'
            },
        }
    },
    methods: {
        submit () {
            const bday = this.dataEdit.bday
            if (validate.isDate(bday)) this.dataEdit.bday = bday.toDateString()

            const valid = validate(this.dataEdit, profileConstraints)
            if (!validate.isEmpty(valid)) {
                this.errors = valid
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            this.loader = true
            const data = {
                id: this.data.id,
                ...this.dataEdit
            }
            API.post(`/member_edit/profile`, data)
            .then(res => {
                this.loader = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: 'Profile edited successfully!',
                }
                this.closeModal()
                this.$emit('onsuccess', res.data)
            })
            .catch(err => {
                this.loader = false
                if (err.response.data.errors !== undefined) this.errors = err.response.data.errors
            })
        },
        closeModal () {
            this.$emit('update:modelValue', false)
        },
    },
    watch: {
        data (vals) {
            const keys = {
                suffix: '',
                ...profileConstraints
            }
            Object.keys(keys).forEach(el => {
                this.dataEdit[el] = vals[el]
            })
        },
        dataEdit: {
            deep: true,
            handler (vals) {
                const cons = profileConstraints
                for (const key in vals) {
                    this.errors[key] = validate.single(vals[key], cons[key])
                }
            }
        },
        modelValue (val) {
            this.modal = val
        },
        modal (val) {
            if (!val) this.closeModal()
        },
    }
}
</script>