<template>
    <div>
        <Alert v-model="alert.show" :response="alert.response" :status="alert.status" :title="alert.title" :message="alert.message" />

        <Modal v-model="modal" :isEager="true">
            <Loader :show="loader"/>
            <div class="text-xl uppercase font-medium">{{ data.fullname }}</div>

            <div class="font-medium mb-4">Edit Username</div>
            <div :class="{error: error}">
                <input type="text" class="input" v-model="username" autocomplete="off">
                <div class="italic text-sm mt-2" v-if="error">
                    <div v-for="(e, i) in error" :key="i">{{ e }}</div>
                </div>
            </div>

            <div class="flex justify-end gap-3 mt-4">
                <button class="button" @click="closeModal()">Cancel</button>
                <button class="button-green" @click="submit()">Submit</button>
            </div>
        </Modal>
    </div>
</template>
<script>
import API from '~/api'
import validate from 'validate.js'

import Modal from '~/components/Utilities/Modal.vue'
import Alert from '~/components/Utilities/Alert.vue'
import Loader from '~/components/Utilities/Loader.vue'

import usernameConstraints from '~/constraints/username'
export default {
    components: { Alert, Modal, Loader},
    props: {
        modelValue: {type:Boolean, default:false},
        data: Object,
    },
    data () {
        return {
            modal: false,
            loader: false,
            error: undefined,

            username: null,
            alert: {
                show: false,
                status: 'info'
            },
        }
    },
    methods: {
        submit () {
            const valid = validate.single(this.username, usernameConstraints)
            if (!validate.isEmpty(valid)) {
                this.error = valid
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            this.loader = true
            const data = {
                id: this.data.id,
                username: this.username
            }
            API.post(`/member_edit/username`, data)
            .then(res => {
                this.loader = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: 'Username edited successfully!',
                }
                this.closeModal()
                this.$emit('onsuccess', res.data)
            })
            .catch(err => {
                this.loader = false
                if (err.response.data.errors !== undefined) this.error = err.response.data.errors
            })
        },
        closeModal () {
            this.$emit('update:modelValue', false)
        },
    },
    watch: {
        username (val) {
            this.error = validate.single(val, usernameConstraints)
        },
        modelValue (val) {
            this.modal = val
            this.username =  this.data.username
        },
        modal (val) {
            if (!val) this.closeModal()
        },
    }
}
</script>