<template>
    <div class="container mx-auto">
        <Alert v-model="alert.show" :response="alert.response" :status="alert.status" :title="alert.title" :message="alert.message" />
        <Modal v-model="passwordModal" :isSmall="true">
            <Loader :show="passwordLoader"/>
            <div class="text-xl uppercase font-medium">Change Password</div>
            <div class="flex flex-col gap-4 my-5">
                <div :class="{error: passwordErrors.password}">
                    <label>New Password</label>
                    <input type="password" class="input" v-model="passwordData.password">
                    <div class="italic text-sm mt-2" v-if="passwordErrors.password">
                        <div v-for="(e, i) in passwordErrors.password" :key="i">{{ e }}</div>
                    </div>
                </div>
                <div :class="{error: passwordErrors.password_confirmation}">
                    <label>Confirm New Password</label>
                    <input type="password" class="input" v-model="passwordData.password_confirmation">
                    <div class="italic text-sm mt-2" v-if="passwordErrors.password_confirmation">
                        <div v-for="(e, i) in passwordErrors.password_confirmation" :key="i">{{ e }}</div>
                    </div>
                </div>
                <div :class="{error: passwordErrors.password_old}">
                    <label>Old Password</label>
                    <input type="password" class="input" v-model="passwordData.password_old">
                    <div class="italic text-sm mt-2" v-if="passwordErrors.password_old">
                        <div v-for="(e, i) in passwordErrors.password_old" :key="i">{{ e }}</div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end gap-4">
                <button class="button" @click="passwordModal = false">Cancel</button>
                <button class="button-green" @click="submitPassword()">Submit</button>
            </div>
        </Modal>

        <div class="flex items-center gap-3">
            <div class="flex-1">
                <a class="flex gap-2 items-center" href="/">
                    <div>
                        <img src="/images/logo.png" class="w-10" alt="logo">
                    </div>
                    <div class="flex-1 text-white font-medium text-lg hidden md:block">
                        {{ appDetails.title }}
                    </div>
                </a>
            </div>
            <div>
                <div class="dropdown">
                    <div class="text-white font-medium cursor-pointer py-2">
                        <span class="hidden md:inline-block">{{ name }}</span>
                        <span class="inline-block md:hidden">{{ fname }}</span>
                        <i class="ml-3 fas fa-caret-down"></i>
                    </div>
                    <div class="content right-0">
                        <div class="menu-col">
                            <a href="/distributor/logout" class="item">Log Out</a>
                            <a @click="passwordModal = true" class="item">Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import { mapState } from 'vuex'
import validate from 'validate.js'

import Modal from '~/components/Utilities/Modal.vue'
import Loader from '~/components/Utilities/Loader.vue'
import Alert from '~/components/Utilities/Alert.vue'

import passwordChange from '~/constraints/passwordChange.js'
import appDetails from '~/constants/appDetails.json'
export default {
    components: { Modal, Loader, Alert },
    data () {
        return {
            appDetails,
            passwordModal: false,
            passwordLoader: false,
            passwordData: {},
            passwordErrors: {},

            alert: {
                show: false,
                status: 'info'
            }
        }
    },
    methods: {
        submitPassword () {
            const valid = validate(this.passwordData, passwordChange)
            if (!validate.isEmpty(valid)) {
                this.passwordErrors = valid
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            this.passwordLoader = true
            API.post('/member_change_password', this.passwordData)
            .then(res => {
                this.$store.commit('setMemberData', Object.assign(this.member, res.data))
                this.passwordLoader = false
                this.passwordModal = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: 'Password changed successfully'
                }
            })
            .catch(err => {
                this.passwordLoader = false
                if (err.response.data.errors !== undefined) this.passwordErrors = err.response.data.errors
            })
        }
    },
    computed: mapState({
        fname: state => {
            const { fname } = state.memberData
            return (fname) ? fname.replace(/ .*/,'') : ''
        },
        name: state => {
            const { halfname } = state.memberData
            return halfname
        },
        member: state => state.memberData
    }),
    watch: {
        passwordData: {
            deep: true,
            handler (vals) {
                const cons = passwordChange
                for (const key in vals) {
                    if (key != 'password_confirmation') {
                        this.passwordErrors[key] = validate.single(vals[key], cons[key])
                    } else {
                        const { password, password_confirmation } = cons
                        this.passwordErrors[key] = validate(vals, { password, password_confirmation }, {format: 'flat'})
                    }
                }
            }
        }
    }
}
</script>