<template>
    <div class="relative dropdown-container" @focusout="showDropdown = false">
        <button class="button bg-white w-full text-left" :class="{'border-blue-500':showDropdown}" style="min-width:250px" @click="toggleDropdown()">
            <span v-if="username == null" class="text-gray-600">Select Networking Account</span>
            <span v-else>{{ username }}</span>
            
            <span class="float-right ml-3">
                <i v-if="showDropdown" class="fas fa-angle-up"></i>
                <i v-else class="fas fa-angle-down"></i>
            </span>
        </button>
        <transition
            enter-active-class="animate__animated animate__fadeIn"
            leave-active-class="animate__animated animate__fadeOut">
            <div class="absolute w-full max-h-80 overflow-y-auto shadow-lg" style="min-width:250px" v-show="showDropdown">
                <div class="flex flex-col rounded bg-white">
                    <div v-for="(n,i) in networks" :key="i">
                        <div class="px-4 pt-3 uppercase whitespace-nowrap font-medium">{{ n.text }}</div>
                        <div class="pl-3 menu-col">
                            <a class="item" v-for="(c,ci) in n.children" :key="ci" :class="{active:modelValue == c.value}" @click="setSelected(c)">
                                {{ c.text }}
                                <span class="float-right mt-px">
                                    <i v-if="c.status == 1" class="fas fa-check-circle text-blue-500"></i>
                                    <i v-else-if="c.status == 2" class="fas fa-exclamation-circle text-yellow-600"></i>
                                    <i v-else class="fas fa-times-circle text-red-500"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
    props: {
        modelValue: {type:[Number, String], default:0}
    },
    data () {
        return {
            username: null,
            showDropdown: false,
        }
    },
    methods: {
        setSelected (data) {
            this.username = data.text
            this.$emit('update:modelValue', data.value)
        },
        toggleDropdown () {
            this.showDropdown = (this.showDropdown) ? false : true
        }
    },
    computed:mapState({
        networks (state) {
            if (state.memberData.networks === undefined || state.memberData.networks.length <= 0) return {}

            var items = [
                {type:2, text:'7K Binary', children:[]},
                {type:1, text:'3K Binary', children:[]},
                {type:0, text:'2K Millennium', children:[]},
            ]

            state.memberData.networks.forEach(el => {
                var type = items.find(i => i.type == el.type)
                type.children.push({
                    text: el.username,
                    value: el.id,
                    status: el.status
                })
            })
            
            items = items.filter(el => el.children.length >= 1)
            if (this.modelValue <= 0) {
                this.setSelected(items[0].children[0])
                this.showDropdown = false
            }

            return items
        }
    }),
    watch: {
        modelValue (val) {
            if (val <= 0) {
                this.username = null
            }
        },
    }
}
</script>