<template>
    <div>
        <Alert v-model="alert.show" :response="alert.response" :status="alert.status" :title="alert.title" :message="alert.message" />
        <Modal v-model="modal" :isEager="true">
            <Loader :show="loader"/>

            <div class="text-xl uppercase font-medium">Edit {{ data.profit_type_str }} Payout</div>

            <div class="mt-5 flex flex-col gap-4">
                <div>
                    <label>Points</label>
                    <input type="number" class="input" v-model="newData.points">
                </div>
                <div>
                    <label>Remarks</label>
                    <textarea class="input" rows="3" v-model="newData.remarks"></textarea>
                </div>
                <div>
                    <label>Received / Transfered Via</label>
                    <div class="flex flex-wrap gap-x-4 gap-y-2">
                        <div v-for="(r, i) in $store.state.receivedTypes" :key="i">
                            <input type="radio" :id="'editPayoutReceivedVia'+i" name="editPayoutReceivedVia" :value="r.id" v-model="newData.received_via">
                            <label :for="'editPayoutReceivedVia'+i" class="pl-2 link">{{ r.name }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex gap-3 mt-5">
                <div class="flex-1">
                    <button class="button button-red" title="Delete" @click="deletePayout()"><i class="fas fa-trash"></i></button>
                </div>
                <button class="button" @click="closeModal()">Cancel</button>
                <button class="button button-green" @click="submitPayout()">Submit</button>
            </div>
        </Modal>

    </div>
</template>
<script>
import API from '~/api'
import numeral from 'numeral'
import validate from 'validate.js'

import Modal from '~/components/Utilities/Modal.vue'
import Alert from '~/components/Utilities/Alert.vue'
import Loader from '~/components/Utilities/Loader.vue'
export default {
    props: {
        modelValue: {type:Boolean, default:false},
        data: {type:Object, default:{}}
    },
    components: { Modal, Alert, Loader },
    data () {
        return {
            modal:false,
            newData: {},
            constraints: {
                points: {
                    presence: {
                        allowEmpty: false,
                        message: 'is required'
                    },
                    numericality: {
                        greaterThanOrEqualTo: 100,
                        message: "must be at least 100 and above"
                    }
                },
                remarks: {
                    presence: {
                        allowEmpty: false,
                        message: 'is required'
                    },
                    length: {
                        minimum: 5,
                        message: "must be at least 6 characters"
                    }
                }
            },
            
            alert: {
                show: false,
                status: 'info'
            },
            loader: false,
        }
    },
    methods: {
        closeModal () {
            this.$emit('update:modelValue', false)
        },
        submitPayout () {
            const valid = validate(this.newData, this.constraints, {format:'flat'})
            if (!validate.isEmpty(valid)) {
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Fields Error',
                    message: valid.join('<br>')
                }
                return false
            }

            this.loader = true
            API.post('/payout_edit', {
                id: this.data.id,
                data: this.newData
            })
            .then(() => {
                this.loader = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: 'Payout edited successfully!',
                }
                this.closeModal()
                this.$emit('onsuccess')
            })
            .catch(() => {
                this.loader = false
            })
        },
        deletePayout () {
            if (!confirm('Are you sure want to delete this?')) return false

            this.loader = true
            API.post('/payout_delete', {
                id: this.data.id,
            })
            .then(() => {
                this.loader = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: 'Payout deleted successfully!',
                }
                this.closeModal()
                this.$emit('onsuccess')
            })
            .catch(() => {
                this.loader = false
            })
        }
    },
    watch: {
        modelValue (val) {
            this.modal = val
            if (val) {
                this.newData.points = numeral(this.data.points).format('0')
                this.newData.remarks = this.data.remarks
                this.newData.received_via = this.data.received_via
            }
        },
        modal (val) {
            if (!val) this.closeModal()
        }
    }
}
</script>