<template>
    <div>
        <MemberProfileEdit v-model="profileEditModal" :data="member" @onsuccess="setMemberData"/>
        <MemberUsernameEdit v-model="usernameEditModal" :data="member" @onsuccess="setMemberData"/>
        <MemberPasswordEdit v-model="passwordEditModal" :data="member" @onsuccess="setMemberData"/>

        <Modal v-model="profileModal">
            <div class="text-xl uppercase font-bold">Profile</div>
            <div class="text-lg font-semibold">{{ member.fullname }}</div>
            <div class="flex flex-col gap-2 my-5 leading-none">
                <div class="flex-1">
                    <div class="flex gap-4 items-center">
                        <div class="w-5 text-center">
                            <i class="text-2xl text-gray-700 fas fa-key"></i>
                        </div>
                        <div class="flex-1">
                            <div class="text-lg">
                                <span v-if="member.is_password_default" class="text-red-500">Password is default</span>
                                <span v-else class="text-green-600">Password changed</span>
                            </div>
                            <div class="uppercase text-xs text-gray-700">Password</div>
                        </div>
                    </div>
                </div>

                <div v-for="g in profileKeys" :key="g.key">
                    <div class="flex gap-4 items-center">
                        <div class="w-5 text-center">
                            <i class="text-2xl text-gray-700" :class="g.icon"></i>
                        </div>
                        <div class="flex-1">
                            <div class="text-lg select-all">{{ member[g.key] }}</div>
                            <div class="uppercase text-xs text-gray-700">{{ g.title }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button class="button" @click="profileModal = false">Ok</button>
            </div>
        </Modal>

        <div>
            <div class="text-center md:text-left pt-3">
                <span class="text-xl md:text-2xl font-semibold whitespace-normal break-words">{{ member.fullname }}</span>
            </div>

            <div class="flex gap-y-4 gap-x-10 my-4 flex-col xl:flex-col md:flex-row">
                <div class="flex-1">
                    <div class="flex flex-row xl:flex-col gap-2">
                        <div class="flex-1">
                            <button class="button w-full block xl:hidden" @click="profileModal =  true">Profile</button>
                        </div>
                        <div class="flex-1">
                            <button class="button w-full" @click="goToGenealogy()">Genealogy</button>
                        </div>
                    </div>
                </div>
                <div class="flex-1" v-if="isAdmin">
                    <div class="flex gap-2">
                        <button class="button button-blue flex-1" @click="profileEditModal = true">Edit Profile</button>
                        <div class="dropdown">
                            <button class="button"><i class="fas fa-ellipsis-h"></i></button>
                            <div class="content right-0">
                                <div class="menu-col">
                                    <a @click="usernameEditModal = true" class="item">Edit Username</a>
                                    <a @click="passwordEditModal = true" class="item">Change Password</a>
                                    <a :href="`/topadminportal/forms/modify_network?id=${member.hashid}`" class="item" target="_blank">Modify Networking</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <button class="button-green w-full" @click="goToRequestPayout()">Request Payout</button>
                </div>
            </div>

        </div>

        <!-- General Information -->
        <div class="hidden xl:block">
            <div class="flex flex-col gap-2 mt-4 leading-none">
                <div class="flex-1">
                    <div class="flex gap-4 items-center">
                        <div class="w-5 text-center">
                            <i class="text-2xl text-gray-700 fas fa-key"></i>
                        </div>
                        <div class="flex-1">
                            <div class="text-lg">
                                <span v-if="member.is_password_default" class="text-red-500">Password is default</span>
                                <span v-else class="text-green-600">Password changed</span>
                            </div>
                            <div class="uppercase text-xs text-gray-700">Password</div>
                        </div>
                    </div>
                </div>

                <div v-for="g in profileKeys" :key="g.key">
                    <div class="flex gap-4 items-center">
                        <div class="w-5 text-center">
                            <i class="text-2xl text-gray-700" :class="g.icon"></i>
                        </div>
                        <div class="flex-1">
                            <div class="text-lg select-all">{{ member[g.key] }}</div>
                            <div class="uppercase text-xs text-gray-700">{{ g.title }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'

import Modal from '~/components/Utilities/Modal.vue'
import MemberProfileEdit from '~/components/Members/Utilities/MemberProfileEdit.vue'
import MemberUsernameEdit from '~/components/Members/Utilities/MemberUsernameEdit.vue'
import MemberPasswordEdit from '~/components/Members/Utilities/MemberPasswordEdit.vue'

import profileKeys from '~/constants/profileKeys.json'
export default {
    inject: ['isAdmin'],
    components: { Modal, MemberProfileEdit, MemberUsernameEdit, MemberPasswordEdit },
    data () {
        return {
            profileKeys,
            profileModal: false,
            profileEditModal: false,
            usernameEditModal: false,
            passwordEditModal: false,
        }
    },
    methods: {
        goToGenealogy () {
            const url = (this.isAdmin) ? `/topadminportal/genealogy/${this.id}` : '/distributor/genealogy'
            window.open(url, '_blank')
        },
        goToRequestPayout () {
            window.open('/distributor/forms/request_payout')
        },
        setMemberData (data) {
            const member = this.$store.state.memberData
            this.$store.commit('setMemberData', {
                ...member,
                ...data
            })
        }
    },
    computed: mapState({
        member: state => state.memberData,
        id: state => state.memberData.hashid
    }),
}
</script>