@import 'tailwindcss/base'
@import 'tailwindcss/components'
@import 'tailwindcss/utilities'
@import '~animate.css'

// Colors
.bg-red-gradient
    background-image: linear-gradient(to left, #b31217, #e52d27)

// Menu
%menu-item
    @apply #{transition cursor-pointer whitespace-nowrap}
    &.disabled
        @apply #{cursor-not-allowed pointer-events-none}
    &:hover
        @apply #{text-red-700}
%menu-item-active
    @apply #{text-red-700 font-medium}
.menu
    @apply #{flex flex-row}
    &.small > .item
        @extend %menu-item
        @apply #{px-2 py-3}
    > .item
        @extend %menu-item
        @apply #{px-4 py-3}
        &.active
            @extend %menu-item-active
            &.styled
                @apply #{border-b-4 border-solid border-red-700}
.menu-col
    @apply #{flex flex-col}
    &.big > .item
        @extend %menu-item
        @apply #{px-4}
        &:first-child
            @apply #{pt-3 pb-2}
        &:last-child
            @apply #{pb-3 pt-2}
        &:not(:first-child):not(:last-child)
            @apply #{py-2}
    > .item
        @extend %menu-item
        @apply #{px-4}
        &:first-child
            @apply #{pt-2 pb-1}
        &:last-child
            @apply #{pb-2 pt-1}
        &:not(:first-child):not(:last-child)
            @apply #{py-1}
        &.active
            @extend %menu-item-active
            &.styled
                @apply #{border-r-4 border-solid border-red-700}

// Button
%button
    @apply #{transition cursor-pointer py-2 px-3 rounded leading-none whitespace-nowrap border border-solid}
.button
    @extend %button
    @apply #{border-gray-300 bg-white}
    &:hover
        @apply #{bg-gray-200}
.button-blue
    @extend %button
    @apply #{border-blue-500 bg-blue-500 text-white}
    &:hover
        @apply #{bg-blue-400}
.button-red
    @extend %button
    @apply #{border-red-500 bg-red-500 text-white}
    &:hover
        @apply #{bg-red-400}
.button-green
    @extend %button
    @apply #{border-green-500 bg-green-500 text-white}
    &:hover
        @apply #{bg-green-400}
.link
    @apply #{no-underline cursor-pointer text-gray-600}
    &:hover
        @apply #{text-blue-500}
    &.link-red
        @apply #{text-red-500}
        &:hover
            @apply #{text-red-400}

// Table
.table
    @apply #{w-full table-auto border-collapse}
    td, th
        @apply #{py-2 pl-4}
        &:last-child
            @apply #{pr-4}
    tbody > tr
        @apply #{border-t border-gray-300}
        &:hover
            @apply #{bg-gray-100}
td.collapse, th.collapse
    @apply #{whitespace-nowrap w-0}

// Forms
.error
    @apply #{text-red-500}
    & > .input
        @apply #{border-red-500}
.input
    @apply #{bg-white w-full py-1 px-2 rounded border border-solid border-gray-300}
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    &:focus
        @apply #{border-blue-600 outline-none ring-2}
    &:disabled
        @apply #{bg-gray-100}
input
    &:checked + .label.link
        @apply #{font-medium text-black}
.input-clear
    @apply #{absolute z-0 right-0 top-0 p-2 no-underline cursor-pointer text-gray-500}
    &:hover
        @apply #{text-black}


// Dropdown
.dropdown
    @apply #{relative inline-block}
    & > .content
        @apply #{hidden transition absolute bg-white shadow-lg rounded border border-solid border-gray-300}
    &:hover > .content
        @apply #{block}