<template>
    <div class="relative">
        <h1 v-if="noData">No genealogy found.</h1>
        
        <Loader :show="loader"/>
        <div id="panzoom">
            <div v-html="genealogy" @click="goToGenealogy"></div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import Loader from '~/components/Utilities/Loader.vue'
import copyText from '~/helpers/copyText.js'
export default {
    props: {
        modelValue: String,
        panzoom: [Function, Object]
    },
    components: { Loader },
    data () {
        return {
            genealogy: '',
            noData: false,
            loader: false,
        }
    },
    created () {
        if (this.modelValue != '') {
            this.getGenealogy(this.modelValue)
        }
    },
    methods: {
        getGenealogy (id) {
            this.loader = true
            this.noData = false
            this.panzoom.reset()
            API.get(`/member_genealogy?networking_id=${id}`)
            .then(res => {
                this.loader = false
                this.genealogy = res.data
                if (this.genealogy == '') this.noData = true
            })
            .catch(() => {
                this.loader = false
                this.noData = true
            })
        },
        goToGenealogy (e) {
            const txt = e.target.dataset
            const src = e.target.value
            if (txt.copytext !== undefined) copyText(txt.copytext)
            if (src !== undefined) this.$emit('update:modelValue', src)
        }
    },
    watch: {
        modelValue (val) {
            this.getGenealogy(val)
        }
    }
}
</script>