<template>
    <div class="relative">
        <h1 v-if="noData">No genealogy found.</h1>
        
        <Loader :show="loader"/>
        <div id="panzoom">
            <div v-html="genealogy" @click="goToGenealogy"></div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import Loader from '~/components/Utilities/Loader.vue'
export default {
    props: {
        modelValue: String,
        panzoom: [Function, Object]
    },
    components: { Loader },
    data () {
        return {
            genealogy: '',
            genealogyData: [],
            noData: false,
            loader: false,
        }
    },
    created () {
        if (this.modelValue != '') {
            this.getGenealogy(this.modelValue)
        }
    },
    methods: {
        getGenealogy (id) {
            this.loader = true
            this.noData = false
            this.panzoom.reset()
            API.get(`/member_genealogy?networking_id=${id}&type=unilevel`)
            .then(res => {
                this.loader = false
                if (res.data.length <= 0) {
                    this.noData = true
                    return false
                }
                
                this.genealogyData = res.data
                this.genealogy = this.setGenealogy(res.data[0])
            })
            .catch(() => {
                this.loader = false
                this.noData = true
            })
        },
        setGenealogy (main, level = 1, isLast = false) {
            if (!main || level > 10) return ''
            level += Number(1)

            const downlines = this.genealogyData.filter(el => el.sponsored_by == main.id)
            const downlinesHasData = downlines.filter(el => el.dls_count >= 1)
            const downlinesNoData = downlines.filter(el => el.dls_count <= 0)

            const lftArm = (level >= 3) ? `<div class="div-border-l"></div>` : ''
            var mainDiv = `
                <tr>
                    <td valign="top" colspan="2">
                        <div class="inline-block" style="line-height:0px">
                            <div class="flex">
                                ${lftArm}
                                ${this.genealogyDiv(main)}
                            </div>
                        </div>
                    <td>
                </tr>
            `

            if (downlinesNoData.length >= 2) {
                const downlinesNoDataDiv = downlinesNoData.reduce((prev, curr) => {
                     return prev + `
                        <div>
                            <div class="unilevel-flex-line-top"></div>
                            <div class="unilevel-flex-line-bottom"></div>
                            ${this.genealogyDiv(curr, "mr-3")}
                        </div>
                     `
                 }, '')
                 mainDiv += `
                    <tr>
                        <td><div style="width:60px"></div></td>
                        <td valign="top" class="td-border-l">
                            <div class="flex">
                                <div class="div-border-l"></div>
                                <div class="flex-1">
                                    <div class="flex unilevel-flex">${downlinesNoDataDiv}</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                `

            } else if (downlinesNoData.length == 1) {
                mainDiv += `
                    <tr>
                        <td><div style="width:60px"></div></td>
                        <td valign="top" class="td-border-l">
                            <div class="flex">
                                <div class="div-border-l"></div>
                                <div class="flex-1">
                                    <div class="flex unilevel-flex">${this.genealogyDiv(downlinesNoData[0])}</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                `
            }

            downlinesHasData.forEach(el => {
                mainDiv += `
                    <tr>
                        <td><div style="width:60px"></div></td>
                        <td valign="top" class="td-border-l">
                            ${this.setGenealogy(el, level)}
                        </td>
                    </tr>
                `
            })


            return `<table class="unilevel border-collapse" cellpadding="0" cellspacing="0">${mainDiv}</table>`;
        },
        genealogyDiv (data, margin="mt-3") {
            const { username, halfname, created_at, type_str, dls_count} = data
            const details = [
                {title:'Date', value:created_at},
                {title:'Package', value:type_str},
                {title:'Directs', value:dls_count},
            ]
            const detailsDiv = details.reduce((prev, curr) => {
                return prev + `
                    <tr>
                        <td valign="top" class="pr-3">${curr.title}</td>
                        <td valign="top" class="uppercase font-medium collapse">${curr.value}</td>
                    </tr>
                `
            }, '')

            return `
                <div class="inline-block shadow-md rounded p-2 leading-none bg-white dropdown ${margin}">
                    <b>${username}</b> <br> <small class="uppercase">${halfname}</small>
                    <div class="content p-2 z-50">
                        <table class="text-black border-separate">${detailsDiv}</table>
                    </div>
                </div>
            `
        }
    },
    watch: {
        modelValue (val) {
            this.getGenealogy(val)
        }
    }
}
</script>
<style>
.unilevel-flex .unilevel-flex-line-top{
    height: 30px;
    border-bottom: 2px solid rgb(75, 85, 99);
}
.unilevel-flex div:last-child .unilevel-flex-line-top{
    height: 28px;
    border-bottom: none;
}
.unilevel-flex .unilevel-flex-line-bottom {
    height: 30px;
    width: 50%;
    border-right: 2px solid rgb(75, 85, 99);
}
.unilevel-flex div:last-child .unilevel-flex-line-bottom{
    height: 32px;
    border-top: 2px solid rgb(75, 85, 99);
}


.unilevel tr:not(:last-child) > .td-border-l {
    border-left: 2px solid rgb(75, 85, 99);
}

.unilevel tr .div-border-l {
    height: 30px;
    width: 30px;
    border-bottom: 2px solid rgb(75, 85, 99);
}
.unilevel tr:last-child .div-border-l {
    border-left: 2px solid rgb(75, 85, 99);
    margin-left: -1px;
}
</style>