<template>
    <div class="flex gap-4 px-4 bg-white rounded shadow-md">
        <div class="flex-1 py-4 text-green-600 border-b-2 border-solid border-green-500" v-for="s in steps" :key="s.step">
            <div class="flex gap-2 items-center">
                <div class="text-3xl font-bold">{{ s.step }}</div>
                <div class="flex-1">
                    <div class="font-medium">{{ s.title }}</div>
                    <div class="text-gray-600 text-xs">{{ s.description }}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data () {
        return {
            steps: [
                {step:1, title:"Existig Account?", description:"Choose if you have an existing account or not."},
                {step:2, title:"Profile", description:"Verify the profile information."},
                {step:3, title:"Package", description:"Choose package that depends on the code."},
                {step:4, title:"Networking", description:"Set the networking information."},
                {step:5, title:"Review", description:"Review the data before you submit."},
            ]
        }
    }
}
</script>