<template>
    <div class="p-4 bg-white shadow-md rounded relative">
        <Alert v-model="alert.show" :status="alert.status" :title="alert.title" :message="alert.message" />
        <Loader :show="loader"/>
        <div class="font-medium mb-4 text-xl">Networking Information</div>
        <div class="flex flex-col gap-4">
            <div :class="{error: errors.network_username}">
                <label>Username</label>
                <input type="text" class="input" v-model="data.network_username">
                <div class="italic text-sm mt-2" v-if="errors.network_username">
                    <div v-for="(e, i) in errors.network_username" :key="i">{{ e }}</div>
                </div>
            </div>
            <div :class="{error: errors.sponsor}">
                <label>Sponsor's Username</label>
                <input type="text" class="input" v-model="data.sponsor">
                <div class="italic text-sm mt-2" v-if="errors.sponsor">
                    <div v-for="(e, i) in errors.sponsor" :key="i">{{ e }}</div>
                </div>
            </div>
            <div v-if="data.package >= 1">
                <div class="flex gap-4">
                    <div class="flex-1" :class="{error: errors.placement}">
                        <label>Placements's Username</label>
                        <input type="text" class="input" v-model="data.placement">
                        <div class="italic text-sm mt-2" v-if="errors.placement">
                            <div v-for="(e, i) in errors.placement" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div class="flex-1" :class="{error: errors.position}">
                        <label>Position</label>
                        <select class="input" v-model="data.position">
                            <option value="1">Left</option>
                            <option value="2">Right</option>
                        </select>
                        <div class="italic text-sm mt-2" v-if="errors.position">
                            <div v-for="(e, i) in errors.position" :key="i">{{ e }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div :class="{error: errors.code}">
                <label>Code</label>
                <input type="text" class="input" v-model="data.code">
                <div class="italic text-sm mt-2" v-if="errors.code">
                    <div v-for="(e, i) in errors.code" :key="i">{{ e }}</div>
                </div>
            </div>
        </div>
        <div class="flex justify-between gap-4 mt-5">
            <button class="button" @click="$router.push({name: 'package'})">Back</button>
            <button class="button-blue" @click="submit()">Continue</button>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import API from '~/api'
import validate from 'validate.js'

import Alert from '~/components/Utilities/Alert.vue'
import Loader from '~/components/Utilities/Loader.vue'

import networkConstraints from '~/constraints/network'
import codeFormatter from '~/helpers/codeFormatter.js'
export default {
    components: { Alert, Loader },
    data () {
        return {
            data: {},
            errors: {},
            loader: false,
            alert: {
                show: false,
                status: 'info'
            }
        }
    },
    created () {
        if (validate.isEmpty(this.$store.state.profile)) {
            this.$router.push({name:'choose_account'})
        }

        this.data = this.$store.state.network
    },
    methods: {
        submit () {
            const valid = validate(this.data, this.constraints)
            if (!validate.isEmpty(valid)) {
                this.errors = valid
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            this.loader = true
            API.post(`/register_check_network`, this.data)
            .then(() => {
                this.loader = false
                this.$store.commit('setNetwork', this.data)
                this.$router.push({name:'review'})
            })
            .catch(err => {
                this.loader = false
                if (err.response.data.errors !== undefined) this.errors = err.response.data.errors
            })
        }
    },
    watch: {
        data: {
            deep: true,
            handler (vals) {
                const cons = this.constraints
                for (const key in vals) {
                    this.errors[key] = validate.single(vals[key], cons[key])
                }
            }
        },
        "data.code" (val) {
            this.data.code = codeFormatter(val)
        }
    },
    computed: mapState({
        constraints (state) {
            var cons = {}
            for (const key in networkConstraints) {
                if (state.network.package <= 0) {
                    if (!['placement', 'position'].includes(key)) cons[key] = networkConstraints[key]
                } else {
                    cons[key] = networkConstraints[key]
                }
            }

            return cons
        }
    })
}
</script>