<template>
    <div class="p-4 bg-white shadow-md rounded relative">
        <Alert v-model="alert.show" :status="alert.status" :title="alert.title" :message="alert.message" />
        <div class="font-medium mb-4 text-xl">Select Package</div>
        <div class="flex flex-col gap-4">
            <div v-for="p in packageTypes" :key="p.id" class="flex gap-4 items-center">
                <input type="radio" name="radioSelectPackage" :id="`radioSelectPackage${p.id}`" :value="p.id" v-model="packageType">
                <label :for="`radioSelectPackage${p.id}`" class="link">
                    <div class="font-medium text-lg">{{ p.title }}</div>
                    <div class="text-sm">{{ p.description }}</div>
                </label>
            </div>
        </div>
        <div class="flex justify-between gap-4 mt-5">
            <button class="button" @click="$router.push({name: back})">Back</button>
            <button class="button-blue" @click="submit()">Continue</button>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import validate from 'validate.js'

import Alert from '~/components/Utilities/Alert.vue'
import packageTypes from '~/constants/packageTypes.json'
export default {
    components: { Alert },
    data () {
        return {
            packageTypes,
            packageType: null,
            alert: {
                show: false,
                status: 'info'
            }
        }
    },
    created () {
        if (validate.isEmpty(this.$store.state.profile)) {
            this.$router.push({name:'choose_account'})
        }

        this.packageType = this.$store.state.network.package
    },
    methods: {
        submit () {
            if (this.packageType === null) {
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'No Package Selected',
                    message: 'Please select a package.'
                }
                return false
            }

            this.$store.commit('setNetwork', {package: this.packageType})
            this.$router.push({name:'network'})
        },
    },
    computed: mapState({
        back (state) {
            return (state.isNew >= 1) ? 'profile' : 'search'
        }
    })
}
</script>