<template>
    <div class="p-4 bg-white shadow-md rounded relative">
        <Alert v-model="alert.show" :status="alert.status" :title="alert.title" :message="alert.message" />
        <Loader :show="loader"/>

        <div v-if="!dataIsChecked">
            <div class="font-medium mb-4 text-xl">Profile</div>
            <div class="flex flex-col gap-4">
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex-1" :class="{error: errors.fname}">
                        <label>First Name</label>
                        <input type="text" class="input" v-model="data.fname" autocomplete="off">
                        <div class="italic text-sm mt-2" v-if="errors.fname">
                            <div v-for="(e, i) in errors.fname" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div class="flex-1" :class="{error: errors.mname}">
                        <label>Middle Name</label>
                        <input type="text" class="input" v-model="data.mname" autocomplete="off">
                        <div class="italic text-sm mt-2" v-if="errors.mname">
                            <div v-for="(e, i) in errors.mname" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div class="flex-1" :class="{error: errors.lname}">
                        <label>Last Name</label>
                        <input type="text" class="input" v-model="data.lname" autocomplete="off">
                        <div class="italic text-sm mt-2" v-if="errors.lname">
                            <div v-for="(e, i) in errors.lname" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div class="md:flex-initial md:w-40">
                        <label>Suffix <small>Ex. Jr, Sr, II, III</small></label>
                        <input type="text" class="input" v-model="data.suffix" autocomplete="off">
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="flex-1" :class="{error: errors.gender}">
                        <label>Gender</label>
                        <select class="input" v-model="data.gender">
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                        <div class="italic text-sm mt-2" v-if="errors.gender">
                            <div v-for="(e, i) in errors.gender" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div class="flex-1" :class="{error: errors.bday}">
                        <label>Birthdate</label>
                        <div class="flex gap-2">
                            <select class="flex-1 input" v-model="dataBday.m">
                                <option v-for="(m, i) in months" :key="i" :value="(i + 1)">{{ m }}</option>
                            </select>
                            <select class="flex-1 input" v-model="dataBday.d">
                                <option v-for="n in 31" :key="n" :value="n">{{ n }}</option>
                            </select>
                            <select class="flex-1 input" v-model="dataBday.y">
                                <option v-for="n in years" :key="n" :value="n">{{ n }}</option>
                            </select>
                        </div>
                        <div class="italic text-sm mt-2" v-if="errors.bday">
                            <div v-for="(e, i) in errors.bday" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div class="flex-1" :class="{error: errors.contact_num}">
                        <label>Contact Number</label>
                        <input type="text" class="input" v-model="data.contact_num" autocomplete="off">
                        <div class="italic text-sm mt-2" v-if="errors.contact_num">
                            <div v-for="(e, i) in errors.contact_num" :key="i">{{ e }}</div>
                        </div>
                    </div>
                </div>
                <div>
                    <Address v-model="data" :errors="errors" />
                </div>
            </div>
            <div class="flex justify-between gap-4 mt-5">
                <button class="button" @click="$router.push({name:'choose_account'})">Back</button>
                <button class="button-blue" @click="submit()">Continue</button>
            </div>
        </div>

        <div v-else>
            <div v-if="validate.isEmpty(dataExisting)">
                <div class="font-medium mb-4 text-xl">Login Information</div>
                <div class="flex flex-col gap-4">
                    <div :class="{error: errorsLogin.username}">
                        <label>Username</label>
                        <input type="text" class="input" v-model="dataLogin.username">
                        <div class="italic text-sm mt-2" v-if="errorsLogin.username">
                            <div v-for="(e, i) in errorsLogin.username" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div :class="{error: errorsLogin.password}">
                        <label>Password</label>
                        <input type="password" class="input" v-model="dataLogin.password">
                        <div class="italic text-sm mt-2" v-if="errorsLogin.password">
                            <div v-for="(e, i) in errorsLogin.password" :key="i">{{ e }}</div>
                        </div>
                    </div>
                    <div :class="{error: errorsLogin.confirmPassword}">
                        <label>Confirm Password</label>
                        <input type="password" class="input" v-model="dataLogin.confirmPassword">
                        <div class="italic text-sm mt-2" v-if="errorsLogin.confirmPassword">
                            <div v-for="(e, i) in errorsLogin.confirmPassword" :key="i">{{ e }}</div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-between gap-4 mt-5">
                    <button class="button" @click="dataIsChecked = false">Back</button>
                    <button class="button-blue" @click="submitLogin()">Continue</button>
                </div>
            </div>

            <div v-else>
                <div class="font-medium mb-4 text-xl">The data you submitted is already existing. Is this the account you trying to submit?</div>
                <div class="mb-2 text-lg">{{ dataExisting.fullname }}</div>
                <table>
                    <tbody>
                        <tr v-for="p in profileKeys" :key="p.key">
                            <td class="collapse text-xs text-gray-600 pr-3">{{ p.title }}</td>
                            <td>{{ dataExisting[p.key] }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="flex justify-between gap-4 mt-5">
                    <button class="button" @click="dataIsChecked = false">No</button>
                    <button class="button-blue" @click="submitExisting()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import moment from 'moment'
import validate from 'validate.js'

import Alert from '~/components/Utilities/Alert.vue'
import Loader from '~/components/Utilities/Loader.vue'
import Address from '~/components/Utilities/Address.vue'

import membersProfileConstraints from '~/constraints/profileMember'
import usernameConstraints from '~/constraints/username'
import passwordConstraints from '~/constraints/password'

import profileKeys from '~/constants/profileKeys.json'
export default {
    components: { Address, Alert, Loader },
    data () {
        return {
            validate,
            profileKeys,
            months: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],

            data: {},
            dataBday: {
                y: 1989,
                d: 1,
                m: 1
            },

            dataLogin: {},
            dataLoginConstraints: {
                username: usernameConstraints,
                ...passwordConstraints
            },

            dataIsChecked: false,
            dataExisting: {},

            loader: false,
            errors: {},
            errorsLogin: {},
            alert: {
                show: false,
                status: 'info'
            }
        }
    },
    created () {
        const { isNew, profile } = this.$store.state
        if (isNew == null || isNew <= 0) {
            this.$router.push({name:'choose_account'});
        }

        this.data = profile
        if (!validate.isEmpty(this.data)) {
            const bday = moment(this.data.bday, 'LL')
            Object.assign(this.dataBday, {
                y: bday.format('YYYY'),
                d: bday.format('D'),
                m: bday.format('M')
            })
        }
    },
    methods: {
        submit () {
            this.data.bday = moment(Object.values(this.dataBday).join('-'), 'YYYY-D-M').format('LL')

            const valid = validate(this.data, membersProfileConstraints)
            if (!validate.isEmpty(valid)) {
                this.errors = valid
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            this.loader = true
            this.$store.commit('setProfile', this.data)
            API.post(`/register_check_profile`, this.data)
            .then(res => {
                this.dataExisting = res.data
                this.loader = false
                this.dataIsChecked = true
            })
            .catch(err => {
                this.loader = false
                if (err.response.data.errors !== undefined) this.errors = err.response.data.errors
            })
        },
        submitExisting () {
            this.$store.commit('setProfile', this.dataExisting)
            this.$router.push({name: 'package'})
        },
        submitLogin () {
            const valid = validate(this.dataLogin, this.dataLoginConstraints)

            if (!validate.isEmpty(valid)) {
                this.errorsLogin = valid
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            this.loader = true
            API.post(`/register_check_login`, this.dataLogin)
            .then(() => {
                this.loader = false
                this.$store.commit('setProfileLogin', this.dataLogin)
                this.$router.push({name: 'package'})
            })
            .catch(err => {
                this.loader = false
                if (err.response.data.errors !== undefined) this.errorsLogin = err.response.data.errors
            })
        }
    },
    computed: {
        years () {
            var years = []
            var yearNow = new Date()
            yearNow = yearNow.getFullYear() - 15
            for (var i = 1921; i <= yearNow; i++) {
                years.push(i)
            }
            return years
        }
    },
    watch: {
        data: {
            deep: true,
            handler (vals) {
                const cons = membersProfileConstraints
                for (const key in vals) {
                    this.errors[key] = validate.single(vals[key], cons[key])
                }
            }
        },
        dataLogin: {
            deep: true,
            handler (vals) {
                const cons = this.dataLoginConstraints
                for (const key in vals) {
                    if (key != 'confirmPassword') {
                        this.errorsLogin[key] = validate.single(vals[key], cons[key])
                    } else {
                        this.errorsLogin[key] = validate(vals, passwordConstraints, {format: 'flat'})
                    }
                }
            }
        }
    }
}
</script>