<template>
    <div class="p-4 bg-white shadow-md rounded relative">
        <Loader :show="loader"/>

        <div v-if="!success">
            <div class="font-medium mb-4 text-xl">Review the account</div>
            <table class="table border border-solid border-gray-300 mb-4">
                <thead>
                    <tr><th colspan="2" class="text-left">Profile</th></tr>
                </thead>
                <tbody v-if="!hasID">
                    <tr v-for="p in profileKeysNew" :key="p.key">
                        <td class="w-1/6 text-xs text-gray-600">{{ p.title }}</td>
                        <td>{{ newProfile[p.key] }}</td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr v-for="p in profileKeys" :key="p.key">
                        <td class="w-1/6 text-xs text-gray-600">{{ p.title }}</td>
                        <td>{{ oldProfile[p.key] }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table border border-solid border-gray-300">
                <thead>
                    <tr><th colspan="2" class="text-left">Networking Information</th></tr>
                </thead>
                <tbody>
                    <tr v-for="p in networkKeys" :key="p.key">
                        <td class="w-1/6 text-xs text-gray-600">{{ p.title }}</td>
                        <td>
                            <span v-if="network.package <= 0 && ['placement','position_str'].includes(p.key)">-----</span>
                            <span v-else>{{ network[p.key] }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="flex justify-between gap-4 mt-5">
                <button class="button" @click="$router.push({name:'network'})">Back</button>
                <button class="button-green" @click="submit()">Submit</button>
            </div>
        </div>

        <div v-else>
            <div class="text-center">
                <div class="mb-5 text-green-500">
                    <i class="fas fa-check-circle text-55px mb-4"></i>
                    <div class="text-xl font-medium">{{ registered.fullname }} Account Registered Successfully!</div>
                </div>
                <div class="text-gray-700 mb-3">Do you want to add more networks to this account?</div>
                <div class="flex justify-center gap-5">
                    <button class="button" @click="addYes()">Yes</button>
                    <button class="button" @click="addNo()">No</button>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
import API from '~/api'
import validate from 'validate.js'
import { mapState } from 'vuex'

import Loader from '~/components/Utilities/Loader.vue'
import profileKeys from '~/constants/profileKeys.json'
import packageTypes from '~/constants/packageTypes.json'
export default {
    components: { Loader },
    data () {
        return {
            profileKeys,
            profileKeysNew: [
                {title:'Name', key:'fullname'},
                {title:'Username', key:'username'},
                {title:'Password', key:'password'},
                {title:'Gender', key:'gender_str'},
                {title:'Birthdate', key:'bday'},
                {title:'Contact Number', key:'contact_num'},
                {title:'Address', key:'address'},
            ],
            networkKeys: [
                {title:'Username', key:'network_username'},
                {title:'Package', key:'package_str'},
                {title:'Sponsor', key:'sponsor'},
                {title:'Placement', key:'placement'},
                {title:'Position', key:'position_str'},
                {title:'Code', key:'code'},
            ],
            loader: false,
            success: false,
            registered: {}
        }
    },
    created () {
        const { profile, network } = this.$store.state
        if (validate.isEmpty(profile) || validate.isEmpty(network)) {
            this.$router.push({name:'choose_account'})
        }
    },
    methods: {
        addYes () {
            this.$store.commit('setChosenAccount', 0)
            this.$store.commit('setProfile', this.registered)
            this.$store.commit('resetNetwork')
            this.$router.push({name:'package'})
        },
        addNo () {
            this.$store.commit('resetState')
            this.$router.push({name:'choose_account'})
        },
        submit () {
            const { profile, network } = this.$store.state
            this.loader = true
            API.post('register_account', {
                ...profile,
                ...network,
            })
            .then(res => {
                this.loader = false
                this.registered = res.data
                this.success = true
            })
            .catch(err => {
                this.loader = false
                if (err.response.data.errors !== undefined) this.errors = err.response.data.errors
            })
        }
    },
    computed: mapState({
        newProfile: state => {
            const { fname, mname, lname, suffix, gender, province, city, barangay } = state.profile
            return {
                fullname: [fname, mname, lname, suffix].join(' '),
                gender_str: (gender <= 1) ? 'Male' : 'Female',
                address: [barangay, city, province].join(', '),
                ...state.profile
            }
        },
        oldProfile: state => state.profile,
        hasID: state => {
            return (validate.isEmpty(state.profile.id)) ? false : true
        },
        network: state => {
            const { position } = state.network
            const pkg = packageTypes.find(el => el.id == state.network.package)
            if (validate.isEmpty(pkg)) return {}
            return {
                package_str: pkg.title,
                position_str: (position <= 1) ? 'Left' : 'Right',
                ...state.network
            }
        }
    })
}
</script>