<template>
    <div class="p-4 bg-white shadow-md rounded relative">
        <Loader :show="loader"/>

        <div v-if="!searchedData">
            <div class="font-medium mb-4 text-xl">Search account using username or account main number</div>
            <div :class="{error:errors}">
                <input type="text" class="input" v-model="search">
                <div class="italic text-sm mt-2" v-if="errors">
                    <div v-for="(e, i) in errors" :key="i">{{ e }}</div>
                </div>
            </div>
            <div class="flex justify-between gap-4 mt-5">
                <button class="button" @click="$router.push({name:'choose_account'})">Back</button>
                <button class="button-blue" @click="searchAccount()">Search</button>
            </div>
        </div>

        <div v-else>
            <div class="font-medium mb-4 text-xl">Is this your account?</div>
            <div class="mb-2 text-lg">{{ searchedData.fullname }}</div>
            <table>
                <tbody>
                    <tr v-for="p in profileKeys" :key="p.key">
                        <td class="collapse text-xs text-gray-600 pr-3">{{ p.title }}</td>
                        <td>{{ searchedData[p.key] }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="flex justify-between gap-4 mt-5">
                <button class="button" @click="searchedData = undefined">No</button>
                <button class="button-blue" @click="submit()">Yes</button>
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import validate from 'validate.js'

import Loader from '~/components/Utilities/Loader.vue'
import profileKeys from '~/constants/profileKeys.json'
export default {
    components: { Loader },
    data () {
        return {
            profileKeys,
            search: '',
            searchedData: undefined,
            loader: false,
            errors: undefined,
        }
    },
    methods: {
        searchAccount () {
            if (validate.isEmpty(this.search)) {
                this.errors = ["Search field is required"]
                return false
            }

            this.loader = true
            API.get(`/register_search_account?search=${this.search}`)
            .then(res => {
                this.loader = false
                this.searchedData = res.data
            })
            .catch(err => {
                this.loader = false
                if (err.response.data.errors !== undefined) this.errors = err.response.data.errors
            })
        },
        submit () {
            this.$store.commit('setProfile', this.searchedData)
            this.$router.push({name: 'package'})
        }
    },
    watch: {
        search () {
            this.errors = undefined
        }
    }
}
</script>