<template>
    <div class="p-4 bg-white shadow-md rounded">
        <Alert v-model="alert.show" :status="alert.status" :title="alert.title" :message="alert.message" />
        <div class="font-medium mb-4 text-xl">Do you have an existing account?</div>
        <div class="flex flex-col gap-4">
            <div class="flex gap-4 items-center">
                <input type="radio" name="radioSelectAccount" id="radioSelectAccountAdd" value="0" v-model="isNew">
                <label for="radioSelectAccountAdd" class="link">
                    <div class="font-medium text-lg">Yes</div>
                    <div class="text-sm">Select if you <b>have</b> an existing account</div>
                </label>
            </div>
            <div class="flex gap-4 items-center">
                <input type="radio" name="radioSelectAccount" id="radioSelectAccountNew" value="1" v-model="isNew">
                <label for="radioSelectAccountNew" class="link">
                    <div class="font-medium text-lg">No</div>
                    <div class="text-sm">Select if you <b>don't have</b> an existing account</div>
                </label>
            </div>
        </div>
        <div class="text-right mt-4">
            <button class="button-blue" @click="submit()">Continue</button>
        </div>
    </div>
</template>
<script>
import Alert from '~/components/Utilities/Alert.vue'
export default {
    components: { Alert },
    data () {
        return {
            isNew: null,
            alert: {
                show: false,
                status: 'info'
            }
        }
    },
    methods: {
        submit () {
            if (!this.isNew) {
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: "Seems like you didn't answer the question",
                    message: 'Please choose if yes or no'
                }

                return false
            }

            const name = (this.isNew >= 1) ? 'profile' : 'search'

            this.$store.commit('setChosenAccount', this.isNew)
            this.$router.push({name: name})
        }
    }
}
</script>