<template>
    <div>
        <div class="sticky top-0 bg-red-gradient p-3 z-40">
            <div class="w-full mx-auto xl:w-1/2 lg:w-2/3">
                <div class="flex flex-col gap-4 md:flex-row">
                    <div class="flex-1 text-white font-medium">{{ member.fullname }}</div>
                    <div class="flex-1">
                        <div class="flex gap-2">
                            <div class="flex-1">
                                <select class="input" v-model="genealogySelect">
                                    <option v-for="(n,i) in networks" :key="i" :value="n.hashid">{{ n.username }}</option>
                                </select>
                            </div>
                            <div class="flex-1">
                                <select class="input" v-model="genealogyType">
                                    <option value="binary">Binary</option>
                                    <option value="unilevel">Unilevel</option>
                                </select>
                            </div>
                            <button class="button" @click="panzoom.zoomIn"><i class="fas fa-plus"></i></button>
                            <button class="button" @click="panzoom.zoomOut"><i class="fas fa-minus"></i></button>
                            <button class="button" @click="panzoom.reset"><i class="fas fa-redo"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="relative mt-5">
            <div class="w-full px-2 my-5 mx-auto xl:w-1/2 lg:w-2/3" v-if="noData">
                <div class="text-center">
                    <div class="text-xl font-medium">No networking data found.</div>
                </div>
            </div>

            <div id="panzoom">
                <div v-if="genealogyType == 'unilevel'">
                    <Unilevel v-model="genealogySelect" :panzoom="panzoom" />
                </div>
                <div v-else>
                    <Binary v-model="genealogySelect" :panzoom="panzoom" />
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import Panzoom from '@panzoom/panzoom'

import Binary from '~/components/Members/Genealogy/Binary.vue'
import Unilevel from '~/components/Members/Genealogy/Unilevel.vue'
export default {
    props: ['id'],
    components: { Binary, Unilevel },
    data () {
        return {
            member: {},
            genealogySelect: '',
            genealogyType: 'binary',
            genealogy: '',
            noData: false,
            panzoom: Object
        }
    },
    async created () {
        const { data } = await API.get(`/member?id=${this.id}`,)
        try {
            this.member = data
            const first = data.networks.find(el => el.type >= 1)
            if (first === undefined) {
                this.noData = true
                return false
            }
            this.genealogySelect = first.hashid
            document.title = `${this.member.halfname} | Genealogy`

        } catch (error) {
            this.noData = true
        }

        this.panzoom = Panzoom(document.getElementById('panzoom'))
    },
    computed: {
        networks () {
            const { networks } = this.member
            if (!networks) return []
            if (this.genealogyType != 'binary') return networks

            const nets = networks.filter(el => el.type >= 1)
            return nets
        }
    },
}
</script>
<style>
td {
    vertical-align: center;
}
#panzoom {
    min-height: 500px;
}
</style>