<template>
    <div>
        <!-- Profits -->
        <div class="flex gap-4 flex-col mb-5 md:flex-row">
            <div v-for="p in profits" :key="p.key" class="flex-1">
                <div class="text-white shadow-md rounded p-4" :class="p.bg">
                    <router-link class="text-lg uppercase font-bold" :to="{name:'dist_profits', params:{type:p.key}}">
                        {{ p.title }} <i class="fas fa-arrow-right ml-4"></i>
                    </router-link>

                    <div class="mt-4">
                        <span class="text-2xl mr-2">{{ numeral(p.available).format('0,0') }}</span>
                        <span v-if="p.fee >= 1" class="text-lg">( - {{ numeral(p.fee).format('0,0') }} )</span>
                    </div>
                    <div class="uppercase text-sm">Available Balance</div>

                    <div class="flex gap-4 justify-end mt-4 uppercase">
                        <div><span class="font-medium">{{ numeral(p.payouts).format('0a') }}</span> <small>Payouts</small></div>
                        <div><span class="font-medium">{{ numeral(p.profits).format('0a') }}</span> <small>Profits</small></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Benefits -->
        <div v-if="isAdmin" class="relative">
            <Loader :show="benefitsLoader"/>
            <div class="flex items-center gap-4 mb-2">
                <div class="text-lg uppercase font-bold">Gifts / Benefits</div>
                <div>
                    <select class="input" v-model="benefitsYear">
                        <option v-for="y in companyYears" :key="y">{{ y }}</option>
                    </select>
                </div>
            </div>
            <div class="flex flex-col md:flex-row mb-5 gap-4">
                <div v-for="(b,i) in benefits" :key="i" class="flex-1">
                    <div class="bg-white shadow-md rounded p-4">
                        <div class="text-lg uppercase font-bold mb-2">{{ b.name }}</div>
                        <div class="text-lg">Date From <b>{{ b.dateFrom }}</b> to <b>{{ b.dateTo }}</b></div>
                        <ul class="list-disc list-inside">
                            <li>Purchased <b>{{ numeral(b.purchase).format('0,0') }}</b></li>
                            <li>Invites <b>{{ numeral(b.directs).format('0,0') }}</b></li>
                        </ul>

                        <details class="text-sm text-gray-600 mt-3">
                            <summary class="mb-2 uppercase">Benefits Information</summary>
                            <div class="flex flex-col gap-2">
                                <div>
                                    <div class="font-medium uppercase">Benefits</div>
                                    <ul class="list-disc list-inside">
                                        <li v-for="(d, di) in b.benefits" :key="di">{{ d }}</li>
                                    </ul>
                                </div>
                                <div>
                                    <div class="font-medium uppercase">Requirements</div>
                                    <ul class="list-disc list-inside">
                                        <li v-for="(d, di) in b.requirements" :key="di">{{ d }}</li>
                                    </ul>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
            </div>
        </div>

        <MemberNetworks/>
    </div>
</template>
<script>
import API from '~/api'
import { mapState } from 'vuex'
import numeral from 'numeral'
import moment from 'moment'

import Loader from '~/components/Utilities/Loader.vue'
import MemberNetworks from '~/components/Members/Networks.vue'
import profitTypes from '~/constants/profitTypes.json'
import appDetails from '~/constants/appDetails.json'
import companyYears from '~/helpers/companyYears.js'
export default {
    inject: ['isAdmin'],
    components: { MemberNetworks, Loader },
    data () {
        return {
            numeral,
            companyYears,
            benefitsYear: new Date().getFullYear(),
            benefitsLoader: false,
        }
    },
    created () {
        this.$watch(() => this.$route.params, () => {
            this.benefitsYear = new Date().getFullYear()
        })
    },
    methods: {
        getBenefits () {
            if (!this.hashid) return

            this.benefitsLoader = true
            API.get('/member_benefits', {params: {year: this.benefitsYear, id: this.hashid}})
            .then(res => {
                this.benefitsLoader = false
                this.$store.commit('setMemberData', Object.assign(this.$store.state.memberData, res.data))
            })
            .catch(() => {
                this.benefitsLoader = false
            })
        }
    },
    computed: mapState({
        hashid: state => {
            const { hashid } = state.memberData
            return hashid
        },
        profits: state => {
            const type = profitTypes
            type.forEach(el => {
                el.profits = state.memberData[`total_profit_${el.key}`]
                el.payouts = state.memberData[`total_payout_${el.key}`]
                el.available = state.memberData[`total_available_${el.key}`]
                
                var fee = (state.memberData.fees !== undefined) ? state.memberData.fees[el.key] : null;
                el.fee = (fee !== null) ? fee.amount : 0;
            })

            return type
        },
        benefits: state => {
            const data = state.memberData
            const type = appDetails.members_benefits.filter(el => ['benefits_birthday', 'benefits_hospital'].includes(el.key))

            type.forEach(el => {
                el.purchase = data[`${el.key}_purchases_count`]
                el.directs = data[`${el.key}_directs_count`]
                el.dateFrom = moment(data[`${el.key}_date_fr`]).format('ll')
                el.dateTo = moment(data[`${el.key}_date_to`]).format('ll')
            })

            return type
        }
    }),
    watch: {
        benefitsYear () {
            this.getBenefits()
        }
    }
}
</script>