<template>
    <div>
        <Modal v-model="requestsModal">
            <Loader v-model="requestsModalLoader" />
            <div class="text-xl uppercase font-bold">Pending Requests</div>
            <div class="flex flex-col gap-5 my-5 leading-none">
                <div v-for="(r, i) in member.requests" :key="i">
                    <div class="flex justify-between">
                        <div>
                            <span class="text-xl mr-3 font-medium">{{ numeral(r.points).format('0,0') }}</span>
                            <span class="uppercase">{{ r.profit_type_str }}</span>
                        </div>
                        <div v-if="isAdmin">
                            <div class="flex gap-2 text-xs">
                                <button @click="confirmPendingPayout(i)" class="button button-blue">Confirm</button>
                                <button @click="deletePendingPayout(i)" class="button button-red"><i class="fas fa-trash" title="Delete"></i></button>
                            </div>
                        </div>
                    </div>
                    <div>{{ r.requested_at }}</div>
                    <div class="flex flex-wrap gap-x-4 gap-y-2 mt-3">
                        <div v-for="(rv, ri) in {fee:'Fee', received_via_str:'Receive / Transfer Via', remarks:'Remarks'}" :key="ri">
                            <span class="text-sm uppercase text-gray-700 collapse">{{ rv }}</span>
                            <span class="pl-2">: {{ r[ri] }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button class="button" @click="requestsModal = false">Close</button>
            </div>
        </Modal>

        <div class="flex flex-col xl:flex-row gap-x-10 gap-y-4">
            <div class="flex-initial w-full xl:w-300px">
                <Profile/>
            </div>

            <!-- More Information -->
            <div class="flex-1">
                <div class="mb-5 shadow-md bg-white overflow-auto hidden md:block">
                    <div class="menu">
                        <router-link class="styled item" :to="{name:'dist_main'}">Main</router-link>
                        <router-link class="styled item" :to="{name:'dist_profits', params:{type:'binary'}}">Binary</router-link>
                        <router-link class="styled item" :to="{name:'dist_profits', params:{type:'unilevel'}}">Unilevel</router-link>
                        <router-link class="styled item" :to="{name:'dist_profits', params:{type:'fifthpair'}}">Fifth Pair</router-link>
                        <router-link class="styled item" :to="{name:'dist_networks'}">Accounts</router-link>
                        <router-link class="styled item" :to="{name:'dist_payouts'}">Payouts</router-link>
                        <router-link class="styled item" :to="{name:'dist_pair_spon'}">Pairing & Sponsoring</router-link>
                        <router-link class="styled item" :to="{name:'dist_purchases'}">Purchases</router-link>
                    </div>
                </div>

                <!-- Pending Requests -->
                <div class="bg-yellow-100 rounded mb-5 py-2 px-4" v-if="member.requests !== undefined && member.requests.length >= 1">
                    <div class="flex justify-between">
                        <div class="font-medium">
                            Pending requests payouts ({{ member.requests.length }})
                        </div>
                        <div><a class="link" @click="requestsModal = true">View</a></div>
                    </div>
                </div>

                <!-- Router View -->
                <router-view></router-view>

                <!-- Navigator on mobile -->
                <div class="block md:hidden">
                    <div class="fixed w-full inset-x-0 bottom-0" @focusout="itemMore = false">
                        <transition
                            enter-active-class="animate__animated animate__fadeInUp"
                            leave-active-class="animate__animated animate__fadeOutDown">
                            <div class="menu-col rounded-t border-solid border-t border-gray-300 bg-white" v-show="itemMore">
                                <router-link class="item" :to="{name:'dist_networks'}">Accounts</router-link>
                                <router-link class="item" :to="{name:'dist_payouts'}">Payouts</router-link>
                                <router-link class="item" :to="{name:'dist_pair_spon'}">Pairing & Sponsoring</router-link>
                                <router-link class="item" :to="{name:'dist_purchases'}">Purchases</router-link>
                            </div>
                        </transition>
                        <div class="menu small text-sm text-center border-solid border-t border-gray-300 bg-white">
                            <router-link class="flex-1 styled item" :to="{name:'dist_main'}">Main</router-link>
                            <router-link class="flex-1 styled item" :to="{name:'dist_profits', params:{type:'binary'}}">Binary</router-link>
                            <router-link class="flex-1 styled item" :to="{name:'dist_profits', params:{type:'unilevel'}}">U.Level</router-link>
                            <router-link class="flex-1 styled item" :to="{name:'dist_profits', params:{type:'fifthpair'}}">F.Pair</router-link>
                            <button class="flex-1 styled item" 
                                :class="{active:!['dist_main','dist_profits'].includes($route.name)}"
                                @click="toggleItemMore()">
                                More
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
import API from '~/api'
import { mapState } from 'vuex'
import moment from 'moment'
import numeral from 'numeral'

import Modal from '~/components/Utilities/Modal.vue'
import Loader from '~/components/Utilities/Loader.vue'
import Profile from '~/components/Members/Utilities/Profile.vue'
export default {
    inject: ['isAdmin'],
    props: ['id'],
    components: { Modal, Loader, Profile },
    data () {
        return {
            moment,
            numeral,
            alert: {},
            itemMore: false,
            requestsModal: false,
            requestsModalLoader: false
        }
    },
    created () {
        this.getMemberData()
    },
    methods: {
        getMemberData () {
            API.get(`/member?id=${this.id}`)
            .then(res => {
                this.$store.commit('setMemberData', res.data)
                if (this.isAdmin) document.title = `${res.data.halfname} | Topadminportal`
            })
        },
        toggleItemMore () {
            this.itemMore = (this.itemMore) ? false : true
        },

        deletePendingPayout (i) {
            if (!this.isAdmin) return false
            const payout = this.member.requests[i]

            if (!confirm('Are you sure want to delete this?')) return false
            this.requestsModalLoader = true
            API.post('/payout_delete', {
                id: payout.id,
            })
            .then(() => {
                this.requestsModalLoader = false
                this.member.requests.splice(i, 1)
                if (this.member.requests.length <= 0) this.requestsModal = false
            })
            .catch(() => {
                this.requestsModalLoader = false
            })
        },
        confirmPendingPayout (i) {
            if (!this.isAdmin) return false
            const payout = this.member.requests[i]
            this.requestsModalLoader = true
            API.post('/payout_confirm', {
                id: payout.id,
            })
            .then(() => {
                this.requestsModalLoader = false
                this.member.requests.splice(i, 1)
                this.getMemberData()
            })
            .catch(() => {
                this.requestsModalLoader = false
            })
        }
    },
    computed: mapState({
        member: state => state.memberData
    }),
    watch: {
        id () {
            this.getMemberData()
        }
    }
}
</script>