<template>
    <div>
        <div class="text-lg uppercase font-bold mb-2">Accounts ({{ netLength }})</div>
        <div class="flex flex-col gap-4">
            <div v-for="(network, ni) in networks" :key="ni">
                <div v-if="ni <= 1">
                    <div class="font-medium mb-2 text-xl">{{ network.text }} ({{ network.children.length }})</div>
                    <div class="grid gap-4 md:grid-cols-2">
                        <div v-for="n in network.children" :key="n.id">
                            <div class="bg-white shadow-md p-4 rounded">
                                <div class="flex gap-2 mb-2">
                                    <div class="flex-1">
                                        <div class="flex items-center gap-2 mb-2">
                                            <button v-if="network.type == 1" class="button-green text-xs" @click="showLevelUp(n.username)">Level Up</button>
                                            <button v-if="isAdmin" class="button text-xs" @click="modalUsername = true, modalModifyData = n" title="Edit Username"><i class="fas fa-pen"></i></button>
                                            <div class="flex-1 text-lg font-semibold select-all">{{ n.username }}</div>
                                        </div>
                                        <i class="fas fa-calendar-check"></i> {{ n.created_at }} Cycle {{ n.cycle }}
                                    </div>
                                    <div>
                                        <div class="inline-block rounded text-sm p-2 leading-none" :class="statuses[n.status].css">
                                            {{ statuses[n.status].name }}
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-disc list-inside text-xs md:text-base">
                                    <li v-if="n.upline_sponsore_username !== null">
                                        Sponsored to <b class="capitalize">{{ n.upline_sponsore_username }} / {{ n.upline_sponsore_name }}</b>
                                    </li>
                                    <li v-if="n.upline_placement_username !== null">
                                        Placed to the <b>{{ n.position }}</b> of <b class="capitalize">{{ n.upline_placement_username }} / {{ n.upline_placement_name }}</b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <details v-else>
                    <summary class="font-medium mb-2 text-xl cursor-pointer">{{ network.text }} ({{ network.children.length }})</summary>
                    <div class="grid gap-4 md:grid-cols-2">
                        <div v-for="n in network.children" :key="n.id">
                            <div class="bg-white shadow-md p-4 rounded">
                                <div class="flex gap-2 mb-2">
                                    <div class="flex-1">
                                        <div class="flex items-center gap-2 mb-2">
                                            <button v-if="isAdmin" class="button text-xs" @click="modalUsername = true, modalModifyData = n" title="Edit Username"><i class="fas fa-pen"></i></button>
                                            <div class="flex-1 text-lg font-semibold select-all">{{ n.username }}</div>
                                        </div>
                                        <i class="fas fa-calendar-check"></i> {{ n.created_at }} Cycle {{ n.cycle }}
                                    </div>
                                    <div>
                                        <div class="inline-block rounded text-sm p-2 leading-none" :class="statuses[n.status].css">
                                            {{ statuses[n.status].name }}
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-disc list-inside text-xs md:text-base">
                                    <li v-if="n.upline_sponsore_username !== null">
                                        Sponsored to <b class="capitalize">{{ n.upline_sponsore_username }} / {{ n.upline_sponsore_name }}</b>
                                    </li>
                                    <li v-if="n.upline_placement_username !== null">
                                        Placed to the <b>{{ n.position }}</b> of <b class="capitalize">{{ n.upline_placement_username }} / {{ n.upline_placement_name }}</b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
        </div>
        <div v-if="netLength <= 0">
            <div class="text-center text-xl font-medium bg-white shadow-md p-4 rounded">
                No networking accounts found.
            </div>
        </div>

        <Alert v-model="alert.show" :response="alert.response" :status="alert.status" :title="alert.title" :message="alert.message" />
        <Modal v-model="modal" :isEager="true" :isSmall="true">
            <Loader :show="loader"/>
            <div class="text-xl font-medium">Level Up {{ data.username }} to 7K Binary</div>
            <div class="my-4" :class="{error: dataErrors.code}">
                <label>Code</label>
                <input type="text" class="input" v-model="data.code" autocomplete="off">
                <div class="italic text-sm mt-2" v-if="dataErrors.code">
                    <div v-for="(e, i) in dataErrors.code" :key="i">{{ e }}</div>
                </div>
            </div>
            <div class="flex justify-end gap-3">
                <button class="button" @click="modal = false">Cancel</button>
                <button class="button-green" @click="submit()">Submit</button>
            </div>
        </Modal>

        <NetworksEditUsername :data="modalModifyData" v-model="modalUsername" @onsuccess="setNetworking"/>
    </div>
</template>
<script>
import API from '~/api'
import { mapState } from 'vuex'
import validate from 'validate.js'

import Modal from '~/components/Utilities/Modal.vue'
import Loader from '~/components/Utilities/Loader.vue'
import Alert from '~/components/Utilities/Alert.vue'
import NetworksEditUsername from '~/components/Members/Utilities/NetworksEditUsername.vue'

import networkConstraints from '~/constraints/network'
import codeFormatter from '~/helpers/codeFormatter.js'
export default {
    inject: ['isAdmin'],
    components: { Modal, Loader, Alert, NetworksEditUsername },
    data () {
        return {
            statuses : {
                1 : {name:'Active', css:'bg-blue-500 text-white'},
                2 : {name:'Warning', css:'bg-yellow-500 text-white'},
                3 : {name:'Inactive', css:'bg-red-500 text-white'},
            },

            data: {},
            dataErrors: {},

            modal: false,
            modalUsername: false,
            modalModifyData: {},

            loader: false,
            alert: {
                show: false,
                status: 'info'
            },
        }
    },
    methods: {
        submit () {
            const validCode = validate.single(this.data.code, networkConstraints.code)
            if (!validate.isEmpty(validCode)) {
                this.dataErrors.code = validCode
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            this.loader = true
            API.post('/levelup_networking_account', this.data)
            .then(res => {
                this.loader = false
                this.modal = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: `${res.data.username} Leveled Up successfully`,
                    message: 'Reload this page to see for any changes.'
                }
                this.setNetworking({id: res.data.id, type: res.data.type})
            })
            .catch(err => {
                this.loader = false
                if (err.response.data.errors !== undefined) this.dataErrors = err.response.data.errors
            })
        },
        showLevelUp (username) {
            this.data.username = username
            this.modal = true
        },
        setNetworking (data) {
            var networks = this.$store.state.memberData.networks
            networks.forEach((el, i) => { 
                if (el.id == data.id) networks[i] = Object.assign(el, data)
            })

            this.$store.commit('setMemberData', Object.assign(this.$store.state.memberData, {networks: networks}))
        }
    },
    computed: mapState({
        networks (state) {
            if (state.memberData.networks === undefined || state.memberData.networks.length <= 0) return {}

            var items = [
                {type:2, text:'7K Binary', children:[]},
                {type:1, text:'3K Binary', children:[]},
                {type:0, text:'2K Millennium', children:[]},
            ]

            state.memberData.networks.forEach(el => {
                var type = items.find(i => i.type == el.type)
                type.children.push(el)
            })
            
            items = items.filter(el => el.children.length >= 1)
            return items
        },
        netLength: state => (state.memberData.networks !== undefined) ? state.memberData.networks.length : 0,
    }),
    watch: {
        "data.code" (val) {
            this.data.code = codeFormatter(val)
            this.dataErrors.code = validate.single(val, networkConstraints.code)
        }
    }
}
</script>