<template>
    <div>
        <div class="text-lg uppercase font-bold mb-2">Payouts</div>
        <div class="flex gap-4 flex-col md:flex-row">
            <div class="flex-1">
                <div class="flex flex-wrap gap-x-4 gap-y-2">
                    <div v-for="(t, i) in profitTypes" :key="i">
                        <input type="radio" :value="i" name="profit_type" :id="'memberProfitType'+i" v-model="profitType" >
                        <label :for="'memberProfitType'+i" class="pl-2 link">{{ t }}</label>
                    </div>
                </div>
            </div>
            <div class="md:w-40">
                <DatePicker v-model="date" :masks="{ input:'MMM DD, YYYY' }">
                    <template v-slot="{ inputValue, inputEvents }">
                        <input type="text" :value="inputValue" v-on="inputEvents" class="input">
                    </template>
                </DatePicker>
            </div>
        </div>
        <div class="mt-2 bg-white shadow-md rounded overflow-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-left">Type</th>
                        <th class="text-left">Amount</th>
                        <th class="text-left">Received / Transfered Via</th>
                        <th class="text-left">Remarks</th>
                        <th class="text-left">Date Confirmed</th>
                        <th class="text-left">Date Requested</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(p,i) in payouts.data" :key="i">
                        <td class="collapse">
                            <i v-if="isAdmin" class="fas fa-pen-square mr-2 link text-xl" @click="editEachPayouts(p)" title="Edit"></i>
                            {{ p.profit_type_str }}
                        </td>
                        <td class="collapse">{{ numeral(p.points).format('0,0') }} <small>(-{{ numeral(p.fee).format('0,0') }})</small></td>
                        <td>{{ p.received_via_str }}</td>
                        <td>{{ p.remarks }}
                            <div v-if="isAdmin && p.admin !== null" class="text-sm italic">Confirmed By: {{ p.admin.halfname }}</div>
                        </td>
                        <td class="collapse">{{ p.confirmed_at }}</td>
                        <td class="collapse">{{ p.requested_at }}</td>
                    </tr>
                </tbody>
            </table>
            <div v-if="payouts.data !== undefined && payouts.data.length <= 0" class="p-4 uppercase italic">
                <i class="fas fa-exclamation mr-3"></i> No data found.
            </div>
            <Pagination class="border-t border-solid border-gray-300" :pages="payouts.links" :perPage="payouts.per_page" :totalPage="payouts.total" @page-click="getPayouts" />
        </div>
        
        <PayoutEdit v-model="modalEdit" :data="modalEditData" @onsuccess="getPayouts(profitPage)" />
    </div>
</template>
<script>
import API from '~/api'
import numeral from 'numeral'
import { DatePicker } from 'v-calendar'

import Pagination from '~/components/Utilities/Pagination.vue'
import PayoutEdit from '~/components/Members/Utilities/PayoutEdit.vue'
export default {
    props: ['id'],
    inject: ['isAdmin'],
    components: { Pagination, DatePicker, PayoutEdit },
    data () {
        return {
            numeral,
            date: new Date(),
            payouts: {},

            modalEdit:false,
            modalEditData: {},

            profitType: 0,
            profitTypes: ['All', 'Binary', 'Fifth Pair', 'Unilevel'],     
            profitPage: 1,
        }
    },
    created () {
        this.getPayouts()
    },
    methods: {
        getPayouts (page=1) {
            const date = this.date.toJSON()
            this.profitPage = page

            API.get(`/member_payouts?id=${this.id}&page=${page}&type=${this.profitType}&date=${date}`)
            .then(res => {
                this.payouts = res.data
            })
        },
        editEachPayouts (data) {
            this.modalEdit = true
            this.modalEditData = data
        }
    },
    watch: {
        profitType () {
            this.getPayouts()
        },
        date () {
            this.getPayouts()
        }
    }
}
</script>