<template>
    <div>
        <Alert v-model="alert.show" :response="alert.response" :status="alert.status" :title="alert.title" :message="alert.message" />
        <div class="text-lg uppercase font-bold mb-2">Purchases</div>

        <div class="w-full lg:w-1/2">
            <div class="flex flex-col md:flex-row gap-4 mb-2 items-center">
                <div class="text-lg font-medium flex-1">Total: {{ numeral(purchases.total_sum).format('0,0') }}</div>
                <div class="flex-1">
                    <DateRange v-model="purchasesOpts.dates"/>
                </div>
            </div>

            <div class="flex flex-col gap-4">
                <div v-for="(p, i) in purchases.data" :key="i">
                    <div class="p-4 bg-white shadow-md rounded">
                        <div class="flex justify-between font-medium">
                            <div>{{ p.confirmed_at }}</div>
                            <div>
                                <div class="px-2 rounded bg-gray-200">
                                    {{ numeral(p.amount_discounted).format('0,0') }}
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col gap-2 mt-3">
                            <div v-for="(d, di) in p.items" :key="di">
                                <div class="font-medium">
                                    {{ d.username }}
                                    <span class="ml-2 text-gray-600 text-sm">AR# {{ d.ar_num }}</span>
                                </div>
                                <div class="flex gap-4 items-start uppercase leading-none">
                                    <div>
                                        {{ d.product.acronym }}
                                        <div class="text-xs text-gray-600">{{ d.product.name }}</div>
                                    </div>
                                    <div>
                                        {{ numeral(d.price_discounted).format('0,0') }}
                                        <div class="text-xs text-gray-600">Price</div>
                                    </div>
                                    <div>
                                        {{ d.quantity }}
                                        <div class="text-xs text-gray-600">Qty</div>
                                    </div>
                                    <div class="flex-1 font-medium text-right">
                                        {{ numeral(d.amount).format('0,0') }}
                                        <div class="text-xs text-gray-600">Total</div>
                                    </div>
                                </div>

                                <!-- Admin Tools -->
                                <div v-if="isAdmin" class="flex justify-between items-start gap-4 mt-px">
                                    <div class="flex-1 italic text-xs text-gray-600">
                                        <div>Date Added: <b>{{ d.created_at }}</b></div>
                                        <div v-if="d.admin !== null">Added By: <b>{{ d.admin.halfname }}</b></div>
                                    </div>
                                    <div>
                                        <i class="fas fa-trash link link-red text-xl" @click="deletePurchase(d, i)" title="Delete"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div v-if="purchases.data !== undefined && purchases.data.length <= 0" class="p-4 bg-white shadow-md rounded uppercase italic">
                <i class="fas fa-exclamation mr-3"></i> No data found.
            </div>

            <div class="mt-5 bg-white shadow-md rounded overflow-auto">
                <Pagination :pages="purchases.links" :perPage="purchases.per_page" :totalPage="purchases.total" @page-click="getPurchases" />
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import numeral from 'numeral'

import DateRange from '~/components/Utilities/DateRange.vue'
import Pagination from '~/components/Utilities/Pagination.vue'
import Alert from '~/components/Utilities/Alert.vue'
export default {
    props: ['id'],
    inject: ['isAdmin'],
    components: { Pagination, Alert, DateRange },
    data () {
        return {
            numeral,
            purchases:{},
            purchasesOpts: {
                dates: {}
            },
            alert: {
                show: false,
                status: 'info'
            },
        }
    },
    created () {
        this.getPurchases()
    },
    methods: {
        getPurchases (page=1) {
            API.get(`/member_purchases`, {params:{
                page,
                id:this.id,
                ...this.purchasesOpts
            }})
            .then(res => {
                this.purchases = res.data
            })
        },
        deletePurchase (data, mainIndex) {
            const id = data.id
            if (id === undefined || id === null) return false

            const items = this.purchases.data[mainIndex].items
            const index = items.findIndex(el => el.id == id)

            const msg = {
                account: data.username,
                product: data.product.name,
                price: numeral(data.price_discounted).format('0,0'),
                quantity: numeral(data.quantity).format('0,0'),
                total: numeral(data.amount).format('0,0'),
            }

            API.post(`/purchase_delete`, { id: id })
            .then(() => {
                items.splice(index, 1)
                this.alert = {
                    show: true,
                    status: 'success',
                    title: 'Purchase deleted successfully!',
                    message: msg
                }
            })
        }
    },
    watch: {
        purchasesOpts: {
            handler () {
                this.getPurchases()
            },
            deep: true
        }
    }
}
</script>