<template>
    <div>
        <!-- Summary Modal -->
        <Modal v-model="summaryModal">
            <div class="uppercase mb-4">
                <div class="text-xl font-medium">{{ summaryModalData.title }}</div>
                <div>{{ summaryModalData.subtitle }}</div>
            </div>

            <!-- Payout Data -->
            <div v-if="summaryModalData.items_type == 'payout'">
                <table>
                    <tr v-for="(n, i) in summaryModalData.items" :key="i">
                        <td class="text-sm uppercase text-gray-700 w-32 md:w-auto">{{ n.name }}</td>
                        <td class="pl-3 md:text-lg">: {{ n.value }}</td>
                    </tr>
                </table>
            </div>

            <!-- Profit Data -->
            <div class="overflow-x-auto" v-else>

                <!-- Binary & Fifth Pair Data -->
                <table class="table" v-if="['binary','fifthpair'].includes(type)">
                    <thead>
                        <tr>
                            <th class="text-left">Username</th>
                            <th class="text-left">Package</th>
                            <th class="text-right">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(n,i) in summaryModalData.items" :key="i">
                            <td>{{ n.username }}</td>
                            <td>{{ n.package }}</td>
                            <td class="text-right">{{ numeral(n.amount).format('0,0') }}</td>
                        </tr>
                        <tr class="font-semibold">
                            <td class="text-right" colspan="2">Total</td>
                            <td class="text-right">{{ numeral(summaryModalData.amount).format('0,0') }}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Unilevel Data -->
                <table class="table" v-else>
                    <thead>
                        <tr>
                            <th class="text-left">Username</th>
                            <th class="text-right collapse" v-for="n in 10" :key="n">Level {{ n }}</th>
                            <th class="text-right">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(n,i) in summaryModalData.items" :key="i">
                            <td>{{ n.username }}</td>
                            <td class="text-right collapse" v-for="c in 10" :key="c"> {{ numeral(n[`lvl${c}`]).format('0,0') }} </td>
                            <td class="text-right collapse">{{ numeral(n.total_profit).format('0,0') }}</td>
                        </tr>
                        <tr class="text-right font-semibold">
                            <td colspan="11">Total</td>
                            <td class="collapse">{{ numeral(summaryModalData.amount).format('0,0') }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            
            <div class="text-right mt-4">
                <button class="button button-green" @click="summaryModal = false">OK</button>
            </div>
        </Modal>

        <!-- Total -->
        <div class="flex gap-4 flex-col md:flex-row md:items-end">
            <div class="flex-1">
                <div class="text-white shadow-md rounded p-4" :class="profit.bg">
                    <div class="text-lg uppercase font-bold">{{ profit.title }}</div>
                    <div class="mt-4">
                        <span class="text-2xl mr-2">{{ numeral(profit.available).format('0,0') }}</span>
                        <span v-if="profit.fee >= 1" class="text-lg">( - {{ numeral(profit.fee).format('0,0') }} )</span>
                    </div>
                    <div class="uppercase text-sm">Available Balance</div>
                </div>
            </div>
            <div class="flex-1 leading-none">
                <div class="flex gap-4 md:flex-col">
                    <div>
                        <div class="text-xl">{{ numeral(profit.profits).format('0,0') }}</div>
                        <div class="uppercase text-xs text-gray-700">Total Profits</div>
                    </div>
                    <div>
                        <div class="text-xl">{{ numeral(profit.payouts).format('0,0') }}</div>
                        <div class="uppercase text-xs text-gray-700">Total Payouts</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Summary -->
        <div class="mt-5 bg-white shadow-md rounded overflow-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2" class="text-left">Date / Cycle</th>
                        <th class="text-left w-0">Type</th>
                        <th class="text-right w-0">Amount</th>
                        <th class="text-right">Balance</th>
                        <th class="text-right">Total Profits</th>
                        <th class="text-right">Total Payouts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(s, i) in summary.data" :key="i">
                        <td class="collapse pr-0">
                            <i title="Information" class="fas fa-info-circle text-xl link" @click="getEachSummary(s)"></i>
                        </td>
                        <td class="collapse">{{ s.p_date }} <span v-if="s.p_type != 'payout'">/ {{ s.p_cycle }}</span></td>
                        <td class="capitalize font-semibold">
                            <span v-if="s.p_type != 'payout'" class="text-green-600">{{ s.p_type }}</span>
                            <span v-else class="text-red-500">{{ s.p_type }}</span>
                        </td>
                        <td class="text-right">{{ numeral(s.p_amount).format('0,0') }}</td>
                        <td class="text-right font-semibold">{{ numeral(s.total_balance).format('0,0') }}</td>
                        <td class="text-right">{{ numeral(s.total_profit).format('0,0') }}</td>
                        <td class="text-right">{{ numeral(s.total_payout).format('0,0') }}</td>
                    </tr>
                </tbody>
            </table>
            <div v-if="summary.data !== undefined && summary.data.length <= 0" class="p-4 uppercase italic">
                <i class="fas fa-exclamation mr-3"></i> No data found.
            </div>
            <Pagination class="border-t border-solid border-gray-300" :pages="summary.links" :perPage="summary.per_page" :totalPage="summary.total" @page-click="getSummary" />
        </div>
    </div>
</template>
<script>
import API from '~/api'
import { mapState } from 'vuex'
import numeral from 'numeral'

import Modal from '~/components/Utilities/Modal.vue'
import Pagination from '~/components/Utilities/Pagination.vue'
import profitTypes from '~/constants/profitTypes.json'
export default {
    props: {
        type: {type: String, default: 'binary'},
        id: {type: [String, Number], default: 0}
    },
    components: { Modal, Pagination },
    data () {
        return {
            numeral,
            summary: {},
            summaryModal: false,
            summaryModalData: {},
        }
    },
    created () {
        this.getSummary()
    },
    methods: {
        getSummary (page=1) {
            const id = this.id
            const type = this.profitType.id
            API.get(`/member_summary_profits?id=${id}&profit_type=${type}&page=${page}`)
            .then(res => {
                this.summary = res.data
            })
        },

        getEachSummary (data) {
            var items = []
            if (data.p_type == 'payout') {
                items = [
                    { name:'Amount', value:numeral(data.p_data.points).format('0,0') },
                    { name:'Admin Fee', value:numeral(data.p_data.fee).format('0,0') },
                    { name:'Received / Transfered Via', value:data.p_data.received_via_str },
                    { name:'Remarks', value:data.p_data.remarks },
                    { name:'Date Requested', value:data.p_data.requested_at },
                    { name:'Date Confirmed', value:data.p_data.confirmed_at },
                ]
            } else {
                items = data.p_data
            }

            this.summaryModalData = {
                title: `${this.profitType.title}  ${data.p_type}`,
                subtitle: (data.p_type == 'payout') ? data.p_date : `${data.p_date} Cycle ${data.p_cycle}`,
                items: items,
                items_type: data.p_type,
                amount: data.p_amount,
            }
            this.summaryModal = true
        }
    },
    computed: mapState({
        profit (state) {
            var pType = (['binary','unilevel','fifthpair'].includes(this.type)) ? this.type : 'binary';
            const type = profitTypes.find(el => el.key == pType)
            
            type.profits = state.memberData[`total_profit_${type.key}`]
            type.payouts = state.memberData[`total_payout_${type.key}`]
            type.available = state.memberData[`total_available_${type.key}`]
            
            var fee = (state.memberData.fees !== undefined) ? state.memberData.fees[type.key] : null;
            type.fee = (fee !== null) ? fee.amount : 0;

            return type
        },
        profitType () {
            var pType = (['binary','unilevel','fifthpair'].includes(this.type)) ? this.type : 'binary';
            return profitTypes.find(el => el.key == pType)
        }
    }),
    watch: {
        type () {
            this.getSummary()
        }
    }
}
</script>