<template>
    <div>
        <div class="text-lg uppercase font-bold mb-2">Pairing & Sponsoring</div>
        <NetworksDropDownMenu v-model="id" class="w-full md:w-1/4"/>
        <!-- Summary -->
        <div class="mt-5 bg-white shadow-md rounded overflow-auto">
            <table class="table">
                <colgroup>
                    <col>
                    <col span="3" class="bg-blue-100">
                    <col span="3" class="bg-green-100">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="3">3K Binary</th>
                        <th colspan="3">7K Binary</th>
                    </tr>
                    <tr>
                        <th class="text-left">Date / Cycle</th>

                        <!-- 3K -->
                        <th class="collapse">Current Pairs</th>
                        <th class="leading-none">Sponsorings <br> <small class="font-normal">Millenium 2K Included</small></th>
                        <th>Fifth Pairs</th>

                        <!-- 7K -->
                        <th class="collapse">Current Pairs</th>
                        <th>Sponsorings</th>
                        <th>Fifth Pairs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(s, i) in summary.data" :key="i">
                        <td class="collapse">
                            <!-- <i title="Information" class="fas fa-info-circle text-xl link mr-3" @click="getEachSummary(s)"></i> -->
                            {{ s.date_format }} / {{ s.cycle }}
                        </td>

                        <template v-for="n in 2" :key="n">
                            <td class="text-center leading-none">
                                <span v-if="s[`paired${n}`] === null"> --- </span>
                                <div v-else>
                                    <div>
                                        {{ s[`paired${n}`] }}
                                        <span v-if="n == s.pair_type && s.paired >= 1" class="text-green-600">(+{{s.paired}})</span>
                                    </div>
                                    <small>{{ s[`versus${n}`] }}</small>
                                </div>
                            </td>
                            <td class="text-center">
                                <span v-if="s[`directs${n}`] === null"> --- </span>
                                <span v-else>
                                    {{ s[`directs${n}`] }}
                                    <span v-if="n == s.pair_type && s.directs >= 1" class="text-green-600">(+{{s.directs}})</span>
                                </span>
                            </td>
                            <td class="text-center">
                                <span v-if="s[`fifth${n}`] === null"> --- </span>
                                <span v-else>
                                    {{ s[`fifth${n}`] }}
                                    <span v-if="n == s.pair_type && s.fifth >= 1" class="text-green-600">(+{{s.fifth}})</span>
                                </span>
                            </td>
                        </template>
                    </tr>
                </tbody>
            </table>
            <div v-if="summary.data !== undefined && summary.data.length <= 0" class="p-4 uppercase italic">
                <i class="fas fa-exclamation mr-3"></i> No data found.
            </div>

            <Pagination class="border-t border-solid border-gray-300" :pages="summary.links" :perPage="summary.per_page" :totalPage="summary.total" @page-click="getSummary" />
        </div>

    </div>
</template>
<script>
import API from '~/api'
import numeral from 'numeral'

import NetworksDropDownMenu from '~/components/Members/Utilities/NetworksDropDownMenu.vue'
import Pagination from '~/components/Utilities/Pagination.vue'
export default {
  components: { NetworksDropDownMenu, Pagination },
    data () {
        return {
            numeral,
            id: 0,
            summary: {},
        }
    },
    methods: {
        getSummary (page=1) {
            API.get(`/member_summary_pairings_sponsoring?page=${page}&networking_id=${this.id}`)
            .then(res => {
                this.summary = res.data
            })
        },
        getEachSummary (data) {
            console.log(data)
        }
    },
    watch: {
        id (val) {
            if (val >= 1) this.getSummary()
        }
    }
}
</script>