<template>
    <div class="flex flex-col gap-4 md:flex-row">
        <div class="flex-1" :class="{error: errors.province}">
            <label>Province</label>
            <div class="relative">
                <select class="input" v-model="modelValue.province">
                    <option v-for="p in provinces" :key="p" :value="p">{{ p }}</option>
                </select>
                <i v-if="clearable && modelValue.province" class="input-clear fas fa-times" @click="modelValue.province = ''"></i>
            </div>
            <div class="italic text-sm mt-2" v-if="errors.province">
                <div v-for="(e, i) in errors.province" :key="i">{{ e }}</div>
            </div>
        </div>
        <div class="flex-1" :class="{error: errors.city}">
            <label>Municipality</label>
            <div class="relative">
                <select class="input" v-model="modelValue.city" :disabled="cities.length <= 0">
                    <option v-for="c in cities" :key="c" :value="c">{{ c }}</option>
                </select>
                <i v-if="clearable && modelValue.city" class="input-clear fas fa-times" @click="modelValue.city = ''"></i>
            </div>
            <div class="italic text-sm mt-2" v-if="errors.city">
                <div v-for="(e, i) in errors.city" :key="i">{{ e }}</div>
            </div>
        </div>
        <div class="flex-1" :class="{error: errors.barangay}">
            <label>Barangay</label>
            <div class="relative">
                <select class="input" v-model="modelValue.barangay" :disabled="barangays.length <= 0">
                    <option v-for="b in barangays" :key="b" :value="b">{{ b }}</option>
                </select>
                <i v-if="clearable && modelValue.barangay" class="input-clear fas fa-times" @click="modelValue.barangay = ''"></i>
            </div>
            <div class="italic text-sm mt-2" v-if="errors.barangay">
                <div v-for="(e, i) in errors.barangay" :key="i">{{ e }}</div>
            </div>
        </div>
    </div>
</template>
<script>
import address from '~/jsons/ph.json'
export default {
    props: {
        modelValue: {
            type: Object,
            default: {
                province: '',
                city: '',
                barangay: ''
            }
        },
        errors: {type: Object, default: {}},
        clearable: {type: Boolean, default: false}
    },
    methods: {
        getAddress () {
            const data = {}
            for (const key in address) Object.assign(data, address[key].province_list)
            return data
        }
    },
    computed: {
        provinces () {
            const data = Object.keys(this.getAddress())
            return data.sort()
        },
        cities () {
            var data = this.getAddress()
            var prov = this.modelValue.province

            if (data[prov] === undefined) return []

            data = Object.keys(data[prov].municipality_list)
            return data.sort()
        },
        barangays () {
            var data = this.getAddress()
            var prov = this.modelValue.province
            var city = this.modelValue.city

            if (data[prov] === undefined) return []

            data = data[prov].municipality_list
            if (data[city] === undefined) return []

            return data[city].barangay_list.sort()
        },
    },
    watch: {
        "modelValue.province" () {
            this.modelValue.city = ''
            this.modelValue.barangay = ''
        },
        "modelValue.city" () {
            this.modelValue.barangay = ''
        }
    }
}
</script>