<template>
    <div class="relative" @focusout="copied = false">
        <transition
            enter-active-class="animate__animated animate__fadeInUp" 
            leave-active-class="animate__animated animate__fadeOutUp"
            >
            <div v-show="copied" class="absolute px-2 py-1 rounded-full bottom-full right-0 text-xs text-white bg-black">
                <span v-if="!isError">Copied!</span>
                <span v-else>Failed to copy!</span>
            </div>
        </transition>
        <button class="button" v-clipboard:copy="message" v-clipboard:success="onCopy" v-clipboard:error="onError">
            <slot></slot>
            <i class="fas fa-copy"></i>
        </button>
    </div>
</template>
<script>
export default {
    props: {
        data: [String, Number, Array]
    },
    data () {
        return {
            copied: false,
            isError: false
        }
    },
    methods: {
        onCopy (e) {
            this.copied = true
        },
        onError (e) {
            this.copied = true
            this.isError = true
        }
    },
    computed: {
        message () {
            var msg = this.data
            if (Array.isArray(msg)) {
                return msg.join('\n')
            } else {
                return msg
            }
        }
    }
}
</script>