<template>
    <div class="flex flex-col gap-4 md:flex-row">
        <div class="flex-1">
            <label>Date From</label>
            <div class="relative">
                <DatePicker v-model="start" min-date="2018-01-01" :max-date="new Date()" :masks="{ input:'MMM DD, YYYY' }" class="relative">
                    <template v-slot="{ inputValue, inputEvents }">
                        <input type="text" :value="inputValue" v-on="inputEvents" class="input">
                    </template>
                </DatePicker>
                <i v-if="start != ''" class="input-clear fas fa-times" @click="start = ''"></i>
            </div>
        </div>
        <div class="flex-1">
            <label>Date To</label>
            <div class="relative">
                <DatePicker v-model="end" :min-date="start" :max-date="new Date()" :masks="{ input:'MMM DD, YYYY' }" class="relative">
                    <template v-slot="{ inputValue, inputEvents }">
                        <input type="text" :value="inputValue" v-on="inputEvents" class="input" :disabled="endDisable">
                    </template>
                </DatePicker>
                <i v-if="end != ''" class="input-clear fas fa-times" @click="end = ''"></i>
            </div>
        </div>
    </div>
</template>
<script>
import { DatePicker } from 'v-calendar'
import moment from 'moment'
export default {
    components: { DatePicker },
    props: {
        modelValue: {type:Object, default:{start:'', end:''}}
    },
    data () {
        return {
            start: '',
            end: '',
            endDisable: true,
        }
    },
    methods: {
        setDates () {
            if (this.start == '' && this.end == '') {
                this.$emit('update:modelValue', {start:'', end:''})
                return
            }
            if (this.start == '' || this.end == '') return

            this.$emit('update:modelValue', {
                start: moment(this.start).format('ll'),
                end: moment(this.end).format('ll')
            })
        }
    },
    watch: {
        start (val) {
            this.end = ''
            this.endDisable = (val == '') ? true : false
            this.setDates()
        },
        end (val) {
            if (val != '') this.setDates()
        }
    }
}
</script>