<template>
    <div class="inline-block z-0" @focusin="show=true" @focusout="show=false">
        <slot name="button"></slot>
        <transition
            enter-active-class="animate__animated animate__fadeIn"
            leave-active-class="animate__animated animate__fadeOut">
            <div class="absolute shadow-lg bg-white rounded max-h-40 overflow-y-auto border-gray-200 border border-solid w-full md:w-auto"
                style="z-index:99"
                v-show="show">
                <slot></slot>
            </div>
        </transition>
    </div>
</template>
<script>
export default {
    data () {
        return {
            show:false
        }
    }
}
</script>