<template>
    <div class="absolute inset-0 bg-white bg-opacity-50 z-30" v-if="show">
        <div class="flex h-full items-center justify-center">
            <div><i class="fas fa-spinner text-5xl animate-spin"></i></div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        show: Boolean
    }
}
</script>