<template>
    <transition 
        enter-active-class="animate__animated animate__fadeInDown" 
        leave-active-class="animate__animated animate__fadeOutUp">

        <div class="fixed inset-0 bg-black bg-opacity-50 z-50 overflow-y-auto" v-if="modelValue">
            <div v-if="!isEager" class="absolute inset-0 z-10" @click="closeModal()"></div>
            <div class="relative z-20 bg-white p-4 md:rounded md:mx-auto md:my-10"
                :class="{'xl:w-1/3 lg:w-1/2 md:w-3/4':isSmall, 'lg:w-1/2 md:w-3/4':!isSmall}">
                <i class="fas fa-times float-right text-2xl no-underline cursor-pointer text-gray-400 hover:text-red-500 leading-none" @click="closeModal()"></i>
                <slot></slot>
            </div>
        </div>
    </transition>
</template>
<script>
export default {
    props: {
        modelValue: {type:Boolean, default:false},
        isEager: {type:Boolean, default:false},
        isSmall: {type:Boolean, default:false},
    },
    methods: {
        closeModal () {
            this.$emit('update:modelValue', false)
        }
    },
    watch:{
        modelValue (val) {
            if (val) {
                document.body.classList.add('overflow-hidden')
            } else {
                document.body.classList.remove('overflow-hidden')
            }
        }
    }
}
</script>