<template>
    <div v-if="paginate" class="menu">
        <template v-for="(p, i) in pages" :key="i">
            <a class="item" :class="{active:p.active, disabled:p.active}" v-if="p.url !== null" @click="pageLink(p.url)">
                <span v-html="p.label"></span>
            </a>
        </template>
    </div>
</template>
<script>
export default {
    props: {
        pages: Array,
        perPage: {type:[Number, String], default:10},
        totalPage: {type:[Number, String], default:10},
    },
    methods: {
        pageLink (url) {
            url = new URL(url)
            url = new URLSearchParams(url.search)
            const page = url.get('page')
            this.$emit('pageClick', page)
        }
    },
    computed: {
        paginate () {
            return (this.totalPage <= this.perPage) ? false : true
        }
    }
}
</script>