<template>
    <div class="relative">
        <Alert v-model="alert.show" :response="alert.response" :status="alert.status" :title="alert.title" :message="alert.message" />
        <Loader :show="loader"/>
        <div class="text-xl font-medium mb-5">Request Payout</div>
        <div class="p-4 rounded shadow-md bg-white">
            <div class="flex flex-col gap-4">

                <div :class="{error: errors.profit_type}">
                    <label>Profit Type</label>
                    <div class="flex gap-4 flex-col md:flex-row">
                        <div class="flex-1" v-for="(p, i) in profits" :key="i">
                            <div class="flex gap-2 leading-none">
                                <input type="radio" name="addPayoutProfitType" :id="'addPayoutProfitType'+i" :value="p.id" v-model="addData.profit_type">
                                <label class="link" :for="'addPayoutProfitType'+i">
                                    {{ p.title }}
                                    <div class="text-lg">
                                        {{ numeral(p.available).format('0,0') }}
                                        <span v-if="p.fee >= 1" class="ml-2 text-sm">( {{ numeral(-p.fee).format('0,0') }} )</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="italic text-sm mt-2" v-if="errors.profit_type">
                        <div v-for="(e, i) in errors.profit_type" :key="i">{{ e }}</div>
                    </div>
                </div>

                <div :class="{error: errors.points}">
                    <div class="flex gap-4">
                        <div class="flex-1">
                            <label>Points</label>
                            <input type="number" class="input" v-model="addData.points">
                        </div>
                        <div class="flex-initial w-20 md:w-32">
                            <label>Fee</label>
                            <input type="text" class="input" v-model="addData.fee" readonly>
                        </div>
                    </div>
                    <div class="italic text-sm mt-2" v-if="errors.points">
                        <div v-for="(e, i) in errors.points" :key="i">{{ e }}</div>
                    </div>
                </div>

                <!-- <div :class="{error: errors.received_via}">
                    <label>Receive / Transfer Via</label>
                    <select class="input" v-model="addData.received_via">
                        <template v-for="(r, i) in receivedTypes" :key="i">
                            <option v-if="![2,3,5].includes(r.id)" :value="r.id">{{ r.name }}</option>
                        </template>
                    </select>
                    <div class="italic text-sm mt-2" v-if="errors.received_via">
                        <div v-for="(e, i) in errors.received_via" :key="i">{{ e }}</div>
                    </div>
                </div> -->

                <div class="p-4 rounded bg-gray-100 border border-solid border-gray-300 flex flex-row gap-4 items-center text-gray-600">
                    <i class="fas fa-info text-2xl"></i>
                    <div class="flex-1 italic text-sm">
                        <p>
                            Bank and money transfer is not available at this time.
                            Payout transactions will be in check form.
                        </p>
                        <p>
                            We apologize for any inconvenience this may cause and your understanding is highly appreciated.
                        </p>
                    </div>
                </div>

                <!-- Bank Transfer -->
                <template v-if="addData.received_via == 4">
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex-1" :class="{error: errors.bankname}">
                            <label>Bank Name</label>
                            <input type="text" class="input" v-model="addData.bankname">
                            <div class="text-xs italic">Ex. LandBank, BDO, BPI, etc.</div>
                            <div class="italic text-sm mt-2" v-if="errors.bankname">
                                <div v-for="(e, i) in errors.bankname" :key="i">{{ e }}</div>
                            </div>
                        </div>
                        <div class="flex-1" :class="{error: errors.banknumber}">
                            <label>Bank Account Number</label>
                            <input type="text" class="input" v-model="addData.banknumber">
                            <div class="italic text-sm mt-2" v-if="errors.banknumber">
                                <div v-for="(e, i) in errors.banknumber" :key="i">{{ e }}</div>
                            </div>
                        </div>
                    </div>
                </template>

                <!-- Money Transfer -->
                <template v-if="addData.received_via == 6">
                    <div class="flex flex-col md:flex-row gap-4">
                        <div class="flex-1" :class="{error: errors.bankname}">
                            <label>Money Transfer Name</label>
                            <input type="text" class="input" v-model="addData.bankname">
                            <div class="text-xs italic">Ex. GCash, Palawan, MLhullier, etc.</div>
                            <div class="italic text-sm mt-2" v-if="errors.bankname">
                                <div v-for="(e, i) in errors.bankname" :key="i">{{ e }}</div>
                            </div>
                        </div>
                        <div class="flex-1" :class="{error: errors.banknumber}">
                            <label>Mobile Number</label>
                            <input type="text" class="input" v-model="addData.banknumber">
                            <div class="italic text-sm mt-2" v-if="errors.banknumber">
                                <div v-for="(e, i) in errors.banknumber" :key="i">{{ e }}</div>
                            </div>
                        </div>
                    </div>
                </template>

                <div :class="{error: errors.remarks}">
                    <label>Remarks</label>
                    <textarea class="input" rows="2" v-model="addData.remarks"></textarea>
                    <div class="italic text-sm mt-2" v-if="errors.remarks">
                        <div v-for="(e, i) in errors.remarks" :key="i">{{ e }}</div>
                    </div>
                </div>

                <div class="text-right">
                    <button class="button-green" @click="submit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import numeral from 'numeral'
import validate from 'validate.js'

import Loader from '~/components/Utilities/Loader.vue'
import Alert from '~/components/Utilities/Alert.vue'

import receivedTypes from '~/constants/receivedTypes.json'
import profitTypes from '~/constants/profitTypes.json'
export default {
    components: { Loader, Alert },
    data () {
        return {
            numeral,
            receivedTypes,

            member: {},
            addData: {
                received_via: 1
            },
            errors: {},
            loader: false,
            alert: {
                show: false,
                status: 'info'
            }
        }
    },
    created () {
        document.title = "Request Payout"
        this.getMember()
    },
    methods: {
        getMember () {
            this.loader = true
            API.get('/member')
            .then(res => {
                this.loader = false
                this.member = res.data
            })
            .catch(() => {
                this.loader = false
            })
        },
        submit () {
            const valid = validate(this.addData, this.constraints)
            if (!validate.isEmpty(valid)) {
                this.errors = valid
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            const request = this.member.requests.find(el => el.profit_type == this.addData.profit_type)
            if (request !== undefined) {
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Unconfirmed Pending Requests',
                    message: 'Please wait for the confirmation before you can submit another request.'
                }
                return false
            }

            this.loader = true
            API.post(`/request_payout`, this.addData)
            .then(() => {
                this.loader = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: 'Request Payout submitted successfuly.',
                    message: 'Please wait the confirmation for 3-5 days. You can close this page.'
                }
                this.addData = {
                    received_via: 1
                }
            })
            .catch(() => {
                this.loader = false
            })
        }
    },
    computed: {
        profits () {
            const type = profitTypes.filter(el => el.id != 2)

            type.forEach(el => {
                el.profits = this.member[`total_profit_${el.key}`]
                el.payouts = this.member[`total_payout_${el.key}`]
                el.available = this.member[`total_available_${el.key}`]
                
                var fee = (this.member.fees !== undefined) ? this.member.fees[el.key] : null;
                el.fee = (fee !== null) ? fee.amount : 0;
                el.fee_ids = (fee !== null) ? fee.ids : '';
            })

            return type
        },
        constraints () {
            const data = {
                profit_type: {
                    presence: {
                        allowEmpty: false,
                        message: '^Select profit first.'
                    },
                    numericality: {
                        greaterThan: 0,
                        message: '^Select profit first.'
                    },
                },
                points: {
                    presence: {
                        allowEmpty: false,
                        message: '^Points is required'
                    },
                    numericality: {
                        greaterThanOrEqualTo: 1000,
                        message: "^Points must be at least 1,000 or higher."
                    }
                },
                remarks: {
                    presence: {
                        allowEmpty: false,
                        message: '^Remarks is required'
                    },
                    length: {
                        minimum: 5,
                        message: "^Remarks must be at least 5 characters"
                    }
                },
                received_via: {
                    presence: {
                        allowEmpty: false,
                        message: '^Received / Transfered Type is required'
                    },
                    numericality: {
                        greaterThan: 0,
                        message: '^Received / Transfered Type is required'
                    },
                },
            }

            const type = this.addData.received_via
            if ([4,6].includes(type)) {
                const rv = (type <= 4) ?
                    {name:'Bank Name', number:'Account Number'} : 
                    {name:'Money Transfer Name', number:'Mobile Number'} ;

                data.bankname = {
                    presence: {
                        allowEmpty: false,
                        message: `^${rv.name} is required`
                    },
                    length: {
                        minimum: 3,
                        message: `^${rv.name} must be at least 3 characters`
                    }
                }

                data.banknumber = {
                    presence: {
                        allowEmpty: false,
                        message: `^${rv.number} is required`
                    },
                    length: {
                        minimum: 10,
                        message: `^${rv.number} must be at least 10 characters`
                    },
                    numericality: {
                        message: `^${rv.number} must be numbers only`
                    }
                }
            }

            return data
        }
    },
    watch: {
        addData: {
            deep: true,
            handler (vals) {
                const cons = this.constraints
                for (const key in vals) {
                    this.errors[key] = validate.single(vals[key], cons[key])
                }
            }
        },
        "addData.profit_type" (val) {
            if (val >= 1) {
                const profit = this.profits.find(el => el.id == val)
                this.addData.points = numeral(profit.available).format('0')
                this.addData.fee = -profit.fee
            }
        },
    }
}
</script>