<template>
    <div>
        <div class="menu-col big">
            <router-link :to="{name:'home'}" class="item styled">Home</router-link>
            <router-link :to="{name:'distributors'}" class="item styled">Distributors</router-link>
            <router-link v-if="$store.getters.isAdminSuper || $store.getters.adminLevel >= 2" :to="{name:'codes'}" class="item styled">Codes</router-link>
            <router-link :to="{name:'payouts_main'}" class="item styled">Payouts
                <span v-if="requested >= 1" class="float-right font-bold">{{ requested }}</span>
            </router-link>
            <router-link :to="{name:'purchases'}" class="item styled">Purchases</router-link>
            <router-link :to="{name:'products_descriptions'}" class="item styled">Products</router-link>
            <router-link v-if="$store.getters.isAdminSuper" :to="{name:'admins'}" class="item styled">Admins</router-link>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
    computed: mapState({
        requested: state => {
            const { count_request_payouts } = state.adminDashboard
            return (!count_request_payouts) ? 0 : count_request_payouts
        }
    })
}
</script>