<template>
    <div>
        <Alert v-model="alert.show" :status="alert.status" :title="alert.title" :message="alert.message" />

        <!-- Profile Modal -->
        <Modal v-model="usernameModal" :isEager="true">
            <Loader :show="usernameModalLoader"/>
            <div class="text-xl font-medium capitalize">Edit Username</div>

            <div class="my-5" :class="{ error: usernameErrors}">
                <label>Username</label>
                <input type="text" class="input" v-model="usernameModalData">
                <div class="italic text-sm mt-2" v-if="usernameErrors">
                    <div v-for="(e, i) in usernameErrors" :key="i">{{ e }}</div>
                </div>
            </div>

            <div class="flex justify-end gap-3">
                <button class="button" @click="usernameModal = false">Cancel</button>
                <button class="button button-green" @click="submitUsername()">Submit</button>
            </div>
        </Modal>

        <!-- Password Modal -->
        <Modal v-model="passwordModal" :isSmall="true">
            <Loader :show="passwordModalLoader"/>
            <div class="text-xl uppercase font-medium">Change Password</div>
            <div class="flex flex-col gap-4 my-5">
                <div :class="{error: passwordModalErrors.password}">
                    <label>New Password</label>
                    <input type="password" class="input" v-model="passwordModalData.password">
                    <div class="italic text-sm mt-2" v-if="passwordModalErrors.password">
                        <div v-for="(e, i) in passwordModalErrors.password" :key="i">{{ e }}</div>
                    </div>
                </div>
                <div :class="{error: passwordModalErrors.password_confirmation}">
                    <label>Confirm New Password</label>
                    <input type="password" class="input" v-model="passwordModalData.password_confirmation">
                    <div class="italic text-sm mt-2" v-if="passwordModalErrors.password_confirmation">
                        <div v-for="(e, i) in passwordModalErrors.password_confirmation" :key="i">{{ e }}</div>
                    </div>
                </div>
                <div :class="{error: passwordModalErrors.password_old}">
                    <label>Old Password</label>
                    <input type="password" class="input" v-model="passwordModalData.password_old">
                    <div class="italic text-sm mt-2" v-if="passwordModalErrors.password_old">
                        <div v-for="(e, i) in passwordModalErrors.password_old" :key="i">{{ e }}</div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end gap-4">
                <button class="button" @click="passwordModal = false">Cancel</button>
                <button class="button-green" @click="submitPassword()">Submit</button>
            </div>
        </Modal>

        <div class="flex flex-col gap-3">
            <SearchMembers class="flex-1 block md:hidden" @on-select="goToMember"/>
            <div class="flex items-center gap-2 relative">
                <div class="flex-initial w-60 hidden lg:block">
                    <div class="flex items-center gap-2">
                        <div><img src="/images/logo.png" class="w-10" alt="logo"></div>
                        <div class="flex-1 text-white">
                            <div class="font-medium">Topadminportal</div>
                            <div class="text-xs">{{ appDetails.title }}</div>
                        </div>
                    </div>
                </div>
                <div class="block lg:hidden">
                    <button @click="mobileNavLeft = true" class="button"><i class="fas fa-bars"></i></button>
                </div>
                <SearchMembers class="flex-1 hidden md:block" @on-select="goToMember"/>
                <div class="flex-1">
                    <div class="flex items-center gap-2">
                        <div>
                            <div class="dropdown">
                                <button class="button">
                                    <span class="hidden md:inline-block">Add...</span> 
                                    <span class="inline-block md:hidden"><i class="fas fa-plus"></i></span>
                                    <i class="fas fa-angle-down ml-2"></i>
                                </button>
                                <div class="content right-0">
                                    <div class="menu-col">
                                        <a class="item" @click="goToAddPurchase()">Member's Purchase</a>
                                        <a class="item" @click="goToAddPayout()">Member's Payout</a>
                                        <a class="item" href="/register" target="_blank">Member <small>( Step by Step )</small></a>
                                        <a class="item" href="/topadminportal/forms2/add_member" target="_blank">Member <small>( Advanced )</small></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1"></div>
                        <div>
                            <div class="dropdown">
                                <div class="text-white font-medium cursor-pointer py-2">
                                    <span class="hidden md:inline-block">{{ admin.halfname }}</span>
                                    <span class="inline-block md:hidden">{{ admin.fname }}</span>
                                    <i class="ml-3 fas fa-caret-down"></i>
                                </div>
                                <div class="content right-0">
                                    <div class="menu-col">
                                        <a @click="usernameModal = true, usernameModalData = admin.username" class="item">Edit Username</a>
                                        <a @click="passwordModal = true" class="item">Change Password</a>
                                        <a href="/topadminportal/logout" class="item">Log Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <transition 
            enter-active-class="animate__animated animate__fadeInLeft" 
            leave-active-class="animate__animated animate__fadeOutLeft">

            <div class="fixed inset-0 z-50 bg-black bg-opacity-50" v-if="mobileNavLeft">
                <div class="absolute inset-0 z-10" @click="mobileNavLeft = false"></div>
                <div class="bg-white shadow-md h-screen relative w-4/5 z-20 overflow-auto">
                    <div class="flex items-center gap-2 p-4">
                        <div><img src="/images/logo.png" class="w-10" alt="logo"></div>
                        <div class="flex-1">
                            <div class="font-medium">Topadminportal</div>
                            <div class="text-xs">{{ appDetails.title }}</div>
                        </div>
                        <div>
                            <i class="text-xl link fas fa-times" @click="mobileNavLeft = false"></i>
                        </div>
                    </div>
                    <NavigationLeft @click="mobileNavLeft = false"/>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
import API from '~/api'
import validate from 'validate.js'
import { mapState } from 'vuex'

import Modal from '~/components/Utilities/Modal.vue'
import Loader from '~/components/Utilities/Loader.vue'
import Alert from '~/components/Utilities/Alert.vue'
import SearchMembers from '~/components/Admin/Utilities/SearchMembers.vue'
import NavigationLeft from '~/components/Admin/Utilities/NavigationLeft.vue'

import passwordChange from '~/constraints/passwordChange.js'
import usernameConstraints from '~/constraints/username.js'
import appDetails from '~/constants/appDetails.json'
export default {
    components: { Modal, Loader, Alert, SearchMembers, NavigationLeft },
    data () {
        return {
            appDetails,
            mobileNavLeft: false,

            usernameModal: false,
            usernameModalLoader: false,
            usernameModalData: '',
            usernameErrors: undefined,

            passwordModal: false,
            passwordModalLoader: false,
            passwordModalErrors: {},
            passwordModalData: {},

            alert: {
                show: false,
                status: 'info'
            }
        }
    },
    created () {
        API.get('/admin_dashboard_data')
            .then(res => {
                this.$store.commit('setAdminDashboard', res.data)
                this.$store.commit('setAdminData', res.data.admin_data)
            })
    },
    methods: {
        goToMember (hashid) {
            this.$router.push({
                name:'dist_main',
                params: {id: hashid}
            })
        },
        goToAddPurchase () {
            const member = this.$store.state.memberData
            const query = (member.hashid !== undefined) ? '?id='+member.hashid : ''
            window.open('/topadminportal/forms/add_purchase'+query, '_blank')
        },
        goToAddPayout () {
            const member = this.$store.state.memberData
            const query = (member.hashid !== undefined) ? '?id='+member.hashid : ''
            window.open('/topadminportal/forms/add_payout'+query, '_blank')
        },
        submitUsername () {
            this.usernameErrors = validate.single(this.usernameModalData, usernameConstraints)
            if (!validate.isEmpty(this.usernameErrors)) {
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Field',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            this.usernameModalLoader = true
            API.post('/admin_edit_username', {
                    username: this.usernameModalData
                })
                .then(res => {
                    this.usernameModalLoader = false
                    this.usernameModal = false
                    this.$store.commit('setAdminData', res.data)
                    this.alert = {
                        show: true,
                        status: 'success',
                        title: 'Username edited successfully!',
                    }
                })
                .catch(() => {
                    this.usernameModalLoader = false

                })
        },
        submitPassword () {
            const valid = validate(this.passwordModalData, passwordChange)
            if (!validate.isEmpty(valid)) {
                this.passwordModalErrors = valid
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            this.passwordModalLoader = true
            API.post('/admin_change_password', this.passwordModalData)
                .then(() => {
                    this.passwordModalLoader = false
                    this.passwordModal = false
                    this.passwordModalData = {}
                    this.alert = {
                        show: true,
                        status: 'success',
                        title: 'Password changed successfully'
                    }
                })
                .catch(err => {
                    this.passwordModalLoader = false
                    if (err.response.data.errors !== undefined) this.errors = err.response.data.errors
                })
        }
    },
    watch: {
        usernameModalData (val) {
            this.usernameErrors = validate.single(val, usernameConstraints)
        },
        passwordModalData: {
            deep: true,
            handler (vals) {
                const cons = passwordChange
                for (const key in vals) {
                    if (key != 'password_confirmation') {
                        this.passwordModalErrors[key] = validate.single(vals[key], cons[key])
                    } else {
                        const { password, password_confirmation } = cons
                        this.passwordModalErrors[key] = validate(vals, { password, password_confirmation }, {format: 'flat'})
                    }
                }
            }
        },
        mobileNavLeft (val) {
            if (val) {
                document.body.classList.add('overflow-hidden')
            } else {
                document.body.classList.remove('overflow-hidden')
            }
        }
    },
    computed: mapState({
        admin: state => state.adminData
    })
}
</script>