<template>
    <div>
        <Alert v-model="alert.show" :status="alert.status" :title="alert.title" :message="alert.message" />
        <Modal v-model="modal" :isEager="true">
            <Loader :show="loader"/>
            <div class="text-xl uppercase font-medium">Change Image</div>

            <div class="flex flex-col gap-4 my-5">
                <div>
                    <div class="font-medium mb-2">
                        <input type="radio" v-model="uploadOrChoose" value="0" name="uploadOrChoose" id="uploadOrChoose0">
                        <label for="uploadOrChoose0" class="pl-3">Upload an image</label>
                    </div>
                    <div v-if="uploadOrChoose <= 0">
                        <div class="mb-2 text-center">
                            <button class="button-blue" @click="$refs.imageInput.click()">Upload Image</button>
                        </div>
                        <div class="h-200px w-full bg-contain bg-center bg-no-repeat" :style="`background-image: url(${uploadedImage})`"></div>
                    </div>
                </div>
                <div>
                    <div class="font-medium mb-2">
                        <input type="radio" v-model="uploadOrChoose" value="1" name="uploadOrChoose" id="uploadOrChoose1">
                        <label for="uploadOrChoose1" class="pl-3">Choose an image from the folder</label>
                    </div>
                    <div v-if="uploadOrChoose >= 1">
                        <div class="grid grid-cols-2 xl:grid-cols-5 gap-4">
                            <div v-for="(p,i) in imagesFromFolder" :key="i">
                                <input type="radio" v-model="imagesFromFolderUrl" :value="p.secure_url" :id="`imagesFromFolderUrl${i}`">
                                <label :for="`imagesFromFolderUrl${i}`" class="block mt-2">
                                    <div class="h-200px w-full bg-contain bg-center bg-no-repeat" :style="`background-image: url(${p.secure_url})`"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-end gap-3">
                <button class="button" @click="closeModal()">Cancel</button>
                <button class="button button-green" @click="submit()">Submit</button>
            </div>
        </Modal>
        <input type="file" ref="imageInput" @change="setUploadedImage" class="hidden">
    </div>
</template>
<script>
import API from '~/api'
import validate from 'validate.js'

import Modal from '~/components/Utilities/Modal.vue'
import Alert from '~/components/Utilities/Alert.vue'
import Loader from '~/components/Utilities/Loader.vue'
export default {
    props: {
        modelValue: {type:Boolean, default:false},
        id: {Number, String}
    },
    components: { Modal, Alert, Loader},
    data () {
        return {
            uploadOrChoose: 0,
            uploadedImage: '/images/no-image.jpg',
            imagesFromFolder: [],
            imagesFromFolderUrl: '',

            modal: false,
            loader: false,
            alert: {
                show: false,
                status: 'info'
            },
        }
    },
    methods: {
        getProductImages () {
            if (this.imagesFromFolder.length >= 1) return false

            this.loader = true
            API.get('/products_images')
            .then(res => {
                this.loader = false
                this.imagesFromFolder = res.data
            })
            .catch(() => {
                this.loader = false
            })
        },
        setUploadedImage (e) {
            const image = e.target.files[0]
            const reader = new FileReader()
            reader.readAsDataURL(image)
            reader.onload = e => {
                this.uploadedImage = e.target.result
            }
        },
        submit () {
            const image = (this.uploadOrChoose <= 0) ? this.$refs.imageInput.files[0] : this.imagesFromFolderUrl
            if (validate.isEmpty(image)) {
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Error',
                    message: "No image selected or uploaded."
                }
                return false
            }

            if (this.uploadOrChoose <= 0) {
                var url = "/product_upload_image"
                var form = new FormData()
                form.append('image', image)
                form.append('id', this.id)

            } else {
                var url = "/product_change_image_url"
                var form = {
                    image,
                    id: this.id,
                }
            }
            
            this.loader = true
            API.post(url, form)
            .then(() => {
                this.loader = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: 'Image changed successfully!',
                }

                this.uploadOrChoose = 0
                this.uploadedImage = '/images/no-image.jpg'
                this.imagesFromFolderUrl = ''
                this.closeModal()
                this.$emit('onsuccess')
            })
            .catch(() => {
                this.loader = false
            })
        },
        closeModal () {
            this.$emit('update:modelValue', false)
        },
    },
    watch: {
        uploadOrChoose (val) {
            if (val >= 1) this.getProductImages()
        },
        modelValue (val) {
            this.modal = val
        },
        modal (val) {
            if (!val) this.closeModal()
        },
    }
}
</script>