<template>
    <div class="relative">
        <Loader :show="membersLoading"/>
        <input v-model="membersInput" type="text" class="input relative z-20" :class="{'rounded-b-none':dropdown}" placeholder="Search Distributors"
            @focus="dropdown = true"
            @blur="closeOnBlur()"
            @input="searchOnInput">
        <transition
            enter-active-class="animate__animated animate__slideInDown"
            leave-active-class="animate__animated animate__slideOutUp">
            <div v-show="dropdown" class="absolute z-10 p-2 bg-white rounded shadow-lg w-full inset-x-0 border border-t-0 rounded-t-none border-solid border-gray-300">
                <div class="menu-col overflow-y-auto" style="max-height: 400px">
                    <a class="item" v-for="(m, i) in members" :key="i" @click="onSelect(i)">
                        <div>
                            {{ m.username }} <span class="text-sm">{{ m.fullname }}</span>
                            <small class="ml-1 text-gray-500">{{ moment(m.created_at).fromNow() }}</small>
                        </div>
                        <div class="text-sm text-gray-500 whitespace-normal">{{ m.address }}</div>
                    </a>
                </div>
                <div v-if="membersNoData" class="text-center font-medium py-3">No data found.</div>
                <div class="text-center italic font-medium text-sm">Search Distributors</div>
            </div>
        </transition>
    </div>
</template>
<script>
import API from '~/api'
import moment from 'moment'
import _debounce from 'lodash/debounce'

import Loader from '~/components/Utilities/Loader.vue'
export default {
    components: { Loader },
    data () {
        return {
            moment,
            dropdown: false,
            members: [],
            membersNoData: false,
            membersLoading: false,
            membersInput: '',
        }
    },
    methods: {
        searchOnInput (e) {
            this.getMembers(e.target.value)
        },
        getMembers: _debounce (function(str) {
            if (str == '') return false

            this.membersLoading = true
            API.get(`/members_search?search=${str}`)
                .then(res => {
                    this.membersLoading = false
                    this.members = res.data
                    this.membersNoData = (this.members.length <= 0) ? true : false
                })
                .catch(() => {
                    this.membersLoading = false
                })
        }, 600),
        closeOnBlur () {
            setTimeout(() => {
                this.dropdown = false
            }, 200)
        },
        onSelect (i) {
            const { fullname, hashid } = this.members[i]
            this.membersInput = fullname
            this.$emit('onSelect', hashid)
        }
    }
}
</script>