<template>
    <transition 
        enter-active-class="animate__animated animate__bounceIn" 
        leave-active-class="animate__animated animate__bounceOut">

        <div class="fixed inset-0 bg-black bg-opacity-50 z-50 overflow-y-auto" v-if="$store.state.alertError">
            <div class="relative p-4 bg-white md:rounded md:mx-auto md:my-10 xl:w-1/3 lg:w-1/2 md:w-3/4">
                <div class="flex gap-4">
                    <i class="fas fa-frown-open text-55px text-red-500"></i>
                    <div class="flex-1">
                        <div class="text-3xl font-medium">{{ msg.title }}</div>
                        <div>{{ msg.message }}</div>
                    </div>
                </div>

                <div class="mt-5 text-right">
                    <button class="button button-blue" @click="reload()">Reload</button>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
import { mapState } from 'vuex'
export default {
    methods: {
        reload: () => location.reload()
    },
    computed: mapState({
        msg: state => {
            var alertMsg = state.alertErrorMsg
            var msg = {
                title: alertMsg,
                message: "Try to reload this page."
            }

            if (typeof alertMsg === 'object') {
                msg.title = `${alertMsg.status} ${alertMsg.statusText}`
                msg.message = (alertMsg.data.message !== undefined) ? alertMsg.data.message : alertMsg.data
                if (msg.message == '') msg.message = "Try to reload this page."
            }

            return msg
        }
    })
}
</script>