<template>
    <div>
        <Alert v-model="alert.show" :status="alert.status" :title="alert.title" :message="alert.message" :response="alert.response"/>
        <Modal v-model="modal" :isEager="true" :isSmall="true">
            <div class="text-center">
                <div class="mb-5 text-green-500">
                    <i class="fas fa-check-circle text-55px mb-4"></i>
                    <div class="text-xl font-medium">{{ dataMember.fullname }} Account Registered Successfully!</div>
                </div>
                <div class="text-gray-700 mb-3">Do you want to add more networks to this account?</div>
                <div class="flex justify-center gap-5">
                    <button class="button" @click="dataContinue = true, modal = false">Yes</button>
                    <button class="button" @click="modal = false">No</button>
                </div>
            </div>
        </Modal>
        
        <div class="relative">
            <Loader :show="loader"/>
            <div class="text-xl uppercase font-medium">Add Member</div>
            <div class="p-4 bg-white rounded shadow-md mt-5 flex flex-col gap-5">

                <div class="flex gap-4 text-center text-lg">
                    <div class="flex-1">
                        <input type="radio" name="addMemberIsNew" id="addMemberIsNew1" v-model="data.isNew" value="1">
                        <label for="addMemberIsNew1" class="link pl-3">New Account</label>
                    </div>
                    <div class="flex-1">
                        <input type="radio" name="addMemberIsNew" id="addMemberIsNew0" v-model="data.isNew" value="0">
                        <label for="addMemberIsNew0" class="link pl-3">Add Account</label>
                    </div>
                </div>

                <div v-if="data.isNew >= 1">
                    <div class="font-medium mb-3 text-xl">Profile</div>
                    <div class="flex flex-col gap-4">
                        <div class="flex flex-col md:flex-row gap-4">
                            <div class="flex-1" :class="{error: errors.fname}">
                                <label>First Name</label>
                                <input type="text" class="input" v-model="data.fname" autocomplete="off">
                                <div class="italic text-sm mt-2" v-if="errors.fname">
                                    <div v-for="(e, i) in errors.fname" :key="i">{{ e }}</div>
                                </div>
                            </div>
                            <div class="flex-1" :class="{error: errors.mname}">
                                <label>Middle Name</label>
                                <input type="text" class="input" v-model="data.mname" autocomplete="off">
                                <div class="italic text-sm mt-2" v-if="errors.mname">
                                    <div v-for="(e, i) in errors.mname" :key="i">{{ e }}</div>
                                </div>
                            </div>
                            <div class="flex-1" :class="{error: errors.lname}">
                                <label>Last Name</label>
                                <input type="text" class="input" v-model="data.lname" autocomplete="off">
                                <div class="italic text-sm mt-2" v-if="errors.lname">
                                    <div v-for="(e, i) in errors.lname" :key="i">{{ e }}</div>
                                </div>
                            </div>
                            <div class="md:flex-initial md:w-40">
                                <label>Suffix <small>Ex. Jr, Sr, II, III</small></label>
                                <input type="text" class="input" v-model="data.suffix" autocomplete="off">
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row gap-4">
                            <div class="flex-1" :class="{error: errors.gender}">
                                <label>Gender</label>
                                <select class="input" v-model="data.gender">
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                                <div class="italic text-sm mt-2" v-if="errors.gender">
                                    <div v-for="(e, i) in errors.gender" :key="i">{{ e }}</div>
                                </div>
                            </div>
                            <div class="flex-1" :class="{error: errors.bday}">
                                <label>Birthdate</label>
                                <DatePicker v-model="data.bday" :masks="{ input:'MMM DD, YYYY' }">
                                    <template v-slot="{ inputValue, inputEvents }">
                                        <input type="text" :value="inputValue" v-on="inputEvents" class="input">
                                    </template>
                                </DatePicker>
                                <div class="italic text-sm mt-2" v-if="errors.bday">
                                    <div v-for="(e, i) in errors.bday" :key="i">{{ e }}</div>
                                </div>
                            </div>
                            <div class="flex-1" :class="{error: errors.contact_num}">
                                <label>Contact Number</label>
                                <input type="text" class="input" v-model="data.contact_num" autocomplete="off">
                                <div class="italic text-sm mt-2" v-if="errors.contact_num">
                                    <div v-for="(e, i) in errors.contact_num" :key="i">{{ e }}</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <Address v-model="data" :errors="errors" />
                        </div>
                        <div class="flex flex-col md:flex-row gap-4">
                            <div class="flex-1" :class="{error: errors.username}">
                                <label>Username</label>
                                <input type="text" class="input" v-model="data.username" autocomplete="off">
                                <div class="italic text-sm mt-2" v-if="errors.username">
                                    <div v-for="(e, i) in errors.username" :key="i">{{ e }}</div>
                                </div>
                            </div>
                            <div class="flex-1" :class="{error: errors.password}">
                                <label>Password</label>
                                <input type="password" class="input" v-model="data.password" autocomplete="off">
                                <div class="italic text-sm mt-2" v-if="errors.password">
                                    <div v-for="(e, i) in errors.password" :key="i">{{ e }}</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="checkbox" name="addMemberIsTopless" id="addMemberIsTopless" v-model="data.is_topless">
                            <label for="addMemberIsTopless" class="link pl-3">Check if account is Topless</label>
                        </div>
                    </div>
                </div>

                <div v-else>
                    <div class="font-medium mb-3 text-xl">Search Member</div>
                    <SearchMembers class="flex-1 hidden md:block" @on-select="getMember"/>

                    <table v-if="dataMember.id != undefined" class="table border border-solid border-gray-300 mt-4">
                        <tbody>
                            <tr v-for="(p, i) in profileKeys" :key="i">
                                <td class="w-1/6 text-xs text-gray-600">{{ p.title }}</td>
                                <td :class="{'text-2xl': i<=0}">{{ dataMember[p.key] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <div class="font-medium mb-3 text-xl">Package Type</div>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div v-for="(p,i) in packageTypes" :key="i" class="flex-1">
                            <input type="radio" name="addMemberPackage" :id="`addMemberPackage${i}`" v-model="data.package" :value="p.id">
                            <label :for="`addMemberPackage${i}`" class="link pl-3">{{ p.title }}</label>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="font-medium mb-3 text-xl">Networking Information</div>
                    <div class="flex flex-col gap-4">
                        <div :class="{error: errors.network_username}">
                            <label>Username</label>
                            <input type="text" class="input" v-model="data.network_username">
                            <div class="italic text-sm mt-2" v-if="errors.network_username">
                                <div v-for="(e, i) in errors.network_username" :key="i">{{ e }}</div>
                            </div>
                        </div>

                        <template v-if="!data.is_topless || data.isNew <= 0">
                            <div :class="{error: errors.sponsor}">
                                <label>Sponsor's Username</label>
                                <input type="text" class="input" v-model="data.sponsor" list="sponsorUsernames">
                                <div class="italic text-sm mt-2" v-if="errors.sponsor">
                                    <div v-for="(e, i) in errors.sponsor" :key="i">{{ e }}</div>
                                </div>
                                <datalist id="sponsorUsernames">
                                    <option v-for="(n,i) in dataMember.networks" :key="i" :value="n.username" />
                                </datalist>
                            </div>
                            <div v-if="data.package >= 1">
                                <div class="flex gap-4">
                                    <div class="flex-1" :class="{error: errors.placement}">
                                        <label>Placements's Username</label>
                                        <input type="text" class="input" v-model="data.placement">
                                        <div class="italic text-sm mt-2" v-if="errors.placement">
                                            <div v-for="(e, i) in errors.placement" :key="i">{{ e }}</div>
                                        </div>
                                    </div>
                                    <div class="flex-1" :class="{error: errors.position}">
                                        <label>Position</label>
                                        <select class="input" v-model="data.position">
                                            <option value="1">Left</option>
                                            <option value="2">Right</option>
                                        </select>
                                        <div class="italic text-sm mt-2" v-if="errors.position">
                                            <div v-for="(e, i) in errors.position" :key="i">{{ e }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <div :class="{error: errors.code}">
                            <label>Code</label>
                            <input type="text" class="input" v-model="data.code">
                            <div class="italic text-sm mt-2" v-if="errors.code">
                                <div v-for="(e, i) in errors.code" :key="i">{{ e }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <button class="button-green" @click="submit()">Submit</button>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import validate from 'validate.js'
import { DatePicker } from 'v-calendar'

import SearchMembers from '~/components/Admin/Utilities/SearchMembers.vue'
import Address from '~/components/Utilities/Address.vue'
import Alert from '~/components/Utilities/Alert.vue'
import Loader from '~/components/Utilities/Loader.vue'
import Modal from '~/components/Utilities/Modal.vue'

import packageTypes from '~/constants/packageTypes.json'
import membersProfileConstraints from '~/constraints/profileMember'
import networkConstraints from '~/constraints/network'
import usernameConstraints from '~/constraints/username'
import codeFormatter from '~/helpers/codeFormatter.js'
export default {
    components: { SearchMembers, DatePicker, Address, Alert, Loader, Modal },
    data () {
        return {
            profileKeys: [
                {title:'Name', key:'fullname'},
                {title:'Username', key:'username'},
                {title:'Gender', key:'gender_str'},
                {title:'Birthdate', key:'bday'},
                {title:'Contact Number', key:'contact_num'},
                {title:'Address', key:'address'},
            ],
            packageTypes,

            dataContinue: false,
            dataMember: {},
            data: {
                isNew: 1,
                package: 1
            },

            modal: false,
            errors: {},
            loader: false,
            alert: {
                show: false,
                status: 'info'
            }
        }
    },
    created () {
        document.title = 'Add Member | Topadminportal'
    },
    methods: {
        submit () {
            const valid = validate(this.data, this.dataConstraints)
            if (!validate.isEmpty(valid)) {
                this.errors = valid
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            if (this.data.isNew <= 0) {
                if (validate.isEmpty(this.dataMember)) {
                    this.alert = {
                        show: true,
                        status: 'warning',
                        title: "No member's data found!",
                    }
                    return false
                }
                this.data.id = this.dataMember.id
            }

            this.loader = true
            this.dataContinue = false

            API.post(`/register_account`, this.data)
                .then(res => {
                    this.loader = false
                    this.modal = true
                    this.errors = {}
                    this.dataMember = res.data
                })
                .catch(err => {
                    this.loader = false
                    if (err.response.data.errors !== undefined) this.errors = err.response.data.errors
                })

        },
        getMember (hashid) {
            this.loader = true
            API.get(`/member?id=${hashid}`)
                .then(res => {
                    this.loader = false
                    this.dataMember = res.data
                })
                .catch(() => {
                    this.loader = false
                })
        }
    },
    computed: {
        dataConstraints () {
            var cons = {...networkConstraints}
            if (this.data.isNew >= 1) {
                cons = Object.assign(cons, {
                    username: usernameConstraints,
                    password: {
                        presence: {
                            allowEmpty: false,
                            message: '^Password is required.'
                        },
                    },
                    ...membersProfileConstraints
                })
            }

            if (this.data.package <= 0) {
                cons.position = undefined
                cons.placement = undefined
            }

            if (this.data.is_topless && this.data.isNew >= 1) {
                cons.sponsor = undefined
                cons.position = undefined
                cons.placement = undefined
            }

            return cons
        }
    },
    watch: {
        data: {
            deep: true,
            handler (vals) {
                const cons = this.dataConstraints
                for (const key in vals) {
                    this.errors[key] = validate.single(vals[key], cons[key])
                }
            }
        },
        "data.code" (val) {
            this.data.code = codeFormatter(val)
        },
        modal (val) {
            if (!val) {
                if (this.dataContinue) {
                    this.data = {
                        isNew: 0,
                        package: 1
                    }
                    
                } else {
                    this.data = {
                        isNew: 1,
                        package: 1
                    }
                }
            }
        }
    }
}
</script>