<template>
    <div>
        <Alert v-model="alert.show" :status="alert.status" :title="alert.title" :message="alert.message" :response="alert.response" />
        <div class="relative">
            <Loader :show="loader"/>
            <div class="text-xl uppercase font-medium">Add Payout</div>

            <div v-if="!noData">
                <div class="text-lg font-semibold">{{ data.fullname }}</div>
                <div class="p-4 bg-white rounded shadow-md mt-5">
                    <div class="flex flex-col gap-4 mb-5">
                        <div :class="{error: errors.profit_type}">
                            <label>Profit Type</label>
                            <div class="flex gap-4 flex-col md:flex-row">
                                <div class="flex-1" v-for="(p, i) in profits" :key="i">
                                    <div class="flex gap-2 leading-none">
                                        <input type="radio" name="addPayoutProfitType" :id="'addPayoutProfitType'+i" :value="p.id" v-model="addData.profit_type">
                                        <label class="link" :for="'addPayoutProfitType'+i">
                                            {{ p.title }}
                                            <div class="text-lg">
                                                {{ numeral(p.available).format('0,0') }}
                                                <span v-if="p.fee >= 1" class="ml-2 text-sm">( {{ numeral(-p.fee).format('0,0') }} )</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="italic text-sm mt-2" v-if="errors.profit_type">
                                <div v-for="(e, i) in errors.profit_type" :key="i">{{ e }}</div>
                            </div>
                        </div>
                        <div :class="{error: errors.points}">
                            <div class="flex gap-2">
                                <div class="flex-1">
                                    <label>Points</label>
                                    <input type="number" class="input" v-model="addData.points">
                                </div>
                                <div class="flex-initial w-20 md:w-32">
                                    <label>Fee</label>
                                    <input type="text" class="input" v-model="addData.fee" readonly>
                                </div>
                            </div>
                            <div class="italic text-sm mt-2" v-if="errors.points">
                                <div v-for="(e, i) in errors.points" :key="i">{{ e }}</div>
                            </div>
                        </div>
                        <div :class="{error: errors.remarks}">
                            <label>Remarks</label>
                            <textarea class="input" rows="3" v-model="addData.remarks"></textarea>
                            <div class="italic text-sm mt-2" v-if="errors.remarks">
                                <div v-for="(e, i) in errors.remarks" :key="i">{{ e }}</div>
                            </div>
                        </div>
                        <div :class="{error: errors.received_via}">
                            <label>Received / Transfered Type</label>
                            <div class="flex flex-wrap gap-x-4 gap-y-2">
                                <div v-for="(r, i) in receivedTypes" :key="i">
                                    <input type="radio" :id="'addPayoutReceivedVia'+i" name="addPayoutReceivedVia" :value="r.id" v-model="addData.received_via">
                                    <label :for="'addPayoutReceivedVia'+i" class="pl-2 link">{{ r.name }}</label>
                                </div>
                            </div>
                            <div class="italic text-sm mt-2" v-if="errors.received_via">
                                <div v-for="(e, i) in errors.received_via" :key="i">{{ e }}</div>
                            </div>
                        </div>
                        <div>
                            <input type="checkbox" name="addPayoutAsRequest" id="addPayoutAsRequest" v-model="addData.is_request">
                            <label for="addPayoutAsRequest" class="pl-2 link">Submit as request.</label>
                        </div>
                    </div>

                    <div class="flex justify-end gap-3 mt-5">
                        <button class="button button-green" @click="submitPayout()">Submit</button>
                    </div>
                </div>
            </div>

            <div v-else>
                <div class="text-center">
                    <div class="text-xl font-medium">No distributor selected</div>
                    <div>Search distributor first</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import numeral from 'numeral'
import validate from 'validate.js'

import Alert from '~/components/Utilities/Alert.vue'
import Loader from '~/components/Utilities/Loader.vue'

import receivedTypes from '~/constants/receivedTypes.json'
import profitTypes from '~/constants/profitTypes.json'
export default {
    components: { Alert, Loader},
    data () {
        return {
            receivedTypes,
            numeral,
            modal: false,
            loader: false,
            alert: {
                show: false,
                status: 'info'
            },

            data: {},
            noData: false,

            errors: {},
            addData: {
                fee: 0,
                is_request: false,
            },
            addConstraints: {
                profit_type: {
                    numericality: {
                        greaterThan: 0,
                        message: '^Profit Type is required'
                    },
                },
                points: {
                    presence: {
                        allowEmpty: false,
                        message: 'is required'
                    },
                    numericality: {
                        greaterThanOrEqualTo: 10,
                        message: "must be at least 10 and above"
                    }
                },
                remarks: {
                    presence: {
                        allowEmpty: false,
                        message: 'is required'
                    },
                    length: {
                        minimum: 5,
                        message: "must be at least 5 characters"
                    }
                },
                received_via: {
                    numericality: {
                        greaterThan: 0,
                        message: '^Received / Transfered Type is required'
                    },
                },
            }
        }
    },
    created () {
        this.getMember()
        this.$watch(() => this.$route.query, () => {
            this.getMember()
        })
    },
    methods: {
        submitPayout () {
            const valid = validate(this.addData, this.addConstraints)
            if (!validate.isEmpty(valid)) {
                this.errors = valid
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            const request = this.data.requests.find(el => el.profit_type == this.addData.profit_type)
            if (request !== undefined) {
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Pending Requests',
                    message: 'Member has pending requests. Please confirm it first.'
                }
                return false
            }

            const profit = this.profits.find(el => el.id == this.addData.profit_type)
            if (profit == undefined || this.addData.points > profit.available) {
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Points Not allowed',
                    message: 'Insufficient available balance.'
                }
                return false
            }

            this.addData.accounts = profit.fee_ids
            this.addData.members_id = this.data.id
            this.addData.status = (this.addData.is_request) ? 0 : 1;
            this.loader = true
            API.post('/payout_add', this.addData)
            .then(() => {
                this.loader = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: 'Payout added successfully!',
                }
                this.getMember()
                this.addData = {
                    fee: 0,
                    is_request: false,
                }
            })
            .catch(err => {
                this.loader = false
            })
        },
        getMember () {
            document.title = 'Add Payout'
            const id = this.$route.query.id
            if (validate.isEmpty(id)) {
                this.noData = true
                return false
            }

            this.loader = true
            API.get(`/member?id=${id}`)
            .then(res => {
                this.noData = false
                this.loader = false
                this.data = res.data
                document.title = 'Add Payout - '+this.data.fullname
            })
            .catch(() => {
                this.noData = true
                this.loader = false
            })
        },
    },
    watch: {
        addData: {
            deep: true,
            handler (vals) {
                const cons = this.addConstraints
                for (const key in vals) {
                    this.errors[key] = validate.single(vals[key], cons[key])
                }
            }
        },
        "addData.profit_type" (val) {
            if (val >= 1) {
                const profit = this.profits.find(el => el.id == val)
                this.addData.points = numeral(profit.available).format('0')
                this.addData.fee = -profit.fee
            }
        },
    },
    computed: {
        profits () {
            const type = profitTypes

            type.forEach(el => {
                el.profits = this.data[`total_profit_${el.key}`]
                el.payouts = this.data[`total_payout_${el.key}`]
                el.available = this.data[`total_available_${el.key}`]
                
                var fee = (this.data.fees !== undefined) ? this.data.fees[el.key] : null;
                el.fee = (fee !== null) ? fee.amount : 0;
                el.fee_ids = (fee !== null) ? fee.ids : '';
            })

            return type
        }
    }
}
</script>