<template>
    <div>
        <Alert v-model="alert.show" :status="alert.status" :title="alert.title" :message="alert.message" :response="alert.response" />

        <div class="relative">
            <Loader :show="loader"/>
            <div class="text-xl uppercase font-medium">Add Purchase</div>
            <div v-if="!noData">
                <div class="text-lg font-semibold">{{ member.fullname }}</div>
                <div class="bg-white rounded shadow-md p-4 mt-5">
                    <div class="font-medium mb-5">Add Item</div>
                    <div class="flex flex-col gap-4">
                        <div>
                            <label>Accounts</label>
                            <div class="flex flex-col gap-4 rounded border-gray-300 border border-solid p-4">
                                <div v-for="(network, ni) in networks" :key="ni">
                                    <div v-if="ni <= 1">
                                        <div class="mb-2">{{ network.text }}</div>
                                        <div class="flex flex-wrap gap-2">
                                            <div v-for="(n, i) in network.children" :key="i">
                                                <div class="border border-solid border-gray-400 px-2 py-1 rounded">
                                                    <input type="checkbox" name="accountAddPurchase" :id="`accountAddPurchase${n.username}`" :value="n" v-model="dataAddItem.accounts">
                                                    <label :for="`accountAddPurchase${n.username}`" class="pl-2 link">
                                                        {{ n.username }}
                                                        <div class="ml-2 inline-block rounded text-xs px-2 py-1 leading-none" :class="statuses[n.status].css">
                                                            {{ statuses[n.status].name }}
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <details v-else>
                                        <summary class="mb-2 cursor-pointer">{{ network.text }}</summary>
                                        <div class="flex flex-wrap gap-2">
                                            <div v-for="(n, i) in network.children" :key="i">
                                                <div class="border border-solid border-gray-400 px-2 py-1 rounded">
                                                    <input type="checkbox" name="accountAddPurchase" :id="`accountAddPurchase${n.username}`" :value="n" v-model="dataAddItem.accounts">
                                                    <label :for="`accountAddPurchase${n.username}`" class="pl-2 link">
                                                        {{ n.username }}
                                                        <div class="ml-2 inline-block rounded text-xs px-2 py-1 leading-none" :class="statuses[n.status].css">
                                                            {{ statuses[n.status].name }}
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </details>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row gap-4 md:items-end">
                            <div class="flex-1">
                                <label>Product</label>
                                <select class="input" v-model="dataAddItem.product">
                                    <optgroup v-for="(product, pi) in sortedProducts" :key="pi" :label="product.name">
                                        <option v-for="(p, i) in product.items" :key="i" :value="p">{{ p.name }} - {{ numeral(p.price_discounted).format('0,0') }}</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="flex-1">
                                <div class="flex gap-4 items-end">
                                    <div class="flex-1">
                                        <label>Quantity <small>( Each accounts )</small></label>
                                        <input type="number" class="input" v-model="dataAddItem.quantity">
                                    </div>
                                    <div>
                                        <button class="button-blue" @click="addItem()">Add Item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="font-medium mb-5 mt-10">Items</div>
                    <div v-if="addData.length >= 1" class="overflow-auto">
                        <table class="table">
                            <thead>
                                <tr class="text-left">
                                    <th></th>
                                    <th>Accounts</th>
                                    <th>Products</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(a, i) in addData" :key="i">
                                    <td class="collapse"><button @click="removeItem(i)" class="button-red text-sm"><i class="fas fa-trash"></i></button></td>
                                    <td>{{ a.network.username }}</td>
                                    <td>{{ a.product.name }}</td>
                                    <td>{{ numeral(a.product.price_discounted).format('0,0') }}</td>
                                    <td>{{ numeral(a.qty).format('0,0') }}</td>
                                    <td>{{ numeral(a.product.price_discounted * a.qty).format('0,0') }}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="font-medium">
                                    <td colspan="5" class="text-right">Total :</td>
                                    <td>{{ numeral(total).format('0,0') }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div v-else class="text-center text-lg bg-gray-200 italic p-4">
                        Please add atleast 1 item.
                    </div>

                    <div class="font-medium mb-5 mt-10">Remarks</div>
                    <div class="flex flex-col md:flex-row gap-4 mb-5">
                        <div class="flex-1" :class="{error: errors.date}">
                            <label>Date</label>
                            <DatePicker v-model="addRemarks.date" :masks="{ input:'MMM DD, YYYY' }">
                                <template v-slot="{ inputValue, inputEvents }">
                                    <input type="text" :value="inputValue" v-on="inputEvents" class="input">
                                </template>
                            </DatePicker>
                            <div class="italic text-sm mt-2" v-if="errors.date">
                                <div v-for="(e, i) in errors.date" :key="i">{{ e }}</div>
                            </div>
                        </div>
                        <div class="flex-1" :class="{error: errors.ar_num}">
                            <label>AR Number</label>
                            <input type="text" class="input" v-model="addRemarks.ar_num">
                            <div class="italic text-sm mt-2" v-if="errors.ar_num">
                                <div v-for="(e, i) in errors.ar_num" :key="i">{{ e }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                        <button class="button-green" @click="submit()">Submit</button>
                    </div>
                </div>
            </div>

            <div v-else>
                <div class="text-center">
                    <div class="text-xl font-medium">No distributor selected</div>
                    <div>Search distributor first</div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
import API from '~/api'
import numeral from 'numeral'
import validate from 'validate.js'
import moment from 'moment'

import Alert from '~/components/Utilities/Alert.vue'
import Loader from '~/components/Utilities/Loader.vue'
import { DatePicker } from 'v-calendar'
import productsCategories from '~/constants/productsCategories.json'
export default {
    components: { Alert, Loader, DatePicker },
    data () {
        return {
            numeral,
            statuses : {
                1 : {name:'Active', css:'bg-blue-500 text-white'},
                2 : {name:'Warning', css:'bg-yellow-500 text-white'},
                3 : {name:'Inactive', css:'bg-red-500 text-white'},
            },
            errors: {},
            loader: false,
            alert: {
                show: false,
                status: 'info'
            },

            products: [],
            member: {},
            noData: false,
            addData: [],
            addRemarks: {},
            addRemarksConstraints: {
                date: {
                    presence: {
                        allowEmpty: false,
                        message: '^Date is required.'
                    }
                },
                ar_num: {
                    presence: {
                        allowEmpty: false,
                        message: '^AR number is required.'
                    },
                    format: {
                        pattern:"[A-Za-z0-9]+",
                        flag:'i',
                        message: "^AR number must be letters and numbers only."
                    }
                }
            },
            dataAddItem: {
                accounts: []
            },
        }
    },
    created () {
        this.getMember()
        this.$watch(() => this.$route.query, () => {
            this.getMember()
        })

        API.get('/products_list').then(res => {
            this.products = res.data
        })
    },
    methods: {
        submit () {
            var items = []
            this.addData.forEach(el => {
                const { network, product, qty } = el
                if (!validate.isEmpty(network) || !validate.isEmpty(product)) {
                    items.push({
                        members_network_id: network.id,
                        products_id: product.id,
                        price: product.price,
                        price_discounted: product.price_discounted,
                        quantity: qty
                    })
                }
            })

            if (validate.isEmpty(items)) {
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'No items are added',
                    message: 'Please add atleast 1 item.'
                }
                return false
            }

            const validRemarks = validate(this.addRemarks, this.addRemarksConstraints)
            if (!validate.isEmpty(validRemarks)) {
                this.errors = validRemarks
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the fields with errors.'
                }
                return false
            }

            this.loader = true
            this.errors = {}
            const date = moment(this.addRemarks.date).format('ll')
            API.post('/purchase_add', {
                items: items,
                ...this.addRemarks,
                date
            })
            .then(res => {
                this.loader = false
                this.addData = []
                this.addRemarks = {}
                this.alert = {
                    show: true,
                    status: 'success',
                    title: 'Purchases added successfully!',
                }
            })
            .catch(err => {
                this.loader = false
                if (err.response.data.errors !== undefined) this.errors = err.response.data.errors
            })
        },
        getMember () {
            document.title = 'Add Purchase'
            const id = this.$route.query.id
            if (validate.isEmpty(id)) {
                this.noData = true
                return false
            }

            API.get(`/member?id=${id}`)
            .then(res => {
                this.noData = false
                this.member = res.data
                document.title = 'Add Purchase - '+this.member.fullname
            })
            .catch(() => {
                this.noData = true
            })
        },
        addItem () {
            const { accounts, product, quantity } = this.dataAddItem
            if (validate.isEmpty(accounts) || validate.isEmpty(product) || quantity <= 0) {
                this.alert = {
                    show: true,
                    status: 'warning',
                    title: 'Invalid Fields',
                    message: 'Please check and complete the Add Item form.'
                }
                return false
            }

            accounts.forEach(el => {
                this.addData.push({
                    network: el,
                    product: product,
                    qty: quantity
                })
            })

            this.dataAddItem = {accounts:[]}
        },
        removeItem (i) {
            const { network, product } = this.addData[i]
            if (validate.isEmpty(network) && validate.isEmpty(product)) return false
            this.addData.splice(i, 1)
        }
    },
    computed: {
        networks () {
            var items = [
                {type:2, text:'7K Binary', children:[]},
                {type:1, text:'3K Binary', children:[]},
                {type:0, text:'2K Millennium', children:[]},
            ]

            if (validate.isEmpty(this.member.networks)) return items

            this.member.networks.forEach(el => {
                var type = items.find(i => i.type == el.type)
                type.children.push(el)
            })
            
            items = items.filter(el => el.children.length >= 1)
            return items
        },
        total () {
            var total = 0
            this.addData.forEach(el => {
                const { product, qty } = el
                const price = (product.price_discounted === undefined) ? 0 : product.price_discounted
                total += Number(price * qty)
            })

            return total
        },
        sortedProducts () {
           var products = []
           productsCategories.forEach(el => {
               products.push({
                   name: el.toUpperCase(),
                   items: this.products.filter(p => p.category == el)
               })
           })

           return products.filter(el => el.items.length >= 1)
        },
    },
    watch: {
        addRemarks: {
            deep: true,
            handler (vals) {
                const cons = this.addRemarksConstraints
                for (const key in vals) {
                    this.errors[key] = validate.single(vals[key], cons[key])
                }
            }
        },
        "member.id" () {
            this.addData = []
        }
    }
}
</script>