<template>
    <div>
        <Alert v-model="alert.show" :status="alert.status" :title="alert.title" :message="alert.message" :response="alert.response" />
        <div class="relative">
            <Loader :show="loader"/>
            <div class="text-xl uppercase font-medium">Modify Networking Accounts</div>

            <div v-if="!noData">
                <div class="text-lg font-semibold">{{ member.fullname }}</div>
                <div class="p-4 bg-white rounded shadow-md mt-5">
                    <div class="flex flex-col gap-5">
                        <div>
                            <div class="font-medium mb-4">Change Sponsor</div>
                            <div class="flex flex-col md:flex-row md:items-end gap-4">
                                <div class="flex-1" :class="{error: changeSponsorErrors.network}">
                                    <label>Networking Account</label>
                                    <select class="input" v-model="changeSponsorData.network">
                                        <optgroup v-for="network in networks" :key="network.type" :label="network.text">
                                            <option v-for="(c, i) in network.children" :key="i" :value="c.id">{{ c.username }}</option>
                                        </optgroup>
                                    </select>
                                    <div class="italic text-sm mt-2" v-if="changeSponsorErrors.network">
                                        <div v-for="(e, i) in changeSponsorErrors.network" :key="i">{{ e }}</div>
                                    </div>
                                </div>
                                <div class="flex-1" :class="{error: changeSponsorErrors.sponsor}">
                                    <label>Sponsor networking username</label>
                                    <input type="text" class="input" v-model="changeSponsorData.sponsor">
                                    <div class="italic text-sm mt-2" v-if="changeSponsorErrors.sponsor">
                                        <div v-for="(e, i) in changeSponsorErrors.sponsor" :key="i">{{ e }}</div>
                                    </div>
                                </div>
                                <div>
                                    <button class="button-blue" @click="submitChangesSponsor()">Submit</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="font-medium mb-4">Transfer Account</div>
                            <div class="flex flex-col md:flex-row md:items-end gap-4">
                                <div class="flex-1" :class="{error: transferAccountErrors.network}">
                                    <label>Networking Account</label>
                                    <select class="input" v-model="transferAccountData.network">
                                        <optgroup v-for="network in networks" :key="network.type" :label="network.text">
                                            <option v-for="(c, i) in network.children" :key="i" :value="c.id">{{ c.username }}</option>
                                        </optgroup>
                                    </select>
                                    <div class="italic text-sm mt-2" v-if="transferAccountErrors.network">
                                        <div v-for="(e, i) in transferAccountErrors.network" :key="i">{{ e }}</div>
                                    </div>
                                </div>
                                <div class="flex-1" :class="{error: transferAccountErrors.account}">
                                    <label>Main account username</label>
                                    <input type="text" class="input" v-model="transferAccountData.account">
                                    <div class="italic text-sm mt-2" v-if="transferAccountErrors.account">
                                        <div v-for="(e, i) in transferAccountErrors.account" :key="i">{{ e }}</div>
                                    </div>
                                </div>
                                <div>
                                    <button class="button-blue" @click="submitTransferAccount()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else>
                <div class="text-center">
                    <div class="text-xl font-medium">No distributor selected</div>
                    <div>Search distributor first</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import API from '~/api'
import validate from 'validate.js'

import Alert from '~/components/Utilities/Alert.vue'
import Loader from '~/components/Utilities/Loader.vue'
export default {
    components: { Alert, Loader },
    data () {
        return {
            member: {},
            noData: false,
            constraintPresense: {
                presence: {
                    allowEmpty: false,
                    message: 'is required.'
                },
            },

            changeSponsorData:{},
            changeSponsorErrors:{},
            transferAccountData:{},
            transferAccountErrors:{},

            loader: false,
            errors: {},
            alert: {
                show: false,
                status: 'info'
            },
        }
    },
    created () {
        this.getMember()
        this.$watch(() => this.$route.query, () => {
            this.getMember()
        })
    },
    methods: {
        submitChangesSponsor () {
            const valid = validate(this.changeSponsorData, {
                network: this.constraintPresense,
                sponsor: this.constraintPresense,
            })

            if (!validate.isEmpty(valid)) {
                this.changeSponsorErrors = valid
                return false
            }

            this.loader = true
            API.post('/network_modify/sponsor', {
                ...this.changeSponsorData,
                networking_id: this.changeSponsorData.network
            })
            .then(res => {
                this.loader = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: "Sponsor changed successfully!",
                    message: "Members's profit has been changed."
                }
            })
            .catch(err => {
                this.loader = false
                if (err.response.data.errors !== undefined) this.changeSponsorErrors = err.response.data.errors
            })
        },
        submitTransferAccount () {
            const valid = validate(this.transferAccountData, {
                network: this.constraintPresense,
                account: this.constraintPresense,
            })

            if (!validate.isEmpty(valid)) {
                this.transferAccountErrors = valid
                return false
            }

            this.loader = true
            API.post('/network_modify/transfer', {
                ...this.transferAccountData,
                networking_id: this.transferAccountData.network
            })
            .then(res => {
                this.loader = false
                this.alert = {
                    show: true,
                    status: 'success',
                    title: "Account trasfered successfully!",
                    message: "Members's profit has been changed."
                }
            })
            .catch(err => {
                this.loader = false
                if (err.response.data.errors !== undefined) this.transferAccountErrors = err.response.data.errors
            })
        },
        getMember () {
            document.title = 'Modify Network'
            const id = this.$route.query.id
            if (validate.isEmpty(id)) {
                this.noData = true
                return false
            }

            this.loader = true
            API.get(`/member?id=${id}`)
            .then(res => {
                this.noData = false
                this.loader = false
                this.member = res.data
                document.title = 'Modify Network - '+this.member.fullname
            })
            .catch(() => {
                this.noData = true
                this.loader = false
            })
        },
    },
    computed: {
        networks () {
            var items = [
                {type:2, text:'7K Binary', children:[]},
                {type:1, text:'3K Binary', children:[]},
                {type:0, text:'2K Millennium', children:[]},
            ]

            if (validate.isEmpty(this.member.networks)) return items

            this.member.networks.forEach(el => {
                var type = items.find(i => i.type == el.type)
                type.children.push(el)
            })
            
            items = items.filter(el => el.children.length >= 1)
            return items
        },
    },
    watch: {
        changeSponsorData: {
            deep: true,
            handler () {
                this.changeSponsorErrors = {}
            }
        },
        transferAccountData: {
            deep: true,
            handler () {
                this.transferAccountErrors = {}
            }
        }
    }
}
</script>